@import url(/site_pages/contacts_page/style.css);

body,
html {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrap_1 {
  flex: 1 0 auto;
}

.wrap_2 {
  margin-top: 103px;
  flex: 0 0 auto;
}

a {
  text-decoration: none;
  color: #414141;
}

.flex {
  display: flex;
}

.header__searchLine-profile {
  background-image: url(/images/account_page/profile-icon-black.svg) !important;
}

.navigation {
  display: flex;
  margin-top: 30px;
  margin-left: 140px;
}
.navigation__start {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
}
.navigation__simbol {
  font-size: 12px;
  line-height: 14px;
  color: #575757;
  margin-left: 10px;
}
.navigation__end {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
  margin-left: 10px;
}

.bonus {
  display: flex;
  margin-left: 140px;
  margin-top: 40px;
  align-items: center;
}

.bonus__title {
  font-size: 16px;
  line-height: 19px;

}

.bonus__points {
  margin-left: 644px;
  font-size: 12px;
  line-height: 14px;

}

.bonus__rules {
  margin-left: 20px;
  font-size: 12px;
  line-height: 14px;
  color: #245462;
  text-decoration: none;
}

.benefits {
  margin-top: 30px;
  margin-left: 140px;
  width: 1140px;
  height: 57px;
  display: flex;
  background-color: #F8F8F8;
  align-items: center;
}

.benefits__el1 {
  display: flex;
  align-items: center;
  margin-left: 133px;
}

.benefits__el2 {
  display: flex;
  align-items: center;
  margin-left: 58px;
}

.benefits__el3 {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

.benefits__el1-text {
  font-size: 14px;
  line-height: 130%;
  margin-left: 15.26px;
}

.benefits__el2-text {
  font-size: 14px;
  line-height: 130%;
  margin-left: 15px;
}

.benefits__el3-text {
  font-size: 14px;
  line-height: 130%;
  margin-left: 15px;
}

.userData {
  display: flex;
  margin-bottom: 100px;
  margin-left: 140px;
  margin-top: 42px;
  width: 1140px;
  height: 406px;
}

.userData__info {
  width: 50%;
}

.userData__orders {
  width: 50%;
}

.userData__title {
  margin-top: 42px;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.userData__title-myOrders {
  margin-left: 450px;
}

.inputHeader-email {
  margin-left: 192px;
}

.inputHeader-style {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
}

.input_style {
  background: #FCFCFC;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.07);
  font-size: 12px;
  line-height: 14px;
  color: #686868;
}

.input-1 {
  margin-top: 5px;
  width: 183px;
  height: 38px;
  padding: 0 12px
}

.input-2 {
  margin-top: 5px;
  margin-left: 10px;
  width: 216px;
  height: 38px;
  padding: 0 12px
}

.mt10 {
  margin-top: 10px;
}

.inputHeader-number {
  margin-left: 164px;
}

.w433 {
  width: 433px;
}

.inputHeader-flat {
  margin-left: 56px;
}

.input-home {
  width: 93px;
  height: 38px;
  padding: 0 12px;
}

.input-flat {
  margin-left: 10px;
  width: 56px;
  height: 38px;
  padding: 0 12px;
}

.change_button {
  margin-top: 20px;
  margin-left: 356px;
  width: 101px;
  height: 40px;
  background-color: #245462;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  cursor: pointer;
}


.userData__orders-header {
  height: 30px;
  font-size: 12px;
  line-height: 147.69%;
  color: #686868;
}

.userData__head {
  margin-left: 140px;

}

.userData__header-product {
  padding-top: 5px;
  padding-left: 15px;
  width: 301px;
  border: 1px solid #F3F3F3;
}

.userData__header-price {
  padding-top: 5px;
  width: 66px;
  border: 1px solid #F3F3F3;
  text-align: center;
}

.userData__header-date {
  padding-top: 5px;
  width: 88px;
  border: 1px solid #F3F3F3;
  text-align: center;
}

.userData__header-status {
  padding-top: 5px;
  width: 88px;
  border: 1px solid #F3F3F3;
  text-align: center;
}

.userData__product{
  width: 318px;
  height: 90px;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
}

.product-img {
  padding-top: 25px;
  padding-left: 15px;
  width: 53.33px;
  height: 40px;
}

.product-name {
  padding-top: 38px;
  padding-left: 15.67px;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

.userData__price {
  padding-top: 36px;
  text-align: center;
  width: 68px;
  font-size: 12px;
  line-height: 147.69%;
  color: #686868;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
}

.userData__date {
  padding-top: 36px;
  text-align: center;
  width: 90px;
  font-size: 12px;
  line-height: 147.69%;
  color: #686868;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
}

.userData__status {
  padding-top: 36px;
  text-align: center;
  width: 90px;
  font-size: 12px;
  line-height: 147.69%;
  color: #686868;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
}

.userData__status2 {
  padding-top: 28px;
  text-align: center;
  width: 90px;
  font-size: 12px;
  line-height: 147.69%;
  color: #686868;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
}

.userData__all {
  margin-left: 490px;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  color: #245462;
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.change__userData {
  width: 300px;
  height: 50px;
  text-align: center;
  padding-top: 26px;
  border: 1px solid;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #245462;
  color: #fff;
}

@media (max-width:1024px) {

  .navigation, .bonus, .benefits, .userData__head, .userData {
    margin-left: 0;
  }
  .benefits__el1 {
    margin-left: 35px;
  }
  .benefits {
    width: 959px;
    margin: 30px auto;
  }
  .bonus__points {
    margin-left: 466px;
  }
  .userData {
    width: 959px;
    margin-bottom: 0;
  }
  
  .userData__all {
    margin-left: 402px;
  }

  .userData__title-myOrders {
    margin-left: 360px;
  }

  .footer {
    margin-top: 100px;
  }

}

@media (max-width:768px) {

  .bonus__title {
    font-size: 14px;
  }

  .bonus {
    flex-wrap: wrap;
    margin-top: 30px;
  }
  

  .bonus__points {
    margin-left: 226px;
  }

  .benefits {
    display: flex;
    width: 720px;
    margin: 30px auto;
    height: 40px;
    justify-content: space-between;
  }

  .benefits__el1, .benefits__el2, .benefits__el3 {
    margin-left: 0;
    align-self: center;
  }

  .benefits__el1-text, .benefits__el2-text, .benefits__el3-text {
    font-size: 13px;
    margin-left: 8px;
  }

  .benefits__el1-img, .benefits__el2-img, .benefits__el3-img {
    width: 22px;
  }

  .userData__title {
    margin-top: 0px;
    font-size: 14px;
  }

  .userData__title-myOrders {
    position: absolute;

  }

  .userData {
    width: 720px;
    flex-direction: column;
  }

  .userData__info {
    width: 100%;
  }

  .userData__orders {
    width: 100%;
    margin-top: 30px;
  }

  .inputHeader-email {
    margin-left: 335px;
  }

  .input-1, .input-2 {
    width: 326px;
  }

  .inputHeader-number {
    margin-left: 308px;
  } 
  
  .change_button {
    position: absolute;
    margin-top: -40px;
    margin-left: 619px;
  }

  .userData__header-product {
    width: 417px;
  }
  
  .userData__header-price {
    width: 80px;
  }

  .userData__header-date, .userData__header-status {  
    width: 100px;
  }

  .userData__product {
    width: 434px;
  }

  .userData__price {
    width: 82px;
  }

  .userData__date {
    width: 102px;
  }

  .userData__status {
    width: 102px;
  }

  .userData__status2 {
    width: 102px;
  }

  .userData__all {
    margin-left: 642px;
  }

  .footer {
    margin-top: 320px;
  }
}