@import url(/site_pages/contacts_page/style.css);

a {
  text-decoration: none;
  color: #414141;
}

.flex {
  display: flex;
}

.navigation {
  display: flex;
  margin-top: 30px;
  margin-left: 140px;
}
.navigation__start {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
}
.navigation__simbol {
  font-size: 12px;
  line-height: 14px;
  color: #575757;
  margin-left: 10px;
}
.navigation__end {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
  margin-left: 10px;
}

.bonus {
  display: flex;
  margin-left: 140px;
  margin-top: 40px;
}

.bonus__title {
  font-size: 16px;
  line-height: 19px;

}

.bonus__points {
  margin-left: 644px;
  font-size: 12px;
  line-height: 14px;

}

.bonus__rules {
  margin-left: 20px;
  font-size: 12px;
  line-height: 14px;
  color: #245462;
  text-decoration: none;
}

.benefits {
  margin-top: 30px;
  margin-left: 140px;
  width: 1140px;
  height: 57px;
  display: flex;
  background-color: #F8F8F8;
  align-items: center;
}

.benefits__el1 {
  display: flex;
  align-items: center;
  margin-left: 133px;
}

.benefits__el2 {
  display: flex;
  align-items: center;
  margin-left: 58px;
}

.benefits__el3 {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

.benefits__el1-text {
  font-size: 14px;
  line-height: 130%;
  margin-left: 15.26px;
}

.benefits__el2-text {
  font-size: 14px;
  line-height: 130%;
  margin-left: 15px;
}

.benefits__el3-text {
  font-size: 14px;
  line-height: 130%;
  margin-left: 15px;
}

.userData {
  display: flex;
  margin-left: 140px;
  margin-top: 42px;
  width: 1140px;
  height: 406px;
}

.userData__info {
  width: 50%;
}

.userData__orders {
  width: 50%;
}

.userData__title {
  margin-top: 42px;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.userData__title-myOrders {
  margin-left: 450px;
}

.inputHeader-email {
  margin-left: 192px;
}

.inputHeader-style {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
}

.input_style {
  background: #FCFCFC;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.07);
  font-size: 12px;
  line-height: 14px;
  color: #686868;
}

.input-1 {
  margin-top: 5px;
  width: 183px;
  height: 38px;
  padding: 0 12px
}

.input-2 {
  margin-top: 5px;
  margin-left: 10px;
  width: 216px;
  height: 38px;
  padding: 0 12px
}

.mt10 {
  margin-top: 10px;
}

.inputHeader-number {
  margin-left: 164px;
}

.w433 {
  width: 433px;
}

.inputHeader-flat {
  margin-left: 56px;
}

.input-home {
  width: 93px;
  height: 38px;
  padding: 0 12px;
}

.input-flat {
  margin-left: 10px;
  width: 56px;
  height: 38px;
  padding: 0 12px;
}

.change_button {
  margin-top: 20px;
  margin-left: 356px;
  width: 101px;
  height: 40px;
  background-color: #245462;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  cursor: pointer;
}


.userData__orders-header {
  height: 30px;
  font-size: 12px;
  line-height: 147.69%;
  color: #686868;
}

.userData__head {
  margin-left: 140px;

}

.userData__header-product {
  padding-top: 5px;
  padding-left: 15px;
  width: 301px;
  border: 1px solid #F3F3F3;
}

.userData__header-price {
  padding-top: 5px;
  width: 66px;
  border: 1px solid #F3F3F3;
  text-align: center;
}

.userData__header-date {
  padding-top: 5px;
  width: 88px;
  border: 1px solid #F3F3F3;
  text-align: center;
}

.userData__header-status {
  padding-top: 5px;
  width: 88px;
  border: 1px solid #F3F3F3;
  text-align: center;
}

.userData__product{
  width: 318px;
  height: 90px;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
}

.product-img {
  padding-top: 25px;
  padding-left: 15px;
  width: 53.33px;
  height: 40px;
}

.product-name {
  padding-top: 38px;
  padding-left: 15.67px;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

.userData__price {
  padding-top: 36px;
  text-align: center;
  width: 68px;
  font-size: 12px;
  line-height: 147.69%;
  color: #686868;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
}

.userData__date {
  padding-top: 36px;
  text-align: center;
  width: 90px;
  font-size: 12px;
  line-height: 147.69%;
  color: #686868;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
}

.userData__status {
  padding-top: 36px;
  text-align: center;
  width: 90px;
  font-size: 12px;
  line-height: 147.69%;
  color: #686868;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
}

.userData__status2 {
  padding-top: 28px;
  text-align: center;
  width: 90px;
  font-size: 12px;
  line-height: 147.69%;
  color: #686868;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
}

.userData__all {
  margin-left: 490px;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  color: #245462;
}

footer {
  margin-top: 170px;
  display: flex;
  position: absolute;
  margin-left: 0;
  margin-right: 0;
  width: 1400px;
  height: 234px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.03);
  justify-content: space-between;
}

.footer__navigation {
  width: 390px;
  height: 148px;
  margin-left: 130px;
  margin-top: 54px;
}

.footer__navigation-item {
  margin-top: 15px;
  display: grid;
  justify-content: space-between;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 0.7fr 1fr 1fr;
  grid-gap: 9px;
}

.footer__navigation-itemText{
  font-size: 14px;
  line-height: 126.69%;
  text-decoration: none;
  color: #3C3C3C;
}

.footer__navigation-item2 {
  display: flex;
  margin-top: 34px;
}

.footer__navigation-stock {

  text-decoration: none;
  font-size: 14px;
  line-height: 126.69%;
  color: #D74444;
}

.footer__navigation-newItems {
  text-decoration: none;
  font-size: 14px;
  line-height: 126.69%;
  margin-left: 30px;
  color: #414141;
}

.footer__navigation-rightSide {
  text-align: right;
}

.footer__contacts-logo {
  width: 60px;
  height: 49px;
  padding-right: 128px;
  padding-top: 49px;
}

.footer__navigation-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 126.69%;
}

.footer__contacts-adres {
  font-size: 14px;
  line-height: 126.69%;
  padding-right: 128px;
  padding-top: 20px;
  color: #414141;
}

.footer__contacts-contacts {
  display: flex;
  justify-content: space-between;
  padding-right: 128px;
  padding-top: 35px;
  align-items: center;
}

.footer__contacts-phoneImg {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.footer__contacts-phoneText {
  font-size: 14px;
  line-height: 126.69%;
  color: #414141;
  margin-right: 30px;
}

.footer__contacts-instagramImg {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.footer__contacts-instagramText {
  font-weight: 400;
  font-size: 12px;
  line-height: 126.69%;
  color: #414141;
  margin-right: 30px;
}

.footer__contacts-mailImg {
  width: 16.33px;
  height: 14px;
  margin-right: 10.67px;
}

.footer__contacts-mailText {
  font-size: 14px;
  line-height: 126.69%;
  color: #414141;
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.change__userData {
  width: 300px;
  height: 50px;
  text-align: center;
  padding-top: 26px;
  border: 1px solid;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #245462;
  color: #fff;
}

@media (max-width:1024px) {

  .navigation, .bonus, .benefits, .userData__head, .userData {
    margin-left: 0;
  }
  .benefits__el1 {
    margin-left: 35px;
  }
  .benefits {
    width: 959px;
    margin: 30px auto;
  }
  .bonus__points {
    margin-left: 466px;
  }
  .userData {
    width: 959px;
  }
  .userData__all {
    margin-left: 402px;
  }
  footer {
    width: 959px;
    margin-top: 70px;
  }
  .footer__navigation {
    margin-left: 0;
  }
  .footer__contacts-logo, .footer__contacts-adres, .footer__contacts-contacts {
    padding-right: 0;
  }
}