@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Regular.ttf") format('truetype'),
    url("/fonts/RobotoCondensed-Regular.ttf") format('truetype')
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}

body,
html {
  height: 100%;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrap_1 {
  flex: 1 0 auto;
}

.wrap_2 {
  flex: 0 0 auto;
}

a {
  text-decoration: none;
  color: #414141;
}

input::placeholder {
  color: #C4C4C4;
}

.flex {
  display: flex;
}

.header__searchLine-profile {
  background-image: url(/images/account_page/profile-icon-black.svg) !important;
}

.navigation {
  display: flex;
  margin-top: 30px;
}

.navigation__start {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
}

.navigation__simbol {
  font-size: 12px;
  line-height: 14px;
  color: #575757;
  margin-left: 10px;
}

.navigation__end {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
  margin-left: 10px;
}

.bonus {
  display: flex;
  margin-top: 40px;
  align-items: center;
}

.bonus__title {
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.bonus__points {
  margin-left: auto;
  font-size: 12px;
  line-height: 14px;
}

.bonus__rules {
  margin-left: 20px;
  font-size: 12px;
  line-height: 14px;
  color: #245462;
  text-decoration: none;
}

.benefits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  height: 57px;
  background-color: #F8F8F8;
}

.benefits__el1 {
  margin-left: 11.66666666666667%;
  display: flex;
  align-items: center;
}

.benefits__el2 {
  display: flex;
  align-items: center;
}

.benefits__el3 {
  display: flex;
  margin-right: 11.66666666666667%;
  align-items: center;
}

.benefits__el1-img {
  height: 25px;
  width: 26.74px;
  border-radius: 0px;
}

.benefits__el2-img {
  height: 25px;
  width: 25px;
  border-radius: 0px;
}

.benefits__el3-img {
  height: 22px;
  width: 22px;
}

.benefits__el1-img,
.benefits__el2-img,
.benefits__el3-img {
  animation: img-rotate 5s infinite alternate;
}

@keyframes img-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.benefits__el-text {
  margin-top: 3px;
  font-size: 14px;
  line-height: 130%;
  margin-left: 15.26px;
}

.userData {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  margin-top: 42px;
  width: 100%;
}

.userData__info {
  position: relative;
  width: 41.519%;
}

.userData__orders {
  display: flex;
  flex-direction: column;
  width: 53%;
}

.userData__title {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.userData__rowBox {
  justify-content: space-between;
}

.inputHeader-left {
  flex-basis: 42.68%;
}

.inputHeader-right {
  flex-basis: 54.68%;
}

.inputHeader-style {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
}

.inputHeader-flat {
  margin-left: 10px;
}

.input_style {
  background: #FCFCFC;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.07);
  font-size: 12px;
  line-height: 14px;
  color: #686868;
}

.input-1 {
  margin-top: 5px;
  width: 38%;
  height: 38px;
  padding: 0 12px;
}

.input-2 {
  margin-top: 5px;
  margin-left: 10px;
  width: 50%;
  height: 38px;
  padding: 0 12px;
}


.userData__inputStack {
  margin-top: 10px;
}

.userData__streetInput {
  width: 95.322%;
}

.inputHeader-house {
  width: 117px;
}


.input-home {
  width: 93px;
  height: 38px;
  padding: 0 12px;
}

.input-flat {
  margin-left: 10px;
  width: 56px;
  height: 38px;
  padding: 0 12px;
}

.change_button {
  position: absolute;
  right: 0;
  margin-top: 20px;
  width: 101px;
  height: 40px;
  background-color: #245462;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  cursor: pointer;
}


.userData__orders-header {
  height: 30px;
  font-size: 12px;
  line-height: 147.69%;
  color: #686868;
}

.userData__productUnit {
  position: relative;
}

.userData__header-product {
  padding-top: 5px;
  width: 58%;
  border: 1px solid #F3F3F3;
}

.userData__header-productText {
  margin-left: 15px;
}

.userData__header-price {
  padding-top: 5px;
  width: 13%;
  border: 1px solid #F3F3F3;
  text-align: center;
}

.userData__header-date {
  padding-top: 5px;
  width: 15%;
  border: 1px solid #F3F3F3;
  text-align: center;
}

.userData__header-status {
  padding-top: 5px;
  width: 14%;
  border: 1px solid #F3F3F3;
  text-align: center;
}

.userData__product {
  width: 58%;
  height: 90px;
  border: 1px solid #F3F3F3;
}

.product-img {
  padding-top: 25px;
  padding-left: 15px;
  width: 53.33px;
  height: 40px;
}

.product-name {
  padding-top: 38px;
  padding-left: 15.67px;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

.userData__price {
  padding-top: 36px;
  text-align: center;
  width: 13%;
  font-size: 12px;
  line-height: 147.69%;
  color: #686868;
  border: 1px solid #F3F3F3;
}

.userData__date {
  padding-top: 36px;
  text-align: center;
  width: 15%;
  font-size: 12px;
  line-height: 147.69%;
  color: #686868;
  border: 1px solid #F3F3F3;
}

.userData__status {
  padding-top: 36px;
  text-align: center;
  width: 14%;
  font-size: 12px;
  line-height: 147.69%;
  color: #686868;
  border: 1px solid #F3F3F3;
}

.userData__status2 {
  padding-top: 28px;
  text-align: center;
  width: 14%;
  font-size: 12px;
  line-height: 147.69%;
  color: #686868;
  border: 1px solid #F3F3F3;
}

.userData__all {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  color: #245462;
  width: 100%;
}

.change__userData {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 55px;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #245462;
  opacity: 0.8;
  color: #fff;
}

@media screen and (max-width:1240px) {
  .container {
    width: 1100px;
  }
}

@media screen and (max-width:1180px) {
  .container {
    width: 1040px;
  }

  .benefits__el1 {
    margin-left: 9%;
  }

  .benefits__el3 {
    margin-right: 9%;
  }
}

@media screen and (max-width:1120px) {
  .container {
    width: 1020px;
  }
}


@media screen and (max-width:1080px) {
  .container {
    width: 980px;
  }

  .benefits__el1 {
    margin-left: 5%;
  }

  .benefits__el3 {
    margin-right: 5%;
  }
}

@media screen and (max-width:1024px) {
  .container {
    width: 960px;
  }

  .userData__header-product,
  .userData__product {
    width: 55%;
  }

  .userData__header-status,
  .userData__status,
  .userData__status2 {
    width: 17%;
  }
}


@media screen and (max-width:980px) {
  .container {
    width: 900px;
  }

  .benefits__el-text {
    margin-top: 3px;
    margin-left: 5px;
  }
}

@media screen and (max-width:920px) {
  .container {
    width: 860px;
  }

  .benefits__el-text {
    font-size: 13px;
  }

  .benefits__el1-img {
    height: 22px;
    width: 23.74px;
  }

  .benefits__el2-img {
    height: 22px;
    width: 22px;
  }

  .benefits__el3-img {
    height: 20px;
    width: 20px;
  }
}

@media screen and (max-width:880px) {
  .container {
    width: 820px;
  }

  .userData__info {
    position: relative;
    width: 37.519%;
  }
}

@media screen and (max-width:840px) {

  .container {
    width: 720px;
  }

  .bonus__title {
    font-size: 14px;
  }

  .bonus {
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .benefits__el1 {
    margin-left: 5%;
    width: 33%;
  }

  .benefits__el2 {
    width: 60%;
    justify-content: center;
  }

  .benefits__el3 {
    margin-right: 5%;
    width: 34%;
  }

  .benefits__el-text {
    font-size: 13px;
    margin-left: 7px;
  }

  .benefits__el1-img,
  .benefits__el2-img,
  .benefits__el3-img {
    width: 22px;
    height: 22px;
  }

  .userData__title {
    font-size: 16px;
  }

  .userData {
    flex-direction: column;
  }

  .userData__info {
    width: 100%;
  }

  .userData__title-myOrders {
    margin-top: 35px;
  }

  .userData__orders {
    width: 100%;
    margin-top: 30px;
  }

  .inputHeader-left {
    flex-basis: 46%;
  }

  .inputHeader-right {
    flex-basis: 52%;
  }

  .input-1 {
    width: 44%;
    padding: 0px 1%;
  }

  .input-2 {
    margin-left: 0;
    width: 50%;
    padding: 0 1%;
  }

  .inputHeader-email {
    margin-left: 335px;
  }

  .change_button {
    position: absolute;
    margin-top: -40px;
    margin-left: 619px;
  }
}

@media screen and (max-width:768px) {
  .container {
    width: 720px;
  }
}

@media screen and (max-width:740px) {
  .container {
    width: 660px;
  }

  .benefits__el2 {
    width: 49%;
  }

}

@media screen and (max-width:680px) {
  .container {
    width: 600px;
  }

  .benefits__el1 {
    margin-left: 5%;
    width: 34%;
  }

  .benefits__el2 {
    width: 41%;
  }

  .benefits__el3 {
    margin-right: 5%;
    width: 35%;
  }
}

@media screen and (max-width:630px) {
  .container {
    width: 540px;
  }

  .benefits__el1 {
    margin-left: 4%;
    width: 31%;
  }

  .benefits__el2 {
    width: 35%;
  }

  .benefits__el3 {
    margin-right: 4%;
  }
}

@media screen and (max-width:560px) {
  .container {
    width: 480px;
  }

  .bonus__title {
    font-size: 16px;
    flex-basis: 100%;
    color: #245462;
  }

  .bonus__points {
    margin-top: 10px;
    margin-left: 0;
  }

  .bonus__rules {
    margin-left: auto;
    margin-top: 10px;
    color: #245462;
  }

  .benefits {
    margin-top: 40px;
    flex-direction: column;
    height: auto;
    background-color: initial;
  }

  .benefits__el1 {
    margin-left: 0;
    width: 100%;
  }

  .benefits__el-text {
    font-size: 15px;
    margin-top: 0;
  }

  .benefits__el2 {
    width: 100%;
    margin-top: 10px;
    justify-content: start;
  }

  .benefits__el3 {
    width: 100%;
    margin-top: 10px;
    margin-right: 0;
  }
}

@media screen and (max-width:500px) {
  .container {
    width: 400px;
  }

  .userData__orders-header {
    display: none;
  }

  .userData__product,
  .userData__price,
  .userData__date,
  .userData__status,
  .userData__status2 {
    border: none;
  }

  .userData__productUnit {
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #F3F3F3;
  }


  .userData__price,
  .userData__date,
  .userData__status {
    background-color: #F3F3F3;
  }

  .userData__product {
    flex-basis: 100%;
    height: 25px;
    width: 100%;
  }

  .product-img {
    padding-top: 10px;
  }

  .product-name {
    padding-top: 22px;
    padding-left: 10px;
  }

  .userData__price,
  .userData__date,
  .userData__status {
    padding-top: 3px;
    margin-top: 28px;
  }

  .userData__status2 br {
    display: none;
  }

  .userData__status2 {
    padding-top: 0;
    margin-top: 0;
  }

  .userData__price {
    margin-left: 5px;
    padding-left: 10px;
    flex-basis: 25%;
    font-size: 12px;
  }

  .userData__price::before {
    content: "Цена: ";
  }

  .userData__date::before {
    content: "Дата: ";
  }

  .userData__date {
    width: 95px;
  }

  .userData__status {
    margin-right: 5px;
    flex-basis: 25%;
  }
}


@media screen and (max-width:420px) {
  .container {
    width: 360px;
  }
}

@media screen and (max-width:380px) {
  .container {
    width: 330px;
  }
}

@media screen and (max-width:340px) {
  .container {
    width: 290px;
  }
}