@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Regular.ttf") format('truetype'),
       url("/fonts/RobotoCondensed-Regular.ttf") format('truetype')
}

* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  font-size: 14px;
  color: #414141;
}

input#search {
  background-image: url(/images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 15px 12px;
  text-indent: 35px;
  padding: 0 10px 0 10px;
}

.container {
  width: 1400px;
  margin: 0 auto;
}


.header__sections {
  display: flex;
  flex-wrap: wrap;
  height: 115px;
  font-size: 14px;
  line-height: 16.41px;
}

.header__sections a {
  color: #414141;
  text-decoration: none;
  margin-top: 59px;
}

.header__sections-main {
  margin-left: 34.04px;

}

.header__sections-about {
  margin-left: 30px;
}

.header__sections-contacts {
  margin-left: 30px;
}

.header__phone-icon{
  margin-left: 32px;
  margin-top: 58px;
  width: 17px;
  height: 17px;
}

.header__sections-phone {
  margin-left: 11px;
}

.header__delivery-icon{
  margin-left: 30px;
  width: 29px;
  height: 16.92px;
  margin-top: 59.46px;
}


.header__sections-delivery {
  margin-left: 10px;
}

.header__searchLine{
  display: flex;
}

.header__logo {
  margin-top: 56px;
  margin-left: 140px;
  height: 25px;
  width: 112.96px;
}

.header__searchLine-input {
  border: 1px solid #E5E5E5;
  width: 280px;
  height: 40px;
  margin-left: 40px;
  margin-top: 46px;
}

.header__searchLine-alarm2{
  position: absolute;
  width: 8px;
  height: 8px;
  margin-left: 1222px;
  margin-top: 61px;
}



.header__searchLine-wishlist {
  margin-left: 40px;
  margin-top: 59px;
  width: 19.83px;
  height: 17px;
}

.header__searchLine-bag {
  margin-left: 30.17px;
  margin-top: 59px;
  width: 15.13px;
  height: 18px;
  background-image: url(/images/bag.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.header__searchLine-profile {
  position: absolute;
  background-image: url("/images/profile-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 1266px;
  margin-top: 36px;
  width: 14.87px;
  height: 19px;
}

.header__menu {
  display: flex;
  width: 1140px;
  height: 70px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  margin-left: 140px;
  margin-top: 20px;
}

.header__menu-cell {
  display: flex;
  text-align: center;
}

.header__menu-cell:hover {
  background-color: #245462;
  color: #fff;
}

.header__menu-kitchen-icon {
  width: 23px;
  height: 23px;
  padding-top: 23px;
  padding-left: 25px;
}

.header__menu-kitchen-text {
  padding-top: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-right: 25px;

}
.header__menu-bedroom-icon {
  width: 28px;
  height: 22.22px;
  padding-left: 25px;
  padding-top: 24px;
}
.header__menu-bedroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-right: 25px;
  padding-top: 25px;
}
.header__menu-livingroom-icon {
  width: 30px;
  height: 22.03px;
  padding-left: 25px;
  padding-top: 24px;
}
.header__menu-livingroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-top: 25px;
  padding-right: 25px;
}
.header__menu-closet-icon {
  width: 21.91px;
  height: 22px;
  padding-left: 25px;
  padding-top: 24px;
}
.header__menu-closet-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10.04px;
  padding-top: 25px;
  padding-right: 25px;
}
.header__menu-office-icon {
  width: 22px;
  height: 22px;
  padding-left: 25px;
  padding-top: 24px;
}
.header__menu-office-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-top: 25px;
  padding-right: 25px;
}
.header__menu-childrensroom-icon {
  width: 22px;
  height: 22px;
  padding-left: 25px;
  padding-top: 24px;
}
.header__menu-childrensroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-top: 25px;
  padding-right: 25px;
}
.header__menu-stock-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  color: #D74444;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
}

.header__menu-stock-text:hover {
  color: #fff;
}


.header__menu-etc-icon {
  width: 4.27px;
  height: 14px;
  padding-left: 25px;
  padding-top: 28px;
  padding-right: 25px;
}

.dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  font-size: 14px;
  line-height: 16px;
  background-color: #fff;
  z-index: 99;
  width: 189px;
  text-align: start;
  padding-left: 15px;
  padding-bottom: 25px;
  margin-top: 70px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}


.kitchen:hover .dropdown__kitchen {
  display: flex;
}

.bedroom:hover .dropdown__bedroom {
  display: flex;
}

.livingroom:hover .dropdown__livingroom {
  display: flex;
}

.closet:hover .dropdown__closet {
  display: flex;
}

.office:hover .dropdown__office {
  display: flex;
}

.menu-stock:hover .dropdown__menu-stock {
  display: flex;
  width: 151px;
  padding-bottom: 25px;;
}

.childrensroom:hover .dropdown__childrensroom {
  display: flex;
}

.dropdown a {
  margin-top: 25px;
  text-decoration: none;

}

.navigation {
  display: flex;
  margin-top: 30px;
  margin-left: 140px;
}
.navigation__start {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
}
.navigation__simbol {
  font-size: 12px;
  line-height: 14px;
  color: #575757;
  margin-left: 10px;
}
.navigation__end {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
  margin-left: 10px;
}

.bonus {
  display: flex;
  margin-left: 140px;
  margin-top: 40px;
}

.bonus__title {
  font-size: 16px;
  line-height: 19px;

}

.bonus__points {
  margin-left: 644px;
  font-size: 12px;
  line-height: 14px;

}

.bonus__rules {
  margin-left: 20px;
  font-size: 12px;
  line-height: 14px;
  color: #245462;
  text-decoration: none;
}

.benefits {
  margin-top: 30px;
  margin-left: 140px;
  width: 1140px;
  height: 57px;
  display: flex;
  background-color: #F8F8F8;
  align-items: center;

}

.benefits__el1 {
  display: flex;
  align-items: center;
  margin-left: 133px;
}

.benefits__el2 {
  display: flex;
  align-items: center;
  margin-left: 58px;
}

.benefits__el3 {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

.benefits__el1-text {
  font-size: 14px;
  line-height: 130%;
  margin-left: 15.26px;
}

.benefits__el2-text {
  font-size: 14px;
  line-height: 130%;
  margin-left: 15px;
}

.benefits__el3-text {
  font-size: 14px;
  line-height: 130%;
  margin-left: 15px;
}

.userData {
  display: flex;
  margin-left: 140px;
  margin-top: 42px;
  width: 1140px;
  height: 484px;
}

.userData__info {
  width: 50%;
}

.userData__orders {
  width: 50%;
}

.userData__info-title {
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.flex {
  display: flex;
}

.mt30 {
  margin-top: 30px;
}

.inputHeader-email {
  margin-left: 192px;
}

.inputHeader-style {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
}

.input_style {
  background: #FCFCFC;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.07);
  font-size: 12px;
  line-height: 14px;
  color: #686868;
}

.input-1 {
  margin-top: 5px;
  width: 183px;
  height: 38px;
  padding: 0 12px
}

.input-2 {
  margin-top: 5px;
  margin-left: 10px;
  width: 216px;
  height: 38px;
  padding: 0 12px
}

.mt10 {
  margin-top: 10px;
}

.inputHeader-number {
  margin-left: 164px;
}

.w433 {
  width: 433px;
}

.inputHeader-flat {
  margin-left: 57px;
}

.input-home {
  width: 93px;
  height: 38px;
  padding: 0 12px;
}

.input-flat {
  margin-left: 10px;
  width: 56px;
  height: 38px;
  padding: 0 12px;
}

.change_button {
  margin-top: 20px;
  margin-left: 356px;
  width: 101px;
  height: 40px;
  background-color: #245462;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
}