@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Regular.ttf") format('truetype'),
       url("/fonts/RobotoCondensed-Regular.ttf") format('truetype')
}

* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}

input#search {
  background-image: url(/images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 13px 12px;
  text-indent: 35px;
  padding: 1px 14px 0px 14px;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.header__sections {
  display: flex;
  flex-wrap: wrap;
  height: 115px;
  font-size: 14px;
  line-height: 16.41px;
}

.header__sections a {
  color: #414141;
  text-decoration: none;
  margin-top: 57px;
}

.hamburger-menu {
  display: none;
}

.header__sections-main {
  margin-left: 37.04px;
}

.header__sections-about {
  margin-left: 33px;
}

.header__sections-contacts {
  margin-left: 33px;
}

.header__sections-phone {
  margin-left: 11px;
}

.header__phone-icon {
  margin-left: 32px;
  margin-top: 55px;
  width: 19px;
  height: 19px;
}

.header__delivery-icon {
  margin-left: 34px;
  width: 32px;
  height: 17.92px;
  margin-top: 56.46px;
}

.header__sections-delivery {
  margin-left: 10px;
}

.header__searchLine{
  display: flex;
}

.header__logo {
  margin-top: -5px;
  margin-left: 140px;
  height: 26px;
  width: 112.96px;
}

.header__searchLine-input {
  border: 1px solid #E5E5E5;
  width: 257px;
  height: 39px;
  margin-left: 43px;
  margin-top: 42px;
}

.header__searchLine-wishlist {
  margin-left: 41px;
  margin-top: 54px;
  width: 22.83px;
  height: 19px;
}

.header__searchLine-alarm2 {
  position: absolute;
  width: 8px;
  height: 8px;
  margin-left: 1248px;
  margin-top: 56px;
  z-index: 999;
}

.header__searchLine-bag {
  margin-left: 23px;
  margin-top: 54px !important;
  width: 17.13px;
  height: 20px;
  background-image: url(/images/bag.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.header__searchLine-profile {
  background-image: url("/images/profile-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 23px;
  margin-top: 54px !important;
  width: 16.87px;
  height: 21px;
}

.header__menu {
  display: flex;
  width: 1140px;
  height: 70px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  margin-left: 160px;
  margin-top: 20px;
}

.header__menu-cell {
  display: flex;
  text-align: center;
}

.header__menu-cell:hover {
  background-color: #245462;
  color: #fff;
}

.header__menu-kitchen-icon {
  width: 23px;
  height: 23px;
  padding-top: 23px;
  padding-left: 25px;
}

.header__menu-kitchen-text {
  padding-top: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-right: 25px;

}
.header__menu-bedroom-icon {
  width: 28px;
  height: 22.22px;
  padding-left: 25px;
  padding-top: 24px;
}
.header__menu-bedroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-right: 25px;
  padding-top: 25px;
}
.header__menu-livingroom-icon {
  width: 30px;
  height: 22.03px;
  padding-left: 25px;
  padding-top: 24px;
}
.header__menu-livingroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-top: 25px;
  padding-right: 25px;
}
.header__menu-closet-icon {
  width: 21.91px;
  height: 22px;
  padding-left: 25px;
  padding-top: 24px;
}
.header__menu-closet-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10.04px;
  padding-top: 25px;
  padding-right: 25px;
}
.header__menu-office-icon {
  width: 22px !important;
  height: 22px;
  padding-left: 25px;
  padding-top: 24px;
}
.header__menu-office-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-top: 26px;
  padding-right: 25px;
}
.header__menu-childrensroom-icon {
  width: 22px;
  height: 22px;
  padding-left: 25px;
  padding-top: 24px;
}
.header__menu-childrensroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-top: 25px;
  padding-right: 25px;
}
.header__menu-stock-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  color: #D74444;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
}

.header__menu-etc-icon {
  position: absolute;
  width: 4.27px;
  height: 17px;
  margin-top: -70px;
  margin-left: 1210px;
  padding-left: 19px;
  padding-top: 27px;
  padding-right: 25px;
}

.header__menu-stock-text:hover {
 color: #fff;
}

.dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  font-size: 14px;
  line-height: 16px;
  background-color: #fff;
  z-index: 99;
  width: 189px;
  text-align: start;
  padding-left: 15px;
  padding-bottom: 25px;
  margin-top: 70px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}


.kitchen:hover .dropdown__kitchen {
  display: flex;
}

.bedroom:hover .dropdown__bedroom {
  display: flex;
}

.livingroom:hover .dropdown__livingroom {
  display: flex;
}

.closet:hover .dropdown__closet {
  display: flex;
}

.office:hover .dropdown__office {
  display: flex;
}

.menu-stock:hover .dropdown__menu-stock {
  display: flex;
  width: 151px;
  padding-bottom: 25px;;
}

.childrensroom:hover .dropdown__childrensroom {
  display: flex;
}

.dropdown a {
  margin-top: 25px;
  text-decoration: none;
  color: #414141;
}

.navigation {
  display: flex;
  margin-top: 30px;
  margin-left: 140px;
}
.navigation__start {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
}
.navigation__simbol {
  font-size: 12px;
  line-height: 14px;
  color: #575757;
  margin-left: 10px;
}
.navigation__end {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
  margin-left: 10px;
}

.contacts {
  display: flex;
  justify-content: space-between;
}

.contacts__title {
  color: #414141;
  margin-left: 140px;
  margin-top: 40px;
}

.contacts__form {
  width: 467px;
  height: 288px;
  margin-left: 140px;
  margin-top: 35px;
}

.contacts__form-nameMailLabels{
  display: flex;
}

.contacts__form-nameLable {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
}

.contacts__form-emailLable {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
  margin-left: 161px;
}

.contacts__form-nameMailInputs {
  display: flex;
}

.contacts__form-nameInput {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 207px;
  height: 38px;
  margin-top: 5px;
  font-size: 12px;
  line-height: 14px;
  color: #3C3C3C;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.07);
}

.contacts__form-emailInput {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 240px;
  height: 38px;
  margin-top: 5px;
  font-size: 12px;
  line-height: 14px;
  margin-left: 5px;
  color: #3C3C3C;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.07);
}

.contacts__form-messageLable {
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
  color: #969696;
}

.contacts__form-messageInput {
  height: 142px;
  width: 100%;
  margin-top: 5px;
  padding: 0;
  font-size: 12px;
  line-height: 14px;
  color: #3C3C3C;
  resize: none;
  box-shadow: inset 1px 1px 5px rgb(0 0 0 / 7%);
}

.contacts__form-fileButton {
  padding-top: 13px;
  padding-left: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  font-family: Roboto;
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
  color: #414141;
  width: 149px;
  margin-left: 178px;
  margin-top: 20px;
}

.contacts__form-fileButtonInput {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 100%;
}

.contacts__form-fileButtonText{
  font-size: 13px;
  line-height: 15px;
  color: #414141;
}

.contacts__form-fileButtonInput:focus ~ .contacts__form-fileButtonLable{
  color: #6979F8;
}
.contacts__form-fileButtonInput:focus ~ .contacts__form-fileButtonLable .contacts__form-fileButtonIcon {
  border-color: #3444c3;
}

.contacts__form-fileAndSubmit {
  display: flex;
  justify-content: space-between;
}

.contacts__form-submit {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  width: 106px;
  height: 40px;
  margin-left: 40px;
  margin-top: 20px;
  background-color: #245462;
  color: #fff
}

.contacts__rightSideArea {
  margin-right: 349px;
}

.contacts__phoneAndMail {
  display: flex;
  font-size: 14px;
  line-height: 126.69%;
  text-align: right;
  color: #414141;
  align-items: center;
  margin-top: 113px;
}

.contacts__phone--img {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.contacts__phone {
  text-decoration: none;
  font-size: 14px;
  line-height: 126.69%;
  text-align: right;
  color: #414141;
  margin-right: 37px;
}

.contacts__mail--img {
  width: 18px;
  height: 14px;
  margin-right: 10.67px;
}

.contacts__mail {
  color: #414141;
}

.contacts__instagram {
  display: flex;
  align-items: center;
}

.contacts__instagram--img {
  width: 15px;
  height: 15px;
  margin-top: 25px;
  margin-right: 10px;
}

.contacts__instagramText {
  font-size: 12px;
  line-height: 126.69%;
  color: #414141;
  margin-top: 26px;
  text-decoration: none;
}

.contacts__address {
  font-size: 14px;
  line-height: 126.69%;
  text-align: right;
  color: #414141;
  margin-top: 30px;
  padding: -30px;
  text-align: left;
}

.map__title {
  margin-top: 62px;
  margin-left: 130px;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.map__map {
  margin-top: 30px;
  margin-left: 130px;
  position: relative;
  margin-bottom: 70px;
}

footer {
  display: flex;
  position: absolute;
  margin-left: 0;
  margin-right: 0;
  width: 1400px;
  height: 234px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.03);
  justify-content: space-between;
}

.footer__navigation {
  width: 390px;
  height: 148px;
  margin-left: 130px;
  margin-top: 54px;
}

.footer__navigation-item {
  margin-top: 15px;
  display: grid;
  justify-content: space-between;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 0.7fr 1fr 1fr;
  grid-gap: 9px;
}

.footer__navigation-itemText{
  font-size: 14px;
  line-height: 126.69%;
  text-decoration: none;
  color: #3C3C3C;
}

.footer__navigation-item2 {
  display: flex;
  margin-top: 34px;
}

.footer__navigation-stock {

  text-decoration: none;
  font-size: 14px;
  line-height: 126.69%;
  color: #D74444;
}

.footer__navigation-newItems {
  text-decoration: none;
  font-size: 14px;
  line-height: 126.69%;
  margin-left: 30px;
  color: #414141;
}

.footer__navigation-rightSide {
  text-align: right;
}

.footer__contacts-logo {
  width: 60px;
  height: 49px;
  padding-right: 128px;
  padding-top: 49px;
}

.footer__navigation-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 126.69%;
}

.footer__contacts-adres {
  font-size: 14px;
  line-height: 126.69%;
  padding-right: 128px;
  padding-top: 20px;
  color: #414141;
}

.footer__contacts-contacts {
  display: flex;
  justify-content: space-between;
  padding-right: 128px;
  padding-top: 35px;
  align-items: center;
}

.footer__contacts-phoneImg {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.footer__contacts-phoneText {
  font-size: 14px;
  line-height: 126.69%;
  color: #414141;
  margin-right: 30px;
}

.footer__contacts-instagramImg {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.footer__contacts-instagramText {
  font-weight: 400;
  font-size: 12px;
  line-height: 126.69%;
  color: #414141;
  margin-right: 30px;
}

.footer__contacts-mailImg {
  width: 16.33px;
  height: 14px;
  margin-right: 10.67px;
}

.footer__contacts-mailText {
  font-size: 14px;
  line-height: 126.69%;
  color: #414141;
}

/* owl carousel start */
.slide {
  height: 70px;
  margin-left: 0;
  margin-right: 0;
}

.owl-item:hover {
  color: #fff;
  height: 1000px;
}

.owl-stage {
  width: 1125px !important;
}
/* owl carousel end */

@media (max-width:1024px) {
  
  .container {
    margin: 0 32px;
    width: 960px;
  }
  header {
    width: 960px;
  }
  .header__searchLine {
    width: 959px;
  }
  .about__textBlock-head::before {
    display: none;
  }
  .about {
    margin-left: 0;
    width: 959px;
    justify-content: space-between;
  }

  .hamburger-menu {
    display: block;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked ~ .menu__btn > .hamburger__topline {
    transform: scaleX(1);
  }
  #menu__toggle:checked ~ .menu__btn > .hamburger__midline {
    transform: scaleX(0.6) translateX(6px);
  }
  #menu__toggle:checked ~ .menu__btn > .hamburger__botline {
    transform: scaleX(0.4) translateX(13px);
  }
  .menu__btn {
    display: flex;
    margin-left: 0px;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .hamburger__topline,
  .hamburger__midline ,
  .hamburger__botline {
    display: block;
    position: absolute;
    width: 18.33px;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .hamburger__topline {
    content: '';
    top: 48px;
  }
  .hamburger__midline {
    content: '';
    top: 52px;
  }
  .hamburger__botline {
    content: '';
    top: 56px;
  }
  .menu__box {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: -32px;
    margin-top: -78px !important;
    visibility: hidden;
    width: 227px;
    list-style: none;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
    transition-duration: .25s;
    z-index: 9999;
  }
  .menu__box a {
    text-decoration: none;
    color: #414141;
  }
  .menu__closeBtn {
    position: absolute;
    margin-left: 194px;
    margin-top: 22px !important;
    width: 20px;
    height: 20px;
    background-image: url('/images/title_images/adaptive_960px/x.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
  .menu__h {
    height: 15px;
    font-size: 13px;
    padding-top: 23px;
    padding-bottom: 15px;
    margin-left: 26px;
  }
  .menu__category {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .menu__item {
    display: block;
    margin-left: 26px;
    height: 31px;
    padding-top: 15px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #414141;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #61ad94;
  }
  .menu__about::before {
    content: '';
    background-image: url(/images/title_images/adaptive_960px/Vector.svg);
    background-repeat: no-repeat;
    background-position: 0px 1px;
    background-size: 10px 11px;
    padding-right: 35px;
  }
  .menu__home::before {
    content: '';
    background-image: url(/images/title_images/adaptive_960px/Home.svg);
    background-repeat: no-repeat;
    background-position: 0px -2px;
    padding-right: 35px;
  }
  .menu__contacts::before {
    content: '';
    background-image: url(/images/title_images/adaptive_960px/@.svg);
    background-repeat: no-repeat;
    background-position: 0px 1px;
    background-size: 13px 13px;
    padding-right: 35px;
  }
  .menu__kitchen::before {
    content: '';
    background-image: url(/images/title_images/adaptive_960px/kitchen-icon.svg);
    background-repeat: no-repeat;
    background-position: 0px 1px;
    background-size: 13px 13px;
    padding-right: 35px;
  }
  .menu__bedroom::before {
    content: '';
    background-image: url(/images/title_images/adaptive_960px/bedroom-icon.svg);
    background-repeat: no-repeat;
    background-position: 0px 1px;
    background-size: 17px 13px;
    padding-right: 35px;
  }
  .menu__livingroom::before {
    content: '';
    background-image: url(/images/title_images/adaptive_960px/livingroom-icon.svg);
    background-repeat: no-repeat;
    background-size: 17px 13px;
    padding-right: 35px;
  }
  .menu__hallways::before {
    content: '';
    background-image: url(/images/title_images/adaptive_960px/closet-icon.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    padding-right: 35px;
  }
  .menu__office::before {
    content: '';
    background-image: url(/images/title_images/adaptive_960px/office-icon.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    padding-right: 35px;
  }
  .menu__childrensroom::before {
    content: '';
    background-image: url(/images/title_images/adaptive_960px/childrensroom-icon.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    padding-right: 35px;
  }
  .menu__stock a{
    color: #E92D2D;
  }
  .menu__stock::before {
    content: '';
    background-image: url(/images/title_images/adaptive_960px/stock.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    padding-right: 35px;
  }
  .menu__novelty::before {
    content: '';
    background-image: url(/images/title_images/adaptive_960px/novelty.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    padding-right: 35px;
  }
  .menu__mattress::before {
    content: '';
    background-image: url(/images/title_images/adaptive_960px/mattress.svg);
    background-repeat: no-repeat;
    background-size: 19px 14px;
    padding-right: 35px;
  }
  .menu__softFurniture::before {
    content: '';
    background-image: url(/images/title_images/adaptive_960px/armchair.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    padding-right: 35px;
  }
  .menu__cupboard::before {
    content: '';
    background-image: url(/images/title_images/adaptive_960px/cupboard.svg);
    background-repeat: no-repeat;
    background-size: 12px 14px;
    padding-right: 35px;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  .header__sections-main, .header__sections-about, .header__sections-contacts {
    display: none;
  }
  .header__sections a, .header__sections input, .header__sections img {
    margin-top: 0 !important;
    font-size: 13px;
  }
  .header__searchLine-alarm2 {
    margin-left: 913px;
    padding-bottom: 5px !important;
  }
  .header__logo {
    margin-left: 15px;
  }
  .header__searchLine-input {
    width: 223px;
    height: 50px;
  }
  input#search {
    background-position: 15px 18px;
  }
  .header__sections {
    align-items: center;
  }
  .header__menu {
    width: 959px;
    margin-left: 0;
  }
  .header__menu img {
    padding-left: 15px;
  }

  .header__menu-cell h2, .header__menu-cell img {
    padding-left: 13px;
    font-size: 14px;
  }
  .header__menu-kitchen-icon {
    padding-left: 0 !important;
  }
  .header__menu-office-text {
    width: 127px;
  }
  .header__searchLine-wishlist{
    margin-left: 107px;
  }
  .header__menu-stock-text {
    padding-left: 5px;
    padding-right: 5px;
  }

  .no-js .owl-carousel, .owl-carousel.owl-loaded{
    width: 888px;
    margin: 10px auto;
  }

  .owl-stage-outer {
    width: 858px;
  }

  .header__menu-etc-icon {
    margin-top: -81px;
    margin-left: 918px;
    padding-left: 0;
  }
  .navigation, .contacts__title, .contacts__form, .map__title {
    margin-left: 0;
  }
  .contacts__rightSideArea {
    margin-right: 0;
  }
  .contacts__phoneAndMail {
    margin-top: 122px;
  }
  .map__map {
    width: 959px;
    margin-left: 0;
  }
  footer {
    width: 959px;
  }
  .footer__navigation {
    margin-left: 0;
  }
  .footer__contacts-logo, .footer__contacts-adres, .footer__contacts-contacts {
    padding-right: 0;
  }
}