@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Regular.ttf") format('truetype'),
       url("/fonts/RobotoCondensed-Regular.ttf") format('truetype')
}

* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}

.container {
  width: 1400px;
  margin: 0 auto;
}


.header__sections {
  display: flex;
  flex-wrap: wrap;
  height: 115px;
  font-size: 14px;
  line-height: 16.41px;
}

.header__sections a {
  color: #414141;
  text-decoration: none;
  margin-top: 59px;
}

.header__sections-main {
  margin-left: 34.04px;

}

.header__sections-about {
  margin-left: 30px;
}

.header__sections-contacts {
  margin-left: 30px;
}

.header__phone-icon{
  margin-left: 32px;
  margin-top: 58px;
  width: 17px;
  height: 17px;
}

.header__sections-phone {
  margin-left: 11px;
}

.header__delivery-icon{
  margin-left: 30px;
  width: 29px;
  height: 16.92px;
  margin-top: 59.46px;
}


.header__sections-delivery {
  margin-left: 10px;
}

.header__searchLine{
  display: flex;
}

.header__logo {
  margin-top: 56px;
  margin-left: 140px;
  height: 25px;
  width: 112.96px;
}

.header__searchLine-input {
  border: 1px solid #E5E5E5;
  width: 280px;
  height: 40px;
  margin-left: 40px;
  margin-top: 46px;
}

.header__searchLine-icon {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-left: 554px;
  margin-top: 59px;
}

.header__searchLine-text {
  position: absolute;
  color: #414141;
  margin-left: 582px;
  margin-top: 59px;
}

.header__searchLine-wishlist {
  margin-left: 40px;
  margin-top: 58px;
  width: 19.83px;
  height: 17px;
}

.header__searchLine-bag {
  margin-left: 30.17px;
  margin-top: 58px;
  width: 15.13px;
  height: 18px;
}

.header__searchLine-alarm {
  position: absolute;
  margin-left: 1225px;
  margin-top: 59px;
}

.header__searchLine-profile {
  margin-left: 33.87px;
  margin-top: 59px;
  width: 12.87px;
  height: 18px;
}

.header__menu {
  display: flex;
  width: 1140px;
  height: 70px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  margin-left: 140px;
  margin-top: 20px;
}

.header__menu-kitchen-icon {
  width: 23px;
  height: 23px;
  padding-left: 40px;
  padding-top: 23px;
}
.header__menu-kitchen-text {
  padding-left: 10px;
  padding-top: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}
.header__menu-bedroom-icon {
  width: 28px;
  height: 22.22px;
  padding-left: 50px;
  padding-top: 24px;
}
.header__menu-bedroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-top: 25px;
}
.header__menu-livingroom-icon {
  width: 30px;
  height: 22.03px;
  padding-left: 50px;
  padding-top: 24px;
}
.header__menu-livingroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-top: 25px;
}
.header__menu-closet-icon {
  width: 21.91px;
  height: 22px;
  padding-left: 50px;
  padding-top: 24px;
}
.header__menu-closet-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10.04px;
  padding-top: 25px;
}
.header__menu-office-icon {
  width: 22px;
  height: 22px;
  padding-left: 50px;
  padding-top: 24px;
}
.header__menu-office-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-top: 25px;
}
.header__menu-childrensroom-icon {
  width: 22px;
  height: 22px;
  padding-left: 50px;
  padding-top: 24px;
}
.header__menu-childrensroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-top: 25px;
}
.header__menu-stock-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  color: #D74444;
  padding-left: 50.04px;
  padding-top: 25px;
}

.header__menu-etc-icon {
  width: 4.27px;
  height: 14px;
  padding-left: 47px;
  padding-top: 28px;
}

.navigation {
  display: flex;
  margin-top: 30px;
  margin-left: 140px;
}
.navigation__start {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
}
.navigation__simbol {
  font-size: 12px;
  line-height: 14px;
  color: #575757;
  margin-left: 10px;
}
.navigation__end {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
  margin-left: 10px;
}

.contacts {
  display: flex;
  justify-content: space-between;
}

.contacts__title {
  color: #414141;
  margin-left: 140px;
  margin-top: 40px;
}

.contacts__form {
  width: 467px;
  height: 288px;
  margin-left: 140px;
  margin-top: 35px;
}

.contacts__form-nameMailLabels{
  display: flex;
}

.contacts__form-nameLable {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
}

.contacts__form-emailLable {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
  margin-left: 161px;
}

.contacts__form-nameMailInputs {
  display: flex;
}

.contacts__form-nameInput {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 207px;
  height: 38px;
  margin-top: 5px;
  font-size: 12px;
  line-height: 14px;
  color: #3C3C3C;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.07);
}

.contacts__form-emailInput {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 240px;
  height: 38px;
  margin-top: 5px;
  font-size: 12px;
  line-height: 14px;
  margin-left: 5px;
  color: #3C3C3C;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.07);
}

.contacts__form-messageLable {
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
  color: #969696;
}

.contacts__form-messageInput {
  height: 142px;
  width: 100%;
  margin-top: 5px;
  padding: 0;
  font-size: 12px;
  line-height: 14px;
  color: #3C3C3C;
  resize: none;
  box-shadow: inset 1px 1px 5px rgb(0 0 0 / 7%);
}

.contacts__form-fileButton {
  padding-top: 13px;
  padding-left: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  font-family: Roboto;
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
  color: #414141;
  width: 149px;
  margin-left: 178px;
  margin-top: 20px;
}

.contacts__form-fileButtonInput {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 100%;
}

.contacts__form-fileButtonText{
  font-size: 13px;
  line-height: 15px;
  color: #414141;
}

.contacts__form-fileButtonInput:focus ~ .contacts__form-fileButtonLable{
  color: #6979F8;
}
.contacts__form-fileButtonInput:focus ~ .contacts__form-fileButtonLable .contacts__form-fileButtonIcon {
  border-color: #3444c3;
}

.contacts__form-fileAndSubmit {
  display: flex;
  justify-content: space-between;
}

.contacts__form-submit {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  width: 106px;
  height: 40px;
  margin-left: 40px;
  margin-top: 20px;
  background-color: #245462;
  color: #fff
}

.contacts__rightSideArea {
  margin-right: 349px;
}

.contacts__phoneAndMail {
  display: flex;
  font-size: 14px;
  line-height: 126.69%;
  text-align: right;
  color: #414141;
  align-items: center;
  margin-top: 113px;
}

.contacts__phone--img {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.contacts__phone {
  text-decoration: none;
  font-size: 14px;
  line-height: 126.69%;
  text-align: right;
  color: #414141;
  margin-right: 37px;
}

.contacts__mail--img {
  width: 18px;
  height: 14px;
  margin-right: 10.67px;
}

.contacts__mail {
  color: #414141;
}

.contacts__instagram {
  display: flex;
  align-items: center;
}

.contacts__instagram--img {
  width: 15px;
  height: 15px;
  margin-top: 25px;
  margin-right: 10px;
}

.contacts__instagramText {
  font-size: 12px;
  line-height: 126.69%;
  color: #414141;
  margin-top: 26px;
  text-decoration: none;
}

.contacts__address {
  font-size: 14px;
  line-height: 126.69%;
  text-align: right;
  color: #414141;
  margin-top: 30px;
  padding: -30px;
  text-align: left;
}

.map__title {
  margin-top: 62px;
  margin-left: 130px;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.map__map {
  margin-top: 30px;
  margin-left: 130px;
  position: relative;
  margin-bottom: 70px;
}

footer {
  display: flex;
  position: absolute;
  margin-left: 0;
  margin-right: 0;
  width: 1400px;
  height: 234px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.03);
  justify-content: space-between;
}

.footer__navigation {
  width: 390px;
  height: 148px;
  margin-left: 130px;
  margin-top: 54px;
}

.footer__navigation-item {
  margin-top: 15px;
  display: grid;
  justify-content: space-between;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 0.7fr 1fr 1fr;
  grid-gap: 9px;
}

.footer__navigation-itemText{
  font-size: 14px;
  line-height: 126.69%;
  text-decoration: none;
  color: #3C3C3C;
}

.footer__navigation-item2 {
  display: flex;
  margin-top: 34px;
}

.footer__navigation-stock {

  text-decoration: none;
  font-size: 14px;
  line-height: 126.69%;
  color: #D74444;
}

.footer__navigation-newItems {
  text-decoration: none;
  font-size: 14px;
  line-height: 126.69%;
  margin-left: 30px;
  color: #414141;
}

.footer__navigation-rightSide {
  text-align: right;
}

.footer__contacts-logo {
  width: 60px;
  height: 49px;
  padding-right: 128px;
  padding-top: 49px;
}

.footer__navigation-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 126.69%;
}

.footer__contacts-adres {
  font-size: 14px;
  line-height: 126.69%;
  padding-right: 128px;
  padding-top: 20px;
  color: #414141;
}

.footer__contacts-contacts {
  display: flex;
  justify-content: space-between;
  padding-right: 128px;
  padding-top: 35px;
  align-items: center;
}

.footer__contacts-phoneImg {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.footer__contacts-phoneText {
  font-size: 14px;
  line-height: 126.69%;
  color: #414141;
  margin-right: 30px;
}

.footer__contacts-instagramImg {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.footer__contacts-instagramText {
  font-weight: 400;
  font-size: 12px;
  line-height: 126.69%;
  color: #414141;
  margin-right: 30px;
}

.footer__contacts-mailImg {
  width: 16.33px;
  height: 14px;
  margin-right: 10.67px;
}

.footer__contacts-mailText {
  font-size: 14px;
  line-height: 126.69%;
  color: #414141;
}