@import url(/site_pages/contacts_page/style.css);

.header__searchLine-bag {
  background-image: url(/images/title_page/bag.svg);
}

.about {
    display: flex;
    margin-left: 238px;
}

.about__textBlock {
  margin-left: 5px;
  margin-top: -1px;
}

.about__textBlock-head {
  position: relative;
  margin-top: 117px;
  color: #245462;
  font-size: 14px;
  margin-left: -1px;
}

.about__textBlock-head::before {
    content: '';
    background-color: #245462;
    width: 225px;
    height: 1px;
    position: absolute;
    margin-left: -235px;
    margin-top: 8px;
}

.about__textBlock-title {
  width: 438px;
  margin-top: 16px;
  margin-left: -2px;
  font-size: 25px;
  line-height: 28px;
  color: #414141;
}

.about__textBlock-text {
  width: 431px;
  margin-top: 16px;
  margin-left: 0px;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 20px;
  color: #686868;
}

.about__pictureBlock {
    display: flex;
}

.about__pictureBlock-img {
  margin-top: 106px;
  margin-left: 45px;
  height: auto;
  width: 652px;
  position: relative;
  z-index: 100;
}

.about__pictureBlock-coloredBlock {
  background-color: #D7E8ED;
  width: 433px;
  height: 513px;
  position: absolute;
  margin-left: 334px;
  margin-top: 15px;
}

.benefits {
  margin-left: 139px;
  margin-right: 128px;
}

.benefits__title {
  margin-top: 175px;
  margin-left: 43px;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.026em;
  color: #414141;
  padding-bottom: 10px;
}


.benefits__box {
  flex-direction: row;
  margin-top: 69px;
  width: 1246px;
  display: flex;
  flex-wrap: wrap;
}

.benefits__item {
  display: flex;
  width: 623px;
}

.benefits__item-textBox {
  margin-left: 35px;
  margin-top: 5px;
  letter-spacing: 0.17px;
}

.benefits__text_box№2 {
  margin-left: 30px;
  letter-spacing: 0.2px;
}

.benefits__text_box№4 {
  margin-left: 30px;
  letter-spacing: 0.21px;
}

.benefits__item-img{
  margin-top: 1px;
}

.car_delivery_img {
  margin-top: -16px;
}

.benefits__item-title {
  margin-left: 1px;
  margin-top: 11px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #414141;
}

.benefits__item-text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #686868;
}

.advantages {
  width: 1435px;
  margin-top: 101px;
  margin-left: 9px;
  background-color: #D7E8ED;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 80px;
}

.advantages__item-title {
  margin-left: 5px;
  margin-bottom: 15px;
  padding-top: 65px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #414141;
}

.advantages__item-line {
    margin-top: 10px;
    background-color: #245462;
    width: 50px;
    height: 1px;
    margin: 0 auto;

}

.advantages__item-text {
  margin-top: 17px;
  margin-left: 440px;
  width: 557px;
  font-size: 14px;
  line-height: 20px;
  color: #686868;
  letter-spacing: 0.21px;
}

.ai_2 {
  margin-top: 4px;
  margin-left: -1px;
}

.ai_3 {
  margin-left: -1px;
  margin-top: 3px;
}

.advantages2__box {
    display: flex;
    justify-content: space-between;
    width: 1163px;
}

.adv2_box_1 {
  margin-top: 73px;
  margin-left: 149px;
}

.adv2_box_2 {
  margin-top: 30px;
  margin-left: 149px;
}

.advantages2__item {
  width: 563px;
  height: auto;
  padding-bottom: 26px;
  background-color: #F4F4F4;
}

.advantages2__item-icon {
    position: absolute;
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: -20px;
    margin-top: -20px !important;
}
.advantages2__item-img {
    position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

.advantages2__item-title {
  margin-top: 29px;
  margin-left: 29px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #414141;
}

.advantages2__item-text {
  margin-top: 10px;
  margin-left: 29px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #686868;
}

.weHelp__title1 {
  margin-top: 103px;
  margin-left: 446px;
  font-size: 24px;
  letter-spacing: 0.3px;
  line-height: 140.19%;
  color: #414141;
}

.weHelp__itemBox {
  margin-left: 143px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  width: 1157px;
}

.weHelp__item-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.weHelp__item {
  display: flex;
  align-items: center;
  width: 328px;
}

.weHelp__title2 {
  margin-top: 184px;
  margin-left: 52px;
  margin-bottom: 207px;
  font-size: 24px;
  line-height: 140.19%;
  letter-spacing: 0.34px;
  text-align: center;
  color: #414141;
}

.weHelp__item-text {
  margin-left: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #414141;
}

.weHelp__item-text b {
    margin-bottom: 5px;
}
.weHelp__icon {
    width: 20px;
    height: 20px;
}

.footer__navigation {
  width: 450px;
  height: 148px;
  margin-left: 142px;
  margin-top: 34px;
}

.footer__contacts-logo {
  width: 31px;
  height: auto;
  padding-right: 88px;
  padding-top: 41px;
}

.footer__contacts-adres {
  font-size: 14px;
  line-height: 126.69%;
  padding-right: 89px;
  padding-top: 27px;
  letter-spacing: 0.17px;
  color: #414141;
}

.footer__contacts-contacts {
  display: flex;
  justify-content: space-between;
  padding-right: 93px;
  padding-top: 32px;
  letter-spacing: 0.09px;
  align-items: center;
}

.footer__contacts-phoneImg {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.footer__contacts-instagramImg {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.footer__contacts-mailImg {
  width: 19.33px;
  height: 17px;
  margin-right: 7.67px;
}

@media (max-width:1024px) {

  .about__textBlock-head::before {
    display: none;
  }
  .about {
    margin-left: 0;
    width: 959px;
    justify-content: space-between;
  }
  .about__textBlock-title {
    margin-bottom: 10px;
  }
  .about__textBlock-head {
    margin-top: 65px;
  }
  .about__pictureBlock-img {
    margin-top: 115px;
    width: auto;
    height: 225px;
    margin-left: 4px;
    position: relative;
    z-index: 100;
  }
  .about__pictureBlock-coloredBlock {
    background-color: #D7E8ED;
    width: 276px;
    height: 367px;
    position: absolute;
    margin-top: 41px;
    margin-left: 149px;
  }
  .benefits__title {
    margin-top: 135px;
  }
    .benefits {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    width: 959px;
  }
  .benefits__box {
    width: 959px;
    justify-content: space-between;
  }
  .benefits__item-text br {
    display: none;
  }
  .benefits__item-img {
    width: 68px;
    height: auto;
  }
  .benefits__item {
    display: flex;
    width: 467px;
  }
  .benefits__item-title {
    margin-top: 11px !important;
    margin-bottom: 10px;
  }
  .ben_box_1, .ben_box_2 {
    margin-top: 10px !important;
  }
  .advantages {
    width: 959px;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 25px;
  }
  .advantages__item-title {
    padding-top: 30px;
  }
  .advantages__item-line {
    margin-top: 10px !important;
    margin-bottom: 10px;
  }
  .advantages2 {
    margin-top: 40px;
    width: 959px;
  }
  .advantages2 br {
    display: none;
  }
  .advantages2__item-title {
    margin-top: 29px !important;
    margin-bottom: 10px;
  }
  .advantages__item-text {
    margin-left: auto;
    margin-right: auto;
  }
  .adv2_box_1, .adv2_box_2 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px !important;
  }
  .advantages2__box {
    display: flex;
    justify-content: space-between;
    width: 959px;
  }
  .advantages2__item {
    width: 450px;
  }
  .weHelp__itemBox br {
    display: none;
  }
  .weHelp__title1 {
    margin: 50px auto;
    text-align: center;
  }
  .weHelp__itemBox {
    margin-left: 0;
    width: 959px;
  }
  .weHelp__title2 {
    margin: 100px auto;
  }
  footer {
    width: 959px;
    margin-right: auto;
    margin-left: auto;
  }
  .footer__navigation {
    margin-left: 0;
    margin-top: 34px !important;
  }
  .footer__navigation-item {
    margin-top: 15px !important;
  }
  .footer__navigation-item2 {
    margin-top: 34px !important;
  }
  .footer__contacts-logo, .footer__contacts-logo, .footer__contacts-adres, .footer__contacts-contacts {
    padding-right: 0;
  }
}