@import url(/site_pages/contacts_page/style.css);

input#search {
    background-image: url(/images/search-icon.svg);
    background-repeat: no-repeat;
    background-position: 15px 11px;
    text-indent: 35px;
    padding: 0 10px 0 10px;
}

.about {
    display: flex;
    margin-left: 238px;
}
.about__textBlock-head {
    position: relative;
    margin-top: 119px;
    color:#245462;
}
.about__textBlock-head::before {
    content: '';
    background-color: #245462;
    width: 225px;
    height: 1px;
    position: absolute;
    margin-left: -235px;
    margin-top: 8px;
}
.about__textBlock-title {
    width: 421px;
    margin-top: 16px;
    font-size: 24px;
    line-height: 28px;
    color: #414141;
}
.about__textBlock-text {
    width: 421px;
    margin-top: 15px;
    font-size: 14px;
    line-height: 20px;
    color: #686868;
}
.about__pictureBlock {
    display: flex;
}
.about__pictureBlock-img {
    margin-top: 107px;
    margin-left: 48px;
    position: relative;
    z-index: 100;
}

.about__pictureBlock-coloredBlock {
    background-color: #D7E8ED;
    width: 422px;
    height: 500px;
    position: absolute;
    margin-left: 329px;
}
.benefits {
    margin-left: 140px;
    margin-right: 128px;
}
.benefits__title {
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.015em;
    color: #414141;
    padding-bottom: 10px;
}

.benefits__box {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.benefits__item {
    display: flex;
    width: 538px;
}

.benefits__item-textBox {
    margin-left: 30px;
}

.benefits__item-title {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.015em;
    color: #414141;
}

.benefits__item-text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #686868;
}
.advantages {
    margin-top: 95px;
    background-color: #D7E8ED;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 80px;
}

.advantages__item-title {
    padding-top: 65px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #414141;
    margin-bottom: 15px;
}

.advantages__item-line {
    margin-top: 10px;
    background-color: #245462;
    width: 50px;
    height: 1px;
    margin: 0 auto;

}
.advantages__item-text {
    width: 540px;
    font-size: 14px;
    line-height: 20px;
    color: #686868;
    margin: 0 auto;
    margin-top: 15px;
}

.advantages2 {
    margin: 70px 130px 0 130px
}
.advantages2__box {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.advantages2__item {
    width: 545px;
    height: 141px;
    background-color: #F4F4F4;
}
.advantages2__item-icon {
    position: absolute;
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: -20px;
    margin-top: -20px;
}
.advantages2__item-img {
    position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}
.advantages2__item-title {
    margin-top: 25px;
    margin-left: 25px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.015em;
    color: #414141;
}
.advantages2__item-text {
    margin-top: 10px;
    margin-left: 25px;
    font-size: 14px;
    line-height: 20px;
    color: #686868;
}
.weHelp__title1 {
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
    line-height: 140.19%;
    color: #414141;
}
.weHelp__itemBox {
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}
.weHelp__item {
    display: flex;
    width: 321px;
    align-items: center;
}
.weHelp__title2 {
    margin-top: 174px;
    margin-bottom: 207px;
    font-size: 24px;
    line-height: 140.19%;
    text-align: center;
    color: #414141;
}
.weHelp__item-text {
    margin-left: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #414141;
}
.weHelp__item-text b {
    margin-bottom: 5px;
}
.weHelp__icon {
    width: 20px;
    height: 20px;
}

