@import url(/site_pages/contacts_page/style.css);

.hamburger-menu {
  display: none;
}

.header__sections a {
  color: #414141;
  text-decoration: none;
  margin-top: 57px;
}

.header__sections-main {
  margin-left: 37.04px;
}

.header__sections-about {
  margin-left: 33px;
}

.header__sections-contacts {
  margin-left: 33px;
}

.header__searchLine-input {
  border: 1px solid #E5E5E5;
  width: 257px;
  height: 39px;
  margin-left: 43px;
  margin-top: 42px;
}

.header__phone-icon {
  margin-left: 32px;
  margin-top: 55px;
  width: 19px;
  height: 19px;
}

.header__delivery-icon {
  margin-left: 34px;
  width: 32px;
  height: 17.92px;
  margin-top: 56.46px;
}

.header__searchLine-profile {
  background-image: url("/images/profile-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 33px;
  margin-top: 55px !important;
  width: 16.87px;
  height: 21px;
}

input#search {
  background-image: url(/images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 13px 12px;
  text-indent: 35px;
  padding: 1px 14px 0px 14px;
}

.header__searchLine-wishlist {
  margin-left: 41px;
  margin-top: 54px;
  width: 22.83px;
  height: 19px;
}

.header__searchLine-alarm2 {
  position: absolute;
  width: 8px;
  height: 8px;
  margin-left: 1254px;
  margin-top: 55px;
  z-index: 999;
}



.about {
    display: flex;
    margin-left: 238px;
}

.about__textBlock {
  margin-left: 5px;
  margin-top: -1px;
}

.about__textBlock-head {
  position: relative;
  margin-top: 117px;
  color: #245462;
  font-size: 14px;
  margin-left: -1px;
}

.about__textBlock-head::before {
    content: '';
    background-color: #245462;
    width: 225px;
    height: 1px;
    position: absolute;
    margin-left: -235px;
    margin-top: 8px;
}

.about__textBlock-title {
  width: 438px;
  margin-top: 16px;
  margin-left: -2px;
  font-size: 25px;
  line-height: 28px;
  color: #414141;
}

.about__textBlock-text {
  width: 431px;
  margin-top: 16px;
  margin-left: 0px;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 20px;
  color: #686868;
}

.about__pictureBlock {
    display: flex;
}

.about__pictureBlock-img {
  margin-top: 106px;
  margin-left: 45px;
  height: auto;
  width: 652px;
  position: relative;
  z-index: 100;
}

.about__pictureBlock-coloredBlock {
  background-color: #D7E8ED;
  width: 433px;
  height: 513px;
  position: absolute;
  margin-left: 334px;
  margin-top: 15px;
}

.benefits {
  margin-left: 139px;
  margin-right: 128px;
}

.benefits__title {
  margin-top: 175px;
  margin-left: 43px;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.026em;
  color: #414141;
  padding-bottom: 10px;
}


.benefits__box {
  flex-direction: row;
  margin-top: 69px;
  width: 1246px;
  display: flex;
  flex-wrap: wrap;
}

.benefits__item {
  display: flex;
  width: 623px;
}

.benefits__item-textBox {
  margin-left: 35px;
  margin-top: 5px;
  letter-spacing: 0.17px;
}

.benefits__box№2 {
  margin-left: 30px;
  letter-spacing: 0.2px;
}

.benefits__box№4 {
  margin-left: 30px;
  letter-spacing: 0.21px;
}

.benefits__item-img{
  margin-top: 1px;
}

.car_delivery_img {
  margin-top: -16px;
}

.benefits__item-title {
  margin-left: 1px;
  margin-top: 11px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #414141;
}

.benefits__item-text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #686868;
}

.advantages {
  width: 1435px;
  margin-top: 101px;
  margin-left: 9px;
  background-color: #D7E8ED;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 80px;
}

.advantages__item-title {
  margin-left: 5px;
  margin-bottom: 15px;
  padding-top: 65px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #414141;
}

.advantages__item-line {
    margin-top: 10px;
    background-color: #245462;
    width: 50px;
    height: 1px;
    margin: 0 auto;

}

.advantages__item-text {
  margin-top: 17px;
  margin-left: 440px;
  width: 557px;
  font-size: 14px;
  line-height: 20px;
  color: #686868;
  letter-spacing: 0.21px;
}

.ai_2 {
  margin-top: 4px;
  margin-left: -1px;
}

.ai_3 {
  margin-left: -1px;
  margin-top: 3px;
}

.advantages2__box {
    display: flex;
    justify-content: space-between;
    width: 1163px;
}

.adv2_box_1 {
  margin-top: 73px;
  margin-left: 149px;
}

.adv2_box_2 {
  margin-top: 30px;
  margin-left: 149px;
}

.advantages2__item {
  width: 563px;
  height: auto;
  padding-bottom: 26px;
  background-color: #F4F4F4;
}

.advantages2__item-icon {
    position: absolute;
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: -20px;
    margin-top: -20px !important;
}
.advantages2__item-img {
    position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

.advantages2__item-title {
  margin-top: 29px;
  margin-left: 29px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #414141;
}

.advantages2__item-text {
  margin-top: 10px;
  margin-left: 29px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #686868;
}

.weHelp__title1 {
  margin-top: 103px;
  margin-left: 446px;
  font-size: 24px;
  letter-spacing: 0.3px;
  line-height: 140.19%;
  color: #414141;
}

.weHelp__itemBox {
  margin-left: 143px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  width: 1157px;
}

.weHelp__item {
  display: flex;
  align-items: center;
  width: 328px;
}

.weHelp__title2 {
  margin-top: 184px;
  margin-left: 52px;
  margin-bottom: 207px;
  font-size: 24px;
  line-height: 140.19%;
  letter-spacing: 0.34px;
  text-align: center;
  color: #414141;
}

.weHelp__item-text {
  margin-left: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #414141;
}

.weHelp__item-text b {
    margin-bottom: 5px;
}
.weHelp__icon {
    width: 20px;
    height: 20px;
}

.footer__navigation {
  width: 450px;
  height: 148px;
  margin-left: 142px;
  margin-top: 34px;
}

.footer__contacts-logo {
  width: 31px;
  height: auto;
  padding-right: 88px;
  padding-top: 41px;
}

.footer__contacts-adres {
  font-size: 14px;
  line-height: 126.69%;
  padding-right: 89px;
  padding-top: 27px;
  letter-spacing: 0.17px;
  color: #414141;
}

.footer__contacts-contacts {
  display: flex;
  justify-content: space-between;
  padding-right: 93px;
  padding-top: 32px;
  letter-spacing: 0.09px;
  align-items: center;
}

.footer__contacts-phoneImg {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.footer__contacts-instagramImg {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.footer__contacts-mailImg {
  width: 19.33px;
  height: 17px;
  margin-right: 7.67px;
}

@media (max-width:1024px) {
    .container {
      margin: 0 32px;
      width: 898px;
    }

    header {
      width: 898px;
    }
    .header__searchLine {
      width: 898px;
    }

    .header__searchLine-alarm2 {
      margin-left: 845px;
      margin-top: -3px !important;
    }

    .about__textBlock-head::before {
      display: none;
    }

    .about {
      margin-left: 0;
      width: 959px;
      justify-content: space-between;
    }

    .hamburger-menu {
        display: block;
      }

      #menu__toggle {
        opacity: 0;
      }

      #menu__toggle:checked ~ .menu__btn > .hamburger__topline {
        transform: scaleX(1);
      }
      #menu__toggle:checked ~ .menu__btn > .hamburger__midline {
        transform: scaleX(0.6) translateX(6px);
      }
      #menu__toggle:checked ~ .menu__btn > .hamburger__botline {
        transform: scaleX(0.4) translateX(13px);
      }

      .menu__btn {
        display: flex;
        margin-left: 0px;
        align-items: center;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }

      .hamburger__topline,
      .hamburger__midline ,
      .hamburger__botline {
        display: block;
        position: absolute;

        width: 18.33px;
        height: 2px;

        background-color: #616161;

        transition-duration: .25s;
      }

      .hamburger__topline {
        content: '';
        top: 48px;
    }

      .hamburger__midline {
        content: '';
        top: 52px;
      }

      .hamburger__botline {
        content: '';
        top: 56px;
      }

      .menu__box {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-left: -32px;
        margin-top: -78px !important;
        visibility: hidden;
        width: 227px;
        list-style: none;
        background-color: #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
        transition-duration: .25s;
        z-index: 9999;
    }

      .menu__box a {
        text-decoration: none;
        color: #414141;
      }

      .menu__closeBtn {
        position: absolute;
        margin-left: 194px;
        margin-top: 22px;
        width: 20px;
        height: 20px;
        background-image: url('/images/title_images/adaptive_960px/x.svg');
        background-repeat: no-repeat;
        background-position: center;
      }

      .menu__h {
        height: 15px;
        font-size: 13px;
        padding-top: 23px;
        padding-bottom: 15px;
        margin-left: 26px;
      }

      .menu__category {
        padding-top: 15px;
        padding-bottom: 15px;
    }

      .menu__item {
        display: block;
        margin-left: 26px;
        height: 31px;
        padding-top: 15px;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #414141;
        transition-duration: .25s;

      }

      .menu__item:hover {
        background-color: #61ad94;
      }

      .menu__about::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/Vector.svg);
        background-repeat: no-repeat;
        background-position: 0px 1px;
        background-size: 10px 11px;
        padding-right: 35px;
      }

      .menu__home::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/Home.svg);
        background-repeat: no-repeat;
        background-position: 0px -2px;
        padding-right: 35px;
      }

      .menu__contacts::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/@.svg);
        background-repeat: no-repeat;
        background-position: 0px 1px;
        background-size: 13px 13px;
        padding-right: 35px;
      }

      .menu__kitchen::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/kitchen-icon.svg);
        background-repeat: no-repeat;
        background-position: 0px 1px;
        background-size: 13px 13px;
        padding-right: 35px;
      }

      .menu__bedroom::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/bedroom-icon.svg);
        background-repeat: no-repeat;
        background-position: 0px 1px;
        background-size: 17px 13px;
        padding-right: 35px;
      }

      .menu__livingroom::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/livingroom-icon.svg);
        background-repeat: no-repeat;
        background-size: 17px 13px;
        padding-right: 35px;
      }

      .menu__hallways::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/closet-icon.svg);
        background-repeat: no-repeat;
        background-size: 14px 14px;
        padding-right: 35px;
      }

      .menu__office::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/office-icon.svg);
        background-repeat: no-repeat;
        background-size: 14px 14px;
        padding-right: 35px;
      }

      .menu__childrensroom::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/childrensroom-icon.svg);
        background-repeat: no-repeat;
        background-size: 14px 14px;
        padding-right: 35px;
      }

      .menu__stock a{
        color: #E92D2D;
      }

      .menu__stock::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/stock.svg);
        background-repeat: no-repeat;
        background-size: 14px 14px;
        padding-right: 35px;
      }

      .menu__novelty::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/novelty.svg);
        background-repeat: no-repeat;
        background-size: 14px 14px;
        padding-right: 35px;
      }

      .menu__mattress::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/mattress.svg);
        background-repeat: no-repeat;
        background-size: 19px 14px;
        padding-right: 35px;
      }

      .menu__softFurniture::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/armchair.svg);
        background-repeat: no-repeat;
        background-size: 14px 14px;
        padding-right: 35px;
      }

      .menu__cupboard::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/cupboard.svg);
        background-repeat: no-repeat;
        background-size: 12px 14px;
        padding-right: 35px;
      }

      .menu__item:hover {
        background-color: #CFD8DC;
      }

      .header__sections-main, .header__sections-about, .header__sections-contacts {
        display: none;
      }

      .about__pictureBlock-img {
        margin-top: 136px;
        width: auto;
        height: 225px;
        margin-left: 4px;
        position: relative;
        z-index: 100;
      }

      .about__pictureBlock-coloredBlock {
        background-color: #D7E8ED;
        width: 276px;
        height: 319px;
        position: absolute;
        margin-top: 97px;
        margin-left: 149px;
      }

    .header__sections {
      align-items: center;
      font-size: 13px;
    }

    .header__sections > a, div, input {
      margin-top: 0 !important;
    }

    .header__sections > img {
      margin-top: 0;
    }

    input#search {
      background-position: 14px 17px;
  }

    .header__searchLine-input {
      margin-top: 0;
      width: 223px;
      height: 50px;
    }


    .header__searchLine-wishlist {
      margin-left: 40px;
    }

    .header__searchLine-bag {
      margin-left: 23px;
      width: 17.13px;
      height: 20px;
      background-image: url(/images/bag.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }

    .header__searchLine-profile {
      margin-left: 23px;
  }

    .header__logo {
      margin-left: 15px;
      height: 26px;
      width: 112.96px;
    }

    .benefits {
      margin-left: 0;
      margin-right: 0;
      width: 959px;
    }

    .benefits__item-img {
      width: 68px;
      height: auto;
    }

    .benefits__item {
      display: flex;
      width: 479px;
    }

    .advantages {
      width: 959px;
      padding-top: 0;
      padding-bottom: 25px;
    }

    .advantages__item-title {
      padding-top: 30px;
    }

    .advantages__item-line {
      margin-top: 10px !important;
      margin-bottom: 10px;
    }

    .advantages2 {
      margin-top: 30px;
      width: 959px;
    }

    .advantages__item-text {
      margin-left: auto;
      margin-right: auto;
    }

    .adv2_box_1, .adv2_box_2 {
      margin-left: 0;
      margin-right: 0;
      margin-top: 30px !important;
    }

    .advantages2__box {
      display: flex;
      justify-content: space-between;
      width: 959px;
    }

    .advantages2__item {
      width: 450px;
    }

      footer {
        width: 898px;
        margin-right: auto;
        margin-left: auto;
      }

      .footer__navigation {
        margin-left: 0;
      }

      .footer__contacts-logo, .footer__contacts-logo, .footer__contacts-adres, .footer__contacts-contacts {
        padding-right: 0;
      }
  }