@import url(/site_pages/contacts_page/style.css);

.hamburger-menu {
  display: none;
}

input#search {
    background-image: url(/images/search-icon.svg);
    background-repeat: no-repeat;
    background-position: 15px 11px;
    text-indent: 35px;
    padding: 0 10px 0 10px;
}

.about {
    display: flex;
    margin-left: 238px;
}
.about__textBlock-head {
    position: relative;
    margin-top: 119px;
    color:#245462;
}
.about__textBlock-head::before {
    content: '';
    background-color: #245462;
    width: 225px;
    height: 1px;
    position: absolute;
    margin-left: -235px;
    margin-top: 8px;
}
.about__textBlock-title {
    width: 421px;
    margin-top: 16px;
    font-size: 24px;
    line-height: 28px;
    color: #414141;
}
.about__textBlock-text {
    width: 421px;
    margin-top: 15px;
    font-size: 14px;
    line-height: 20px;
    color: #686868;
}
.about__pictureBlock {
    display: flex;
}
.about__pictureBlock-img {
    margin-top: 107px;
    margin-left: 48px;
    position: relative;
    z-index: 100;
}

.about__pictureBlock-coloredBlock {
    background-color: #D7E8ED;
    width: 422px;
    height: 500px;
    position: absolute;
    margin-left: 329px;
}
.benefits {
    margin-left: 140px;
    margin-right: 128px;
}
.benefits__title {
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.015em;
    color: #414141;
    padding-bottom: 10px;
}

.benefits__box {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.benefits__item {
    display: flex;
    width: 538px;
}

.benefits__item-textBox {
    margin-left: 30px;
}

.benefits__item-title {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.015em;
    color: #414141;
}

.benefits__item-text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #686868;
}
.advantages {
    margin-top: 95px;
    background-color: #D7E8ED;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 80px;
}

.advantages__item-title {
    padding-top: 65px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #414141;
    margin-bottom: 15px;
}

.advantages__item-line {
    margin-top: 10px;
    background-color: #245462;
    width: 50px;
    height: 1px;
    margin: 0 auto;

}
.advantages__item-text {
    width: 540px;
    font-size: 14px;
    line-height: 20px;
    color: #686868;
    margin: 0 auto;
    margin-top: 15px;
}

.advantages2 {
    margin: 70px 130px 0 130px
}
.advantages2__box {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.advantages2__item {
    width: 545px;
    height: 141px;
    background-color: #F4F4F4;
}
.advantages2__item-icon {
    position: absolute;
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: -20px;
    margin-top: -20px;
}
.advantages2__item-img {
    position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}
.advantages2__item-title {
    margin-top: 25px;
    margin-left: 25px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.015em;
    color: #414141;
}
.advantages2__item-text {
    margin-top: 10px;
    margin-left: 25px;
    font-size: 14px;
    line-height: 20px;
    color: #686868;
}
.weHelp__title1 {
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
    line-height: 140.19%;
    color: #414141;
}
.weHelp__itemBox {
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}
.weHelp__item {
    display: flex;
    width: 321px;
    align-items: center;
}
.weHelp__title2 {
    margin-top: 174px;
    margin-bottom: 207px;
    font-size: 24px;
    line-height: 140.19%;
    text-align: center;
    color: #414141;
}
.weHelp__item-text {
    margin-left: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #414141;
}
.weHelp__item-text b {
    margin-bottom: 5px;
}
.weHelp__icon {
    width: 20px;
    height: 20px;
}

@media (max-width:1024px) {
    .container {
      margin: 0 32px;
      width: 898px;
    }
  
    header {
      width: 898px;
    }
    .header__searchLine {
      width: 898px;
    }
  
    .about__textBlock-head::before {
      display: none;
    }
  
    .about {
      margin-left: 32px;
    }

    .hamburger-menu {
        display: block;
      }
    
      #menu__toggle {
        opacity: 0;
      }
    
      #menu__toggle:checked ~ .menu__btn > .hamburger__topline {
        transform: scaleX(1);
      }
      #menu__toggle:checked ~ .menu__btn > .hamburger__midline {
        transform: scaleX(0.6) translateX(6px);
      }
      #menu__toggle:checked ~ .menu__btn > .hamburger__botline {
        transform: scaleX(0.4) translateX(13px);
      }
    
      .menu__btn {
        display: flex;
        margin-left: 0px;
        align-items: center;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
    
      .hamburger__topline,
      .hamburger__midline ,
      .hamburger__botline {
        display: block;
        position: absolute;
    
        width: 18.33px;
        height: 2px;
    
        background-color: #616161;
    
        transition-duration: .25s;
      }
    
      .hamburger__topline {
        content: '';
        top: 42px;
      }
    
      .hamburger__midline {
        content: '';
        top: 46px;
      }
    
      .hamburger__botline {
        content: '';
        top: 50px;
      }
    
      .menu__box {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-left: -32px;
        margin-top: -44px;
        visibility: hidden;
        width: 227px;
        list-style: none;
        background-color: #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
        transition-duration: .25s;
        z-index: 9999;
      }
    
      .menu__box a {
        text-decoration: none;
        color: #414141;
      }
    
      .menu__closeBtn {
        position: absolute;
        margin-left: 194px;
        margin-top: 22px;
        width: 20px;
        height: 20px;
        background-image: url('/images/title_images/adaptive_960px/x.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
    
      .menu__h {
        height: 15px;
        font-size: 13px;
        padding-top: 23px;
        padding-bottom: 15px;
        margin-left: 26px;
      }
    
      .menu__category {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
      .menu__item {
        display: block;
        margin-left: 26px;
        height: 31px;
        padding-top: 15px;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #414141;
        transition-duration: .25s;
    
      }
    
      .menu__item:hover {
        background-color: #61ad94;
      }
    
      .menu__about::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/Vector.svg);
        background-repeat: no-repeat;
        background-position: 0px 1px;
        background-size: 10px 11px;
        padding-right: 35px;
      }
    
      .menu__home::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/Home.svg);
        background-repeat: no-repeat;
        background-position: 0px -2px;
        padding-right: 35px;
      }
    
      .menu__contacts::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/@.svg);
        background-repeat: no-repeat;
        background-position: 0px 1px;
        background-size: 13px 13px;
        padding-right: 35px;
      }
    
      .menu__kitchen::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/kitchen-icon.svg);
        background-repeat: no-repeat;
        background-position: 0px 1px;
        background-size: 13px 13px;
        padding-right: 35px;
      }
    
      .menu__bedroom::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/bedroom-icon.svg);
        background-repeat: no-repeat;
        background-position: 0px 1px;
        background-size: 17px 13px;
        padding-right: 35px;
      }
    
      .menu__livingroom::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/livingroom-icon.svg);
        background-repeat: no-repeat;
        background-size: 17px 13px;
        padding-right: 35px;
      }
    
      .menu__hallways::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/closet-icon.svg);
        background-repeat: no-repeat;
        background-size: 14px 14px;
        padding-right: 35px;
      }
    
      .menu__office::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/office-icon.svg);
        background-repeat: no-repeat;
        background-size: 14px 14px;
        padding-right: 35px;
      }
    
      .menu__childrensroom::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/childrensroom-icon.svg);
        background-repeat: no-repeat;
        background-size: 14px 14px;
        padding-right: 35px;
      }
    
      .menu__stock a{
        color: #E92D2D;
      }
    
      .menu__stock::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/stock.svg);
        background-repeat: no-repeat;
        background-size: 14px 14px;
        padding-right: 35px;
      }
    
      .menu__novelty::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/novelty.svg);
        background-repeat: no-repeat;
        background-size: 14px 14px;
        padding-right: 35px;
      }
    
      .menu__mattress::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/mattress.svg);
        background-repeat: no-repeat;
        background-size: 19px 14px;
        padding-right: 35px;
      }
    
      .menu__softFurniture::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/armchair.svg);
        background-repeat: no-repeat;
        background-size: 14px 14px;
        padding-right: 35px;
      }
    
      .menu__cupboard::before {
        content: '';
        background-image: url(/images/title_images/adaptive_960px/cupboard.svg);
        background-repeat: no-repeat;
        background-size: 12px 14px;
        padding-right: 35px;
      }
    
      .menu__item:hover {
        background-color: #CFD8DC;
      }

      .about__pictureBlock-img {
        margin-top: 136px;
        width: auto;
        height: 225px;
        margin-left: 4px;
        position: relative;
        z-index: 100;
    }

    .about__pictureBlock-coloredBlock {
      background-color: #D7E8ED;
      width: 276px;
      height: 319px;
      position: absolute;
      margin-top: 97px;
      margin-left: 149px;
    }

    .header__sections {
      margin-left: 32px;
      align-items: center;
      font-size: 13px;
    }



    .header__sections > a, div, input {
      margin-top: 0;
    }

    .header__sections > img {
      margin-top: 0;
    }
    
    .header__searchLine-input {
      margin-top: 0;
      width: 223px;
      height: 50px;
    }

    .header__logo {
      margin-left: 15px;
      height: 26px;
      width: 112.96px;
    }

      footer {
        width: 898px;
        margin-right: auto;
        margin-left: auto;
      }
      
      .footer__navigation {
        margin-left: 0;
      }
      
      .footer__contacts-logo, .footer__contacts-logo, .footer__contacts-adres, .footer__contacts-contacts {
        padding-right: 0;
      }
  }