.container {
  width: 1140px;
  margin: 0 auto;
}

.formElement__margin {
  margin-top: 30px;
}

.header__searchLine-profile {
  background-image: url(/images/account_page/profile-icon-black.svg) !important;
}

.form {
  position: relative;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 500px;
}

.form_reg {
  min-height: 750px;
}

.error {
  order: 2;
  margin-top: 40px;
  width: 100%;
  text-align: center;
  color: brown;

}

.success {
  margin-top: 60px;
  text-align: center;
  color: rgb(29, 94, 33);
  order: 2;
  line-height: 25px;
}

.login_header {
  margin-top: 30px;
}

.formElement__input {
  background-color: rgb(245, 245, 245);
  width: 200px;
  height: 40px;
  border: 1px solid;
  padding: 0 10px;
}

.submit {
  margin-top: 50px;
  height: 40px;
  width: 220px;
  background-color: rgb(151, 212, 151);
}

a {
  text-decoration: none;
  color: #414141;
}

form a {
  color: #44989e;
}

@media screen and (max-width:1240px) {
  .container {
    width: 1100px;
  }
}

@media screen and (max-width:1180px) {
  .container {
    width: 1040px;
  }
}

@media screen and (max-width:1120px) {
  .container {
    width: 1020px;
  }

}


@media screen and (max-width:1080px) {
  .container {
    width: 980px;
  }
}


@media screen and (max-width:1024px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width:980px) {
  .container {
    width: 900px;
  }
}

@media screen and (max-width:920px) {
  .container {
    width: 860px;
  }
}

@media screen and (max-width:880px) {
  .container {
    width: 820px;
  }
}

@media screen and (max-width:840px) {
  .container {
    width: 720px;
  }
}

@media screen and (max-width:768px) {
  .container {
    width: 720px;
  }

  .form {
    min-height: 450px;
  }
}

@media screen and (max-width:740px) {
  .container {
    width: 660px;
  }
}

@media screen and (max-width:680px) {
  .container {
    width: 600px;
  }
}

@media screen and (max-width:630px) {
  .container {
    width: 540px;
  }
}

@media screen and (max-width:560px) {
  .container {
    width: 480px;
  }

  .formElement__margin {
    margin-top: 15px;
  }

  .form {
    font-size: 11px;
  }

  .submit {
    margin-top: 45px;
  }
}

@media screen and (max-width:500px) {
  .container {
    width: 400px;
  }

  .formElement__input {
    font-size: 10px;
    width: 135px;
  }

  .formElement__margin {
    margin-top: 10px;
  }

  .submit {
    margin-top: 35px;
    width: 157px;
  }

}


@media screen and (max-width:420px) {
  .container {
    width: 360px;
  }
}

@media screen and (max-width:380px) {
  .container {
    width: 330px;
  }
}

@media screen and (max-width:340px) {
  .container {
    width: 290px;
  }
}