@import url(/site_pages/contacts_page/style.css);

.mt30 {
  margin-top: 30px;
}

.header__searchLine-profile {
  background-image: url(/images/account_page/profile-icon-black.svg) !important;
}

.form {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px;
  position: relative;
  width: 500px;
  height: 550px;
}

.form_reg {
  height: 750px;
}

.error {
  margin-top: 60px;
  width: 100%;
  text-align: center;
  color: brown;
}

.success {
  margin-top: 60px;
  width: 100%;
  margin-left: -5px;
  text-align: center;
  color: rgb(29, 94, 33);
}

.login_header {
  margin-top: 30px;
}

.formElement__input {
  margin-top: 10px;
  background-color: rgb(245, 245, 245);
  width: 200px;
  height: 40px;
  border: 1px solid;
  padding: 0 10px;
}

.submit {
  margin-top: 50px;
  height: 40px;
  width: 220px;
  background-color: rgb(151, 212, 151);
}

footer {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #414141;
}

form a {
  color: #44989e;
}

.header__logo {
  margin-top: -5px;
  margin-left: 140px;
  height: 26px;
  width: 112.96px;
}