@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Regular.ttf") format('truetype'),
    url("/fonts/RobotoCondensed-Regular.ttf") format('truetype')
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}

.navigation {
  display: flex;
  margin-top: 30px;
}

.navigation__start {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
}

.navigation__simbol {
  font-size: 12px;
  line-height: 14px;
  color: #575757;
  margin-left: 10px;
}

.navigation__end {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
  margin-left: 10px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.display-none {
  display: none;
}

.box_withShadow {
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);
}

.mt20 {
  margin-top: 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.header__searchLine-alarm1 {
  display: none;
  position: absolute;
  margin-top: -3px;
  margin-left: 1087px;
  z-index: 2;
}

.catalog {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.catalog__menu-Container {
  height: 617px;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}

.catalog__filterBtn {
  display: none;
  padding: 10px 20px;
  background-color: #F9F9F9;
  font-size: 12px;
}

.catalog__filterBtnBox {
  position: absolute;
  margin-top: 14px;
  display: flex;
  align-items: center;
}

.catalog__filterBtn-x {
  display: none;
  padding: 0 10px;
}


.catalog__menu {
  display: flex;
  flex-direction: column;
}

.catalog__select {
  width: 100%;
  height: 29px;
  background: #F8F8F8;
  border-radius: 3px;
  font-size: 12px;
  line-height: 14px;
  color: #686868;
  padding: 7px 10px;
}

.catalogMenu__rangeBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.catalogMenu__currencyBox {
  display: flex;
  margin-top: 20px;
  background: #F8F8F8;
  border-radius: 3px;
}

.catalogMenu__currencyBox {
  position: relative;
  display: flex;
  margin-top: 20px;
  background: #F8F8F8;
  border-radius: 3px;
  width: 90px;
}

.catalogMenu__inputcurrency {
  text-align: end;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  margin-left: 6px;
}

.catalogMenu__inputcurrency::-webkit-inner-spin-button,
.catalogMenu__inputcurrency::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.catalogMenu__currencyBox * {
  font-size: 13px;
}

.catalog__rubSimbol {
  margin-top: 1px;
}

.subselect {
  width: 190px;
  height: 29px;
}

.cs {
  width: 100%;
  height: 29px;
  background: #F8F8F8;
  border-radius: 3px;
  font-size: 12px;
  line-height: 14px;
  color: #686868;
  padding: 7px 10px;
}

.range {
  margin-top: 20px;
  width: 100%;
  height: 10px;
  position: relative;
  background: #ECECEC;
  border-radius: 3px;
}

.range__button_1,
.range__button_2 {
  position: absolute;
  top: 50%;
  width: 14px;
  height: 14px;

  cursor: move;
  transform: translateY(-50%);

  border: none;
  border-radius: 50%;
  background-color: #245462;
}

.white-circle {
  margin: 3.5px auto;
  width: 7px;
  height: 7px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
}

.range__between {
  position: absolute;
  height: 10px;
  margin-left: 10px;
  border: none;
  background-color: #245462;
}

.line {
  margin-top: 18px;
  width: 19px;
  height: 2px;
  align-self: center;
  background-color: #414141;
}

.value_sumbol1 {
  position: absolute;
  margin-top: 22px;
  margin-left: 30px;
  align-self: center;
}

.brands {
  margin-top: 20px;
  margin-bottom: 20px;
}

.colors {
  margin-top: 65px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox+label::before {
  flex: 1 1 auto;
  margin: 0 5px;
  margin-top: 20px;
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.color {
  display: flex;
  margin: 0 -5px;
}

.brand {
  display: flex;
  flex-direction: column;
  margin: -5px 0;
}

.brand .custom-checkbox+label::before {
  margin: 5px 0;
  margin-right: 10px;
  background: #FFFFFF;
  border: 1px solid #245462;
  box-sizing: border-box;
  border-radius: 3px;
}

.brand .custom-checkbox:checked+label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #245462;

}

.custom-checkbox:checked+label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

#color1+label::before {
  background-color: #E94848;
  border-color: #E94848;

}

#color2+label::before {
  background-color: #43BF57;
  border-color: #43BF57;

}

#color3+label::before {
  background-color: #E4E4E4;
  border-color: #E4E4E4;
}

#color3:checked+label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23777' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

#color4+label::before {
  background-color: #3E3E3E;
  border-color: #3E3E3E;

}

#color5+label::before {
  background-color: #675A5A;
  border-color: #675A5A;

}

#color6+label::before {
  background-color: #864F4F;
  border-color: #864F4F;

}

.showMore {
  align-self: flex-start;
  margin-top: 15px;
  font-size: 12px;
  line-height: 14px;
  color: #245462;
}

.moreBrands {
  display: none;
}

.bestsellers__modalWindow-box {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  padding-top: 20px;
  height: 40px;
  width: 100%;
  text-align: center;
  background-color: rgb(160, 160, 160);
  font-family: Playfair Display;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  color: black;
  z-index: 999;
  opacity: 0.8;
}

.bestsellers__head-text {
  margin-top: 25px;
}

.bestsellers__discount {
  position: absolute;
  top: 5%;
  left: 6%;
  display: flex;
  align-items: center;
}

.bestsellers__discount-logo {
  width: 17px;
  height: 17px;
}

.bestsellers__discount-num {
  margin-left: 3px;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.bestsellers__box {
  position: relative;
  z-index: 0;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  width: 74%;
}


.bestsellers__box-item {
  position: relative;
  margin-bottom: 50px;
  max-height: 340px;
}

.bestsellers__item-imgBox {
  display: flex;
  align-items: center;
  width: 200px;
  height: 150px;
  margin: 62px auto;
}

.bestsellers__item-img {
  align-self: center;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.bestsellers__item-name {
  width: 84%;
  margin-left: 8%;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
}

.bestsellers__item-category {
  margin-left: 8%;
  margin-top: 5px;
  font-size: 11px;
  line-height: 13px;
}

.bestsellers__item-priceBox {
  margin-left: 8%;
  width: 50%;
  display: flex;
  align-items: center;
  margin-top: 9px;
}

.bestsellers__item-price {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.bestsellers__fullPrice {
  margin-left: 6px;
  font-size: 12px;
  text-decoration-line: line-through;
  color: #CCCCCC;
}

.toBasket {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  padding-bottom: 8%;
  box-shadow: 4px 5px 6px -1px rgb(0 0 0 / 8%), -4px 5px 6px -1px rgb(0 0 0 / 8%);
}

.toBasket__sizesLable {
  margin-left: 8%;
  margin-top: 15px;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

.toBasket__sizes {
  display: flex;
  justify-content: space-between;
  margin-left: 8%;
  margin-top: 8px;
  width: 70%;
}

.toBasket__widthBox,
.toBasket__depthBox,
.toBasket__heightBox {
  display: flex;
  flex-direction: column;
  font-size: 9px;
}

.toBasket__width-text,
.toBasket__depth-text,
.toBasket__height-text {
  color: #C4C4C4;
}

.toBascet__add {
  width: 84%;
  height: 40px;
  margin-left: 8%;
  margin-top: 17px;
  background: #245462;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

.bestsellers__item-loverIcon {
  position: absolute;
  top: 5%;
  right: 6%;
}

#menu-2__toggle {
  width: 19px;
  height: 19px;
  margin-top: -2px;
  margin-left: 0px;
  opacity: 0;
}

.menu-2__btn {
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 19px;
  height: 15px;
  cursor: pointer;
  z-index: 1;
}

#menu-2__toggle:checked~.menu-2__btn>.hamburger-menu-2__topline {
  transform: scaleX(1);
}

#menu-2__toggle:checked~.menu-2__btn>.hamburger-menu-2__midline {
  transform: scaleX(0.6) translateX(6px);
}

#menu-2__toggle:checked~.menu-2__btn>.hamburger-menu-2__botline {
  transform: scaleX(0.4) translateX(13px);
}

#menu-2__toggle:checked~.menu-2__box {
  visibility: visible;
  animation-duration: 0.3s;
  animation-name: move;
}

@keyframes move {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.hamburger-menu-2 {
  display: flex;
  position: absolute;
  margin-top: 8px;
  margin-left: 1117px;
}

.hamburger-menu-2::before {
  content: "Сортировать";
  margin-left: -85px;
  margin-top: 1px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.hamburger-menu-2__topline,
.hamburger-menu-2__midline,
.hamburger-menu-2__botline {
  height: 2px;
  background-color: #616161;
}

.menu-2__box {
  display: block;
  position: absolute;
  visibility: hidden;
  margin-top: 20px !important;
  margin-left: -146px;
  width: 165px;
  text-align: right;
  list-style: none;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  z-index: 3;
}

.menu-2__item {
  display: block;
  padding: 13px 20px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

.menu-2__item:hover {
  background-color: #CFD8DC;
}

#select_2-box,
#select_3-box {
  display: none;
}

.catalog__filterBtn-630px {
  position: static;
  margin-top: 0;
  width: 100%;
  background-color: inherit;
  font-size: 14px;
}

@media screen and (max-width:1240px) {
  .container {
    width: 1100px;
  }

  .header__searchLine-alarm1 {
    margin-left: 1047px;
  }

  .hamburger-menu-2 {
    margin-left: 1075px;
  }
}

@media screen and (max-width:1180px) {
  .container {
    width: 1040px;
  }

  .header__searchLine-alarm1 {
    margin-left: 991px;
  }

  .hamburger-menu-2 {
    margin-left: 1019px;
  }

  .bestsellers__box {
    width: 70.474%;
  }

  .bestsellers__item-imgBox {
    width: 80%;
    margin-bottom: 25px;
    margin-top: 45px;
  }
}

@media screen and (max-width:1120px) {
  .container {
    width: 1020px;
  }

  .header__searchLine-alarm1 {
    margin-left: 974px;
  }

  .hamburger-menu-2 {
    margin-left: 999px;
  }

}


@media screen and (max-width:1080px) {
  .container {
    width: 980px;
  }

  .header__searchLine-alarm1 {
    margin-left: 926px;
  }

  .hamburger-menu-2 {
    margin-left: 959px;
  }

  .bestsellers__item-img {
    max-width: 85%;
  }

}


@media screen and (max-width:1024px) {

  .container {
    width: 960px;
  }

  .header__searchLine-alarm1 {
    margin-left: 908px;
  }

  .catalog__filterBtn {
    display: block;
  }

  .catalog__menu {
    display: none;
  }

  .catalog__menu-Container {
    display: none;
  }

  .hamburger-menu-2 {
    margin-top: 23px;
    margin-left: 940px;
  }

  .bestsellers__box {
    width: auto;
    margin-top: 60px;
    grid-template-columns: repeat(4, 1fr);
  }

  .bestsellers__box-item {
    position: relative;
    margin-bottom: 50px;
  }


}

@media screen and (max-width:980px) {
  .container {
    width: 900px;
  }

  .header__searchLine-alarm1 {
    margin-left: 848px;
  }

  .hamburger-menu-2 {
    margin-left: 880px;
  }

  .bestsellers__box {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
}

@media screen and (max-width:920px) {
  .container {
    width: 860px;
  }

  .header__searchLine-alarm1 {
    margin-left: 808px;
  }

  .hamburger-menu-2 {
    margin-left: 840px;
  }
}

@media screen and (max-width:920px) {
  .container {
    width: 860px;
  }

  .bestsellers__item-imgBox {
    margin-bottom: 15px;
    margin-top: 35px;
  }
}

@media screen and (max-width:880px) {
  .container {
    width: 820px;
  }

  .header__searchLine-alarm1 {
    margin-left: 777px;
  }

  .hamburger-menu-2 {
    margin-left: 800px;
  }

  .bestsellers__item-price,
  .bestsellers__item-name {
    font-size: 14px;
  }

}

@media screen and (max-width:840px) {
  .container {
    width: 720px;
  }

  .hamburger-menu-2 {
    margin-left: 700px;
  }

  .header__searchLine-alarm1 {
    margin-left: 677px;
  }

  .bestsellers__box {
    grid-template-columns: repeat(3, 1fr)
  }

}

@media screen and (max-width:740px) {
  .container {
    width: 660px;
  }

  .header__searchLine-alarm1 {
    margin-left: 614px;
  }

  .hamburger-menu-2 {
    margin-left: 640px;
  }
}

@media screen and (max-width:680px) {
  .container {
    width: 600px;
  }

  .header__searchLine-alarm1 {
    margin-left: 555px;
  }

  .bestsellers__item-imgBox {
    margin-bottom: 5px;
    margin-top: 30px;
  }

  .hamburger-menu-2 {
    margin-left: 580px;
  }
}

@media screen and (max-width:630px) {
  .container {
    width: 540px;
  }

  .header__searchLine-alarm1 {
    margin-left: 496px;
  }

  .hamburger-menu-2 {
    margin-left: 520px;
  }

  .bestsellers__box {
    grid-template-columns: repeat(2, 1fr);
  }

  .catalog {
    flex-direction: column;
  }

  .catalog__menu-Container {
    height: auto;
  }

  .catalog__menu {
    margin-top: 40px;
  }

  .catalogMenu__rangeBox {
    justify-content: space-evenly;
  }

  .catalogMenu__currencyBox {
    justify-content: center;
    align-items: center;
    width: 143px;
    height: 40px;
  }

  .catalogMenu__currencyBox * {
    font-size: 16px;
  }

  .catalogMenu__inputcurrency {
    margin-left: -22px;
  }
}

@media screen and (max-width:560px) {
  .container {
    width: 480px;
  }

  .header__searchLine-alarm1 {
    margin-left: 437px;
  }

  .bestsellers__item-imgBox {
    margin-bottom: 20px;
    margin-top: 45px;
  }

  .hamburger-menu-2 {
    margin-left: 460px;
  }

}

@media screen and (max-width:500px) {
  .container {
    width: 400px;
  }

  .header__searchLine-alarm1 {
    margin-left: 357px;
  }

  .bestsellers__item-imgBox {
    margin-bottom: 10px;
    margin-top: 35px;
  }

  .hamburger-menu-2 {
    margin-left: 380px;
  }
}


@media screen and (max-width:420px) {
  .container {
    width: 360px;
  }

  .header__searchLine-alarm1 {
    margin-left: 317px;
  }

  .bestsellers__item-imgBox {
    margin-top: 35px;
  }

  .hamburger-menu-2 {
    margin-left: 340px;
  }

  .catalogMenu__currencyBox {
    width: 100px;
}
}

@media screen and (max-width:380px) {
  .container {
    width: 330px;
  }

  .header__searchLine-alarm1 {
    margin-left: 287px;
  }

  .bestsellers__item-imgBox {
    margin-top: 30px;
    margin-bottom: 0;
  }
}

@media screen and (max-width:340px) {
  .container {
    width: 290px;
  }

  .bestsellers__item-imgBox {
    height: 120px;
  }
}