@import url(/site_pages/contacts_page/style.css);

.display-none {
  display: none;
}

.box_withShadow {
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);
}

.mt20 {
  margin-top: 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.header__searchLine-alarm1 {
  display: none;
  position: absolute;
  margin-top: 56px;
  margin-left: 1248px;
  z-index: 100;
}

.header__logo {
    margin-top: -5px;
    margin-left: 140px;
    height: 26px;
    width: 112.96px;
}

.catalog {
  display: flex;
}

.catalog__filterBtn {
  display: none;
  padding: 10px 20px;
  background-color: #245462;
  color: #fff;
}

.catalog__menu {
  display: flex;
  flex-direction: column;
  margin-left: 140px;
  margin-top: 30px;
  width: 263px;
  height: 591px;
}

.catalog__select {
  width: 203px;
  height: 29px;
  background: #F8F8F8;;
  border-radius: 3px;
  font-size: 12px;
  line-height: 14px;
  color: #686868;
  padding: 7px 10px;
}

.subselect {
  width: 190px;
  height: 29px;
}

.cs {
  width: 203px;
  height: 29px;
  background: #F8F8F8;;
  border-radius: 3px;
  font-size: 12px;
  line-height: 14px;
  color: #686868;
  padding: 7px 10px;
}

.range {
    margin-top: 20px;
    width: 223px;
    height: 10px;
    position: relative;
    background: #ECECEC;
    border-radius: 3px;
}

.range__button_1, .range__button_2 {
    position: absolute;
    top: 50%;
    width: 14px;
    height: 14px;

    cursor: move;
    transform: translateY(-50%);

    border: none;
    border-radius: 50%;
    background-color: #245462;
}

.white-circle {
  margin: 3.5px auto;

  width: 7px;
  height: 7px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
}

.range__between
{
    position: absolute;
    height: 10px;
    margin-left: 10px;
    border: none;
    background-color: #245462;
}
.range__inpt1, .range__inpt2
{
  text-align: center;
  margin-top:20px;
  width: 90px;
  height: 30px;
  background: #F8F8F8;
  border-radius: 3px;
}

.line {
  margin-top: 18px;
  width: 19px;
  height: 2px;
  align-self: center;
  background-color: #414141;
}

.value_sumbol1 {
  position: absolute;
  margin-top: 22px;
  margin-left: 30px;
  align-self: center;
}

.brands {
  margin-top: 20px;
  margin-bottom: 20px;
}

.colors {
  margin-top: 65px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox+label::before {
  flex: 1 1 auto;
  margin: 0 5px;
  margin-top: 20px;
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.color {
  display: flex;
  margin: 0 -5px;
}

.brand {
  display: flex;
  flex-direction: column;
  margin: -5px 0;
}

.brand .custom-checkbox+label::before {
  margin: 5px 0;
  margin-right: 10px;
  background: #FFFFFF;
  border: 1px solid #245462;
  box-sizing: border-box;
  border-radius: 3px;
}

.brand .custom-checkbox:checked+label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #245462;

}

.custom-checkbox:checked+label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

#color1+label::before {
  background-color:#E94848;
  border-color: #E94848;

}

#color2+label::before {
  background-color:#43BF57;
  border-color: #43BF57;

}

#color3+label::before {
  background-color:#E4E4E4;
  border-color: #E4E4E4;
}

#color3:checked+label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23777' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

#color4+label::before {
  background-color:#3E3E3E;
  border-color: #3E3E3E;

}

#color5+label::before {
  background-color:#675A5A;
  border-color: #675A5A;

}

#color6+label::before {
  background-color:#864F4F;
  border-color:#864F4F;

}

.showMore {
  align-self: flex-start;
  margin-top: 15px;
  font-size: 12px;
  line-height: 14px;
  color: #245462;
}

.moreBrands {
  display: none;
}

.bestsellers__modalWindow-box {
  display: none;
  position: fixed;
  padding-top: 20px;
  height: 40px;
  left: 35%;
  top: 0;
  width: 30%;
  text-align: center;
  background-color: rgb(160, 160, 160);
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  color: black;
  z-index: 999;
}
/* products */

.bestsellers__box {
  margin-left: 10px;
  padding-top: 35px;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 849px;
}


.bestsellers__box-item {
  width: 263px;
  padding-bottom: 20px;
}


.bestsellers__item-img {
  margin-bottom: 150px;
  margin-left: 32px;
  margin-top: 38px;
}

.bestsellers__item-name {
  margin-left: 20px;
  margin-top: -73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
}

.bestsellers__item-category {
  margin-left: 20px;
  margin-top: 6px;
  font-size: 11px;
  line-height: 13px;
}

.bestsellers__item-price {
  margin-left: 20px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.toBasket {
  position: absolute;
  z-index: 99;
  background-color: #fff;
  width: inherit;
  padding-bottom: 20px;
  box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.07),
             -4px 4px 6px -1px rgba(0, 0, 0, 0.07);
}

.toBasket__sizesLable {
  margin-left: 20px;
  margin-top: 15px;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

.toBasket__sizes {
  display: flex;
  margin-left: 20px;
  margin-top: 8px;
  font-size: 9px;
  line-height: 11px;
  color: #C4C4C4;
}

.toBasket__depth-text {
  margin-left: 37px;
}

.toBasket__height-text {
  margin-left: 37px;
}

.toBasket__x {
  display: flex;
  margin-left: 75px;
  width: 7px;
  height: 14px;
}

.toBasket__x-svg2 {
  margin-left: 72px;
}

.toBasket__num {
  display: flex;
  font-size: 9px;
  line-height: 11px;
  color: #414141;
  margin-left: 20px;
  margin-top: -6px;
}

.toBasket__depth-num {
  margin-left: 50px;
}

.toBasket__height-num {
  margin-left: 52px;
}

.toBascet__add {
  width: 223px;
  height: 40px;
  margin-left: 20px;
  margin-top: 17px;
  background: #245462;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

.bestsellers__item-loverIcon {
  margin-left: 230px;
  margin-top: 21px;
}

#menu-2__toggle {
  opacity: 0;
}

#menu-2__toggle:checked ~ .menu-2__btn > .hamburger-menu-2__topline {
  transform: scaleX(1);
}
#menu-2__toggle:checked ~ .menu-2__btn > .hamburger-menu-2__midline {
  transform: scaleX(0.6) translateX(6px);
}
#menu-2__toggle:checked ~ .menu-2__btn > .hamburger-menu-2__botline {
  transform: scaleX(0.4) translateX(13px);
}
#menu-2__toggle:checked ~ .menu-2__box {
  visibility: visible;
}

.menu-2__btn {
  display: flex;
  align-items: center;
  top: 270px;
  margin-left: 830px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.hamburger-menu-2 {
  display: block;
  position: absolute;
  margin-top: -234px;
  margin-left: 428px;
}

.hamburger-menu-2__topline,
.hamburger-menu-2__midline ,
.hamburger-menu-2__botline {
  display: block;
  position: absolute;

  width: 18.33px;
  height: 2px;

  background-color: #616161;

  transition-duration: .25s;
}

.hamburger-menu-2__topline {
  content: '';
  top: 266px;
}

.hamburger-menu-2__midline {
  content: '';
  top: 278px;
}

.hamburger-menu-2__botline {
  content: '';
  top: 272px;
}

.menu-2__box {
  display: block;
  position: absolute;
  visibility: hidden;
  margin-top: 238px !important;
  margin-left: 683px;
  width: 165px;
  text-align: right;
  list-style: none;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  transition-duration: .25s;
}

.menu-2__item {
  display: block;
  padding: 13px 20px;

  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #414141;

  transition-duration: .25s;
}
.menu-2__item:hover {
  background-color: #CFD8DC;
}

.inputright {
  text-align: center;
}

.inputcurrency {
  background: url(/images/catalog_page/Ruble_sign.svg) no-repeat right;
  background-position: 74% 45%;
  background-size: 8% auto;
}

#select_2-box, #select_3-box {
  display: none;
}

@media (max-width:1024px) {

  .header__searchLine-alarm2 {
    margin-left: 913px;
  }
  .catalog__menu {
    margin-left: 0;
  }
  .catalog {
    width: 959px;
    justify-content: center;
  }
  .catalog__filterBtn {
    position: absolute;
    margin-top: 30px;
    display: block;
    align-self: flex-start;
    z-index: 9999;
  }
  .catalog__menu {
    display: none;
  }
  .inputcurrency {
    background-position: 83% 44%;
  }
  .hamburger-menu-2 {
    position: absolute;
    margin-top: -250px;
    margin-left: 0;
  }
  .hamburger-menu-2__topline {
    content: '';
    top: 293px;
  }
  .hamburger-menu-2__midline {
    content: '';
    top: 298px;
  }
  .hamburger-menu-2__botline {
    content: '';
    top: 303px;
  }
  .menu-2__btn {
    margin-left: 947px;
  }
  .menu-2__box {
    margin-top: 262px !important;
    margin-left: 801px;
  }
  .bestsellers__box-item {
    margin-left: 10px;
  }

}

@media (max-width:768px) {

  .catalog {
    width: 720px;
  }

  .hamburger-menu-2__topline {
    top: 276px;
  }

  .hamburger-menu-2__midline {
    top: 282px;
  }

  .hamburger-menu-2__botline {
    top: 288px;
  }

  .bestsellers__box {
    width: auto;
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
    margin-top: 54px;
  }

  .bestsellers__box-item {
    width: 237px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 207px;
    margin-top: 11px;
  }

  .bestsellers__item-img {
    margin-left: 20px;
  }

  .toBascet__add {
    width: 197px;
  }
}