@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Regular.ttf") format('truetype'),
    url("/fonts/RobotoCondensed-Regular.ttf") format('truetype')
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body,
html {
  height: 100%;
}

.display-none {
  display: none;
}

.box_withShadow {
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}

.container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.wrap_1 {
  flex: 1 0 auto;
}

.wrap_2 {
  flex: 0 0 auto;
}

.hamburger-menu {
  display: none;
}

.header__blackBack {
  position: relative;
  margin: 0 auto;
  height: 38px;
  max-width: 1400px;
  background-color: black;
  z-index: -1;
}

.header__sections {
  margin-top: -38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  z-index: 1;
}


.header__rightSide {
  display: flex;
}

.header__sections a {
  color: #fff;
  text-decoration: none;
}

.header__sections-main {
  margin-top: 11px;
}

.header__sections-about {
  margin-top: 11px;
  margin-left: 30px;
}

.header__sections-contacts {
  margin-top: 11px;
  margin-left: 30px;
}

.header__phone-icon {
  margin-top: -2px;
  width: 19px;
  height: 19px;
  background-image: url('/images/title_page/phone-black.svg');
  background-repeat: no-repeat;
}

.header__sections-phone {
  margin-left: 8px;
}

.header__delivery-icon {
  margin-left: 30px;
  width: 29px;
  height: 16.92px;
  background-image: url('/images/title_page/delivery-icon-white.svg');
  background-repeat: no-repeat;
}

.header__sections-delivery {
  margin-left: 10px;
}

.header__searchLine {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.header__searchLine-leftSide {
  display: flex;
  width: 88%;
}


.header__logo-link {
  text-decoration: none;
  margin-top: 19px;
}

.header__logo {
  margin-top: 2px;
  height: 25px;
  width: 112.96px;
}

.header__searchLine-input {
  border: 1px solid #E5E5E5;
  width: 83%;
  height: 49px;
  margin-left: 35px;
  margin-top: 8px;
  background-image: url(/images/title_page/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 15px 17px;
  text-indent: 35px;
  font-size: 15px;
  padding: 0 11px 0px 11px;
}

.header__searchLine-icons {
  display: flex;
  margin-left: 37px;
}

.header__searchLine-wishlist {
  margin-top: 26px;
  width: 20.83px;
  height: 18px;
}

.header__searchLine-bag {
  margin-left: 29px;
  margin-top: 25px;
  width: 16.13px;
  height: 20px;
  background-image: url(/images/title_page/bag.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.header__searchLine-profile {
  background-image: url(/images/title_page/profile-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 32px;
  margin-top: 25px;
  width: 16.87px;
  height: 20px;
}

.header__searchLine-alarm1 {
  display: none;
}

.header__searchLine-alarm1,
.header__searchLine-alarm2 {
  position: absolute;
  margin-top: 28px;
  margin-left: 60px;
  z-index: 100;
}

.header__menu-etc-icon {
  margin-top: 80px !important;
}

.slider {
  width: 100%;
}

.slider__box {
  width: 100%;
  height: 450px;
  position: relative;
  margin-top: 30px;
}

.slider__box .item img {
  object-fit: cover;
  width: 100%;
}

/* Кнопки вперед и назад */
.slider__box .previous,
.slider .next {
  cursor: pointer;
  position: absolute;
  top: 50.5%;
  margin-left: 3%;
  width: auto;
  margin-top: -22px;
  padding: 7px 11px 6px 11px;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
}

.slider__box .next {
  right: 2.9%;
  border-radius: 3px 0 0 3px;
}

.previous {
  background: rgba(157, 157, 157, 0.28);
  color: #fff;
}

.slider__box .previous {
  left: -0.3%;
}

.next {
  background: #fff;
  color: #C4C4C4;
}

/* При наведении на кнопки добавляем фон кнопок */
.previous:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.slider__box-img {
  background-size: cover;
  height: 443px;
}

.slider__title {
  position: absolute;
  width: 216px;
  height: 106px;
  margin-top: -119px;
  margin-left: 124px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 49.9px;
  line-height: 105.3%;
  text-transform: uppercase;
}

.slider__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.8%;
  letter-spacing: 0.02em;
  color: #343434;
  margin-top: -226px;
  margin-left: 127px;
}

.slider__button {
  Width: 161px;
  Height: 45px;
  background: rgba(255, 255, 255, 1);
  border-radius: 0px;
  margin-left: 125px;
  margin-top: 21px;
}

.slider__button-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  color: #414141;
  text-transform: uppercase;
}

.slider__text-content_1 .slider__title,
.slider__text-content_1 .slider__text {
  color: #3C3C3C;
}

.slider__text-content_2 .slider__title,
.slider__text-content_2 .slider__text {
  color: #fff;
}

.slider__text-content_3 .slider__title,
.slider__text-content_3 .slider__text {
  color: #61ad94
}

.bestsellers__modalWindow-box {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  padding-top: 20px;
  height: 40px;
  width: 100%;
  text-align: center;
  background-color: rgb(160, 160, 160);
  font-family: Playfair Display;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  color: black;
  z-index: 999;
  opacity: 0.8;
}


.bestsellers__head-text {
  margin-top: 25px;
}

.bestsellers__discount {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 19px;
  margin-top: 21px;
}

.bestsellers__discount-logo {
  width: 17px;
  height: 17px;
}

.bestsellers__discount-num {
  margin-left: 3px;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.bestsellers__box {
  padding-top: 35px;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}


.bestsellers__box-item {
  margin-bottom: 53px;
  width: 263px;
}

.bestsellers__item-imgBox {
  display: flex;
  align-items: center;
  width: 200px;
  height: 150px;
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 29px;
}

.bestsellers__item-img {
  align-self: center;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.bestsellers__item-name {
  width: 84%;
  margin-left: 20px;
  margin-top: -101px;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
}

.bestsellers__item-category {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 11px;
  line-height: 13px;
}

.bestsellers__item-priceBox {
  width: 50%;
  display: flex;
  align-items: center;
  margin-top: 9px;
}

.bestsellers__item-price {
  margin-left: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.bestsellers__fullPrice {
  margin-left: 6px;
  font-size: 12px;
  text-decoration-line: line-through;
  color: #CCCCCC;
}

.toBasket {
  position: absolute;
  margin-top: -3px;
  z-index: 99;
  background-color: #fff;
  width: inherit;
  padding-bottom: 20px;
  box-shadow: 4px 5px 6px -1px rgb(0 0 0 / 9%), -4px 5px 6px -1px rgb(0 0 0 / 9%);
}

.toBasket__sizesLable {
  margin-left: 20px;
  margin-top: 15px;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

.toBasket__sizes {
  display: flex;
  margin-left: 20px;
  margin-top: 8px;
  font-size: 9px;
  line-height: 11px;
  color: #C4C4C4;
}

.toBasket__depth-text {
  margin-left: 37px;
}

.toBasket__height-text {
  margin-left: 37px;
}

.toBasket__x {
  display: flex;
  margin-left: 75px;
  width: 7px;
  height: 14px;
}

.toBasket__x-svg2 {
  margin-left: 72px;
}

.toBasket__num {
  display: flex;
  font-size: 9px;
  line-height: 11px;
  color: #414141;
  margin-left: 20px;
  margin-top: -6px;
}

.toBasket__depth-num {
  margin-left: 50px;
}

.toBasket__height-num {
  margin-left: 52px;
}

.toBascet__add {
  width: 223px;
  height: 40px;
  margin-left: 20px;
  margin-top: 16px;
  background: #245462;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

.bestsellers__item-loverIcon {
  margin-left: 225px;
  margin-top: 21px;
}

.footer__content {
  flex-direction: row;
}

@media screen and (max-width:1240px) {
  .container {
    width: 1100px;
  }

  .header__searchLine-input {
    width: 80%;
  }

  .slider__box {
    height: 450px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 221px;
    margin-top: 21px;
  }

}

@media screen and (max-width:1180px) {
  .container {
    width: 1040px;
  }

  .bestsellers__box-item {
    width: 257px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 217px;
  }

  .toBascet__add {
    width: 217px;
  }

}

@media screen and (max-width:1120px) {
  .container {
    width: 1020px;
  }

  .bestsellers__box-item {
    width: 252px;
  }

  .toBascet__add {
    width: 212px;
  }


}


@media screen and (max-width:1080px) {
  .container {
    width: 980px;
  }

  .bestsellers__box-item {
    width: 242px;
  }

  .toBascet__add {
    width: 202px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 204px;
  }

}


@media screen and (max-width:1024px) {
  .container {
    width: 960px;
  }

  .header__blackBack {
    display: none;
  }

  .header__searchLine {
    align-items: center;
    height: 115px;
    margin-top: 0;
  }

  .header__searchLine * {
    margin-top: 0;
  }

  .header__searchLine-leftSide {
    align-items: center;
  }

  .header__sections-main,
  .header__sections-about,
  .header__sections-contacts {
    display: none;
  }

  .header__sections {
    position: absolute;
    margin-top: 33px;
    margin-left: 525px;
    display: flex;
    background-color: #fff;
    font-size: 12px;
    line-height: 14px;
  }

  .header__sections a {
    color: #000000;
    text-decoration: none;
  }

  .header__sections-phone {
    width: 115px;
    margin-top: 15px;
    margin-left: 11px;
    font-size: 13px;
  }

  .header__phone-icon {
    margin-left: -51px;
    margin-top: 13px;
    background-image: url('/images/title_page/phone-white.svg');
  }

  .header__delivery-icon {
    margin-left: 18px;
    margin-top: 14px;
    width: 29px;
    height: 19.92px;
    background-image: url('/images/title_page/delivery-icon-black.svg');
    background-repeat: no-repeat;
  }

  .header__sections-delivery {
    margin-top: 15px;
    font-size: 13px;
    margin-left: 12px;
  }

  .header__searchLine-input {
    position: absolute;
    border: 1px solid #E5E5E5;
    width: 223px;
    height: 50px;
    margin-left: 199.5px;
    background-position: 15px 18px;
    text-indent: 35px;
    font-size: 15px;
    padding: 1px 11px 0px 11px;
  }

  .header__logo-link {
    margin-left: 0px;
  }

  .header__logo {
    margin-left: 15px;
    margin-top: 4px;
    height: 25px;
    width: 112.96px;
  }

  .header__searchLine-wishlist {
    margin-left: 648px;
    width: 22.83px;
    height: 19px;
  }

  .header__searchLine-bag {
    margin-left: 29px;
    width: 17.13px;
    height: 20px;
  }

  .header__searchLine-profile {
    margin-left: 29px;
    width: 16.87px;
    height: 21px;
  }

  .header__menu-etc-icon {
    margin-top: 114px !important;
  }

  .slider__box {
    height: 337px;
  }

  .slider__box .item img {
    width: 100%;
  }

  .slider__box-img {
    height: 337px;
    margin-left: 0;
  }

  .slider__title {
    display: none;
  }

  .slider__text {
    visibility: hidden;
    margin-left: 59px;
  }

  .slider__text::before {
    content: 'Современная';
    visibility: visible;
    display: block;
    position: absolute;
    width: 247px;
    height: 68px;
    font-size: 27px;
    line-height: 34px;
    font-style: normal;
    font-weight: bold;
    margin-top: -35px;
  }

  .slider__text::after {
    content: ' и удобная мебель';
    visibility: visible;
    display: block;
    position: absolute;
    width: 247px;
    height: 68px;
    font-size: 27px;
    line-height: 34px;
    font-style: normal;
    font-weight: bold;
    margin-top: -20px;
  }

  .slider__text-content_1 .slider__text {
    color: #0a0a0a;
  }

  .slider__button {
    margin-left: 59px;
    margin-top: 44px;
    width: 150px;
    height: 44px;
  }

  .slider__box .previous,
  .slider .next {
    margin-top: 58px;
    padding: 6px 12px 6px 12px;
    font-size: 10px;
  }

  .slider .next {
    right: 3%;
    border-radius: 0 3px 3px 0;
  }

  .slider__box .previous {
    left: 87.76%;
    border-radius: 3px 0 0 3px;
  }

  .slider__box .previous,
  .slider .next {
    margin-top: 114px;
  }

  .header__searchLine-alarm1,
  .header__searchLine-alarm2 {
    margin-left: 711px;
    margin-top: 3px;
  }

  .bestsellers__box-item {
    width: 300px;
  }

  .bestsellers__item-imgBox {
    margin-top: 29px;
  }

  .bestsellers__head-text {
    margin-left: 0px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 258px;
  }

  .bestsellers__item-name,
  .bestsellers__item-category,
  .bestsellers__item-price,
  .toBasket__sizesLable,
  .toBasket__sizes,
  .toBasket__num,
  .toBascet__add {
    margin-left: 30px;
  }

  .toBascet__add {
    width: 240px;
  }

  .toBasket__x {
    margin-left: 84px;
  }

}

@media screen and (max-width:980px) {
  .container {
    width: 900px;
  }

  .header__searchLine-wishlist {
    margin-left: 588px;
  }

  .header__searchLine-alarm1,
  .header__searchLine-alarm2 {
    margin-left: 651px;
    margin-top: 3px;
  }

  .slider__box .previous {
    left: 87.36%;
  }

  .bestsellers__box-item {
    width: 296px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 257px;
  }

  .toBascet__add {
    width: 236px;
  }

}

@media screen and (max-width:920px) {
  .container {
    width: 860px;
  }

  .header__searchLine-input {
    margin-left: 187.5px;
  }

  .header__sections {
    margin-left: 512px;
  }

  .header__searchLine-wishlist {
    margin-left: 548px;
  }

  .header__searchLine-alarm1,
  .header__searchLine-alarm2 {
    margin-left: 611px;
  }

  .bestsellers__box-item {
    width: 285px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 243px;
  }

  .toBascet__add {
    width: 225px;
  }
}

@media screen and (max-width:880px) {
  .container {
    width: 820px;
  }

  .header__searchLine-alarm1,
  .header__searchLine-alarm2 {
    margin-left: 579px;
  }

  .header__logo {
    margin-left: 12px;
  }

  .header__searchLine-input {
    margin-left: 181.5px;
  }

  .header__sections {
    margin-left: 500px;
  }

  .header__sections-phone,
  .header__sections-delivery {
    margin-left: 7px;
  }

  .header__delivery-icon {
    margin-left: 8px;
  }

  .header__searchLine-wishlist {
    margin-left: 525px;
  }

  .header__searchLine-bag,
  .header__searchLine-profile {
    margin-left: 20px;
  }

  .slider__box .previous {
    left: 86.8%;
  }

  .bestsellers__box-item {
    width: 268px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 230px;
  }

  .toBascet__add {
    width: 208px;
  }

}

@media screen and (max-width:840px) {
  .container {
    width: 720px;
  }

  .header__searchLine-alarm1,
  .header__searchLine-alarm2 {
    margin-left: 198px;
  }

  .header__sections {
    position: absolute;
    margin-top: 34px;
    margin-left: 448px;
  }

  .header__searchLine-input {
    position: static;
    width: 219px;
    height: 30px;
    margin-left: 40px;
    padding: 4px 11px 4px 11px;
    background-position: 15px 11px;
  }

  .header__phone-icon {
    display: none;
  }

  .header__sections-phone {
    display: none;
  }

  .header__delivery-icon {
    margin-left: 20px;
    margin-top: 9px;
    width: 29px;
    height: 17px;
  }

  .header__sections-delivery {
    margin-top: 10px;
    margin-left: 8px;
  }

  .header__searchLine-wishlist {
    margin-left: 145px;
    width: 21.83px;
    height: 19px;
  }

  .header__searchLine-bag {
    width: 18.13px;
    height: 20px;
  }

  .header__searchLine-profile {
    width: 15.87px;
    height: 20px;
  }

  .slider__box .item img {
    height: 253px;
  }

  .slider,
  .slider__box {
    height: 253px;
  }

  .slider__text::before {
    margin-top: 32px;
    font-size: 24px;
    line-height: 28px;
  }

  .slider__text::after {
    margin-top: 39px;
    font-size: 24px;
    line-height: 28px;
  }

  .slider__button {
    margin-top: 87px;
    width: 130px;
    height: 40px;
  }

  .slider__button-text {
    font-size: 10px;
    text-transform: none;
  }

  .slider__box .previous,
  .slider .next {
    margin-top: 84px;
  }

  .slider__box .previous {
    left: 87%;
  }

  .slider .next {
    right: 1.7%;
  }

  .bestsellers__box {
    padding-top: 25px;
  }


  .bestsellers__box-item {
    width: 230px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 189px;
  }

  .bestsellers__item-price,
  .bestsellers__item-category,
  .bestsellers__item-name,
  .toBasket__sizesLable,
  .toBasket__sizes,
  .toBasket__num {
    margin-left: 35px;
  }

  .bestsellers__item-imgBox {
    width: 160px;
  }

  .bestsellers__item-price,
  .bestsellers__item-name {
    font-size: 14px;
  }

  .bestsellers__head-text {
    margin-top: 42px;
  }

  .toBasket__depth-text,
  .toBasket__height-text {
    margin-left: 15px;
  }

  .toBasket__num {
    margin-left: 36px;
    margin-top: 0px;
  }

  .toBasket__depth-num {
    margin-left: 29px;
  }

  .toBasket__height-num {
    margin-left: 29px;
  }

  .toBasket__x {
    margin-left: 80px;
  }

  .toBasket__x-svg2 {
    margin-left: 50px;
  }

  .toBascet__add {
    width: 176px;
    margin-left: 27px;
  }
}

@media screen and (max-width:740px) {

  .container {
    width: 660px;
  }

  .header__searchLine-alarm1,
  .header__searchLine-alarm2 {
    margin-left: 199px;
  }

  .header__logo {
    margin-left: 12px;
  }

  .header__searchLine-input {
    margin-left: 20px;
  }

  .header__sections {
    margin-top: 31px;
    margin-left: 437px;
  }

  .header__delivery-icon {
    margin-left: 0;
    margin-top: 15px;
  }

  .header__sections-delivery {
    margin-top: 16px;
  }

  .header__searchLine-icons {
    margin-left: 0;
  }

  .slider__box .previous {
    left: 86.3%;
  }


  .header__searchLine-bag,
  .header__searchLine-profile {
    margin-left: 22px;
  }

  .bestsellers__box-item {
    width: 205px;
  }

  .bestsellers__item-price,
  .bestsellers__item-category,
  .bestsellers__item-name,
  .toBasket__sizesLable,
  .toBasket__sizes {
    margin-left: 22.5px;
  }

  .toBasket__x {
    margin-left: 66px;
  }

  .toBasket__num {
    margin-left: 22.5px;
  }

  .toBascet__add {
    width: 160px;
    margin-left: 22.5px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 166px;
  }
}

@media screen and (max-width:680px) {

  .container {
    width: 600px;
  }

  .header__searchLine-alarm1,
  .header__searchLine-alarm2 {
    margin-left: 141px;
  }

  .header__sections-delivery {
    display: none;
  }

  .header__delivery-icon {
    margin-left: 11px;
    width: 31px;
    height: 27px;
    background-size: 30px 36px;
    background-position-y: center;
  }

  .header__searchLine-wishlist {
    margin-left: 86px;
  }

  .slider__box .previous {
    left: 85%;
  }

  .slider .next {
    right: 2%;
  }

  .bestsellers__box-item {
    width: 185px;
  }

  .bestsellers__discount {
    margin-left: 14px;
  }

  .bestsellers__item-price,
  .bestsellers__item-category,
  .bestsellers__item-name,
  .toBasket__sizesLable,
  .toBasket__sizes {
    margin-left: 12.5px;
  }

  .toBasket__num {
    margin-left: 12.5px;
  }

  .toBascet__add {
    width: 160px;
    margin-left: 12.5px;
  }

  .toBascet__add {
    width: 160px;
    margin-left: 12.5px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 147px;
  }

}

@media screen and (max-width:630px) {

  .container {
    width: 540px;
  }

  .header__searchLine-alarm1,
  .header__searchLine-alarm2 {
    margin-left: 120px;
  }

  .header__searchLine-input {
    width: 178px;
  }

  .header__searchLine-wishlist {
    margin-left: 67px;
  }

  .header__searchLine-bag,
  .header__searchLine-profile {
    margin-left: 20px;
  }

  .header__sections {
    margin-left: 385px;
  }

  .header__delivery-icon {
    height: 27px;
  }

  .slider,
  .slider__box {
    height: 213px;
  }

  .slider__box .item img {
    height: 213px;
  }

  .slider__text::before {
    margin-top: 60px;
    font-size: 21px;
  }

  .slider__text::after {
    margin-top: 67px;
    font-size: 21px;
  }

  .slider__button {
    margin-top: 107px;
  }

  .slider__box .previous,
  .slider .next {
    margin-top: 64px;
  }

  .slider .next {
    right: 2.3%;
  }

  .slider__box .previous {
    left: 84%;
  }

  .bestsellers__box-item {
    width: 170px;
  }

  .bestsellers__item-imgBox {
    width: 140px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 133px;
  }

  .bestsellers__discount {
    margin-left: 14px;
  }

  .toBasket__x {
    margin-left: 57px;
  }

  .toBascet__add {
    width: 145px;
  }

  .toBasket {
    padding-bottom: 15px;
  }
}

@media screen and (max-width:560px) {

  .container {
    width: 480px;
  }

  .header__searchLine-input {
    position: absolute;
    margin-left: 0;
    margin-top: 110px;
    width: 458px;
  }

  .header__delivery-icon {
    margin-top: 8px;
  }

  .header__sections-delivery {
    display: block;
    margin-top: 14px;
  }

  .header__sections {
    margin-left: 233px;
    margin-top: 35px;
  }

  .header__menu-cell:hover .header__menu-bedroom-icon {
    background-size: 28px 28.22px;
    background-position: 11px 11px;
  }

  .slider,
  .slider__box {
    height: 189px;
  }

  .slider__box .item img {
    height: 189px;
  }

  .slider__text::before {
    margin-top: 76px;
    font-size: 19px;
  }

  .slider__text::after {
    margin-top: 83px;
    font-size: 19px;
  }

  .slider__button {
    margin-top: 120px;
  }

  .slider__box .previous,
  .slider .next {
    margin-top: 52px;
  }

  .slider__box .previous {
    left: 82.5%;
  }

  .bestsellers__box-item {
    width: 238px;
  }

  .bestsellers__item-imgBox {
    width: 180px;
  }


  .bestsellers__item-price,
  .bestsellers__item-category,
  .bestsellers__item-name,
  .toBasket__num,
  .toBasket__sizesLable,
  .toBasket__sizes {
    margin-left: 19px;
  }

  .toBasket__x {
    margin-left: 63px;
  }

  .toBascet__add {
    margin-left: 19px;
    width: 200px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 197px;
  }

  .bestsellers__discount {
    margin-left: 20px;
  }
}

@media screen and (max-width:500px) {

  .container {
    width: 400px;
  }

  .header__sections {
    margin-left: 166px;
  }

  .header__searchLine-input {
    width: 378px;
  }

  .slider,
  .slider__box {
    height: 158px;
  }

  .slider__box .item img {
    height: 158px;
  }

  .slider__button {
    margin-top: 140px;
    width: 120px;
    height: 30px;
  }

  .slider__box .previous,
  .slider .next {
    margin-top: 36px;
  }

  .slider__text::before {
    margin-top: 97px;
    font-size: 17px;
  }

  .slider__text::after {
    margin-top: 103px;
    font-size: 17px;
  }

  .slider__box .previous {
    left: 79%;
  }

  .slider .next {
    right: 3.3%;
  }

  .bestsellers__box-item {
    width: 195px;
  }

  .bestsellers__item-imgBox {
    width: 160px;
  }

  .toBascet__add {
    width: 157px;
  }

  .toBasket__num {
    margin-left: 19px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 155px;
  }
}


@media screen and (max-width:420px) {

  .container {
    width: 360px;
  }

  .header__sections-delivery {
    display: none;
  }

  .header__sections {
    margin-left: 202px;
  }

  .header__searchLine-input {
    width: 338px;
  }

  .slider,
  .slider__box {
    height: 142px;
  }

  .slider__box .item img {
    height: 142px;
  }

  .slider__text::before {
    margin-top: 104px;
    font-size: 16px;
    margin-left: -20px;
  }

  .slider__text::after {
    margin-top: 110px;
    font-size: 16px;
    margin-left: -20px;
  }

  .slider__button {
    margin-top: 145px;
    margin-left: 40px;
  }

  .slider__box .previous,
  .slider .next {
    margin-top: 29px;
  }

  .slider__box .previous {
    left: 77.5%;
  }

  .bestsellers__box-item {
    width: 178px;
  }

  .bestsellers__item-imgBox {
    margin-bottom: 125px;
    width: 100%;
  }

  .bestsellers__item-price,
  .bestsellers__item-category,
  .bestsellers__item-name,
  .toBasket__sizesLable,
  .toBasket__sizes {
    margin-left: 18px;
  }

  .toBascet__add {
    width: 140px;
    font-size: 12px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 147px;
    margin-top: 13px;
  }

  .bestsellers__discount {
    margin-left: 11px;
    margin-top: 13px;
  }

  .bestsellers__item-price,
  .bestsellers__item-name {
    font-size: 13px;
  }

  .bestsellers__item-category {
    font-size: 10px;
  }
}

@media screen and (max-width:380px) {

  .container {
    width: 330px;
  }

  .header__sections {
    margin-left: 173px;
  }

  .header__searchLine-input {
    width: 308px;
  }

  .menu__box {
    z-index: 3;
  }

  .slider,
  .slider__box {
    height: 130px;
  }

  .slider__box .item img {
    height: 130px;
  }

  .slider__text::before {
    margin-top: 92px;
    padding-top: 32px;
    padding-left: 15px;
    width: 151px;
    height: 98px;
    margin-left: -59px;
    background-color: #F4F4F4;
  }

  .slider__text::after {
    margin-top: 124px;
    margin-left: -43px;
  }

  .slider__button {
    display: none;
  }

  .slider__text::before {
    margin-top: 92px;
    padding-top: 30px;
    padding-left: 15px;
    width: 151px;
    height: 100px;
    margin-left: -59px;
    background-color: #F4F4F4;
  }

  .slider__text::after {
    margin-top: 100px;
    margin-left: -43px;
  }

  #slider {
    z-index: 2;
  }

  .slider__box::before {
    content: "С доставкой по";
    margin-top: 72px;
    margin-left: 16px;
    font-size: 10px;
    position: absolute;
    z-index: 1;
  }

  .slider__box::after {
    content: "Краснодарскому краю";
    margin-top: 84px;
    margin-left: 16px;
    font-size: 10px;
    position: absolute;
  }

  .slider__box .previous,
  .slider .next {
    display: none;
  }

  .bestsellers__box-item {
    width: 162px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 129px;
  }

  .bestsellers__item-price,
  .bestsellers__item-category,
  .bestsellers__item-name,
  .toBasket__sizesLable,
  .toBasket__sizes {
    margin-left: 11px;
  }

  .toBasket__depth-text,
  .toBasket__height-text {
    margin-left: 12px;
  }

  .toBasket__num {
    margin-left: 12px;
  }

  .toBasket__depth-num {
    margin-left: 25px;
  }

  .toBasket__x {
    margin-left: 53px;
  }

  .toBasket__x-svg2 {
    margin-left: 47px;
  }

  .toBasket__height-num {
    margin-left: 27px;
  }

  .toBascet__add {
    width: 140px;
    margin-left: 11px;
  }
}

@media screen and (max-width:340px) {

  .container {
    width: 290px;
  }

  .header__sections {
    display: none;
  }

  .header__searchLine-input {
    margin-left: 0;
    margin-top: 90px;
    width: 266px;
  }

  .header__searchLine-wishlist {
    margin-left: 43px;
  }

  .header__searchLine-bag {
    margin-left: 20px;
  }

  .header__searchLine-alarm1,
  .header__searchLine-alarm2 {
    margin-left: 95px;
  }

  .header__searchLine-profile {
    margin-left: 20px;
  }

  .slider__text::before {
    margin-top: 92px;
    font-size: 16px;
  }

  .slider__text::after {
    width: 140px;
    margin-top: 100px;
    font-size: 16px;
  }

  .bestsellers__box-item {
    width: 143px;
  }

  .bestsellers__discount {
    margin-left: 9px;
    margin-top: 9px;
  }

  .bestsellers__discount-logo {
    width: 14px;
    height: 14px;
  }

  .bestsellers__discount-num {
    margin-left: 3px;
    font-size: 10px;
  }

  .bestsellers__item-price,
  .bestsellers__item-category,
  .bestsellers__item-name,
  .toBasket__sizesLable {
    margin-left: 14px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 117px;
    margin-top: 10px;
    width: 14px;
    height: 12px;
  }


  .bestsellers__item-name {
    font-size: 12px;
    line-height: 19px;
    font-weight: bold;
  }

  .toBasket__sizes {
    margin-left: 14px;
    font-size: 7px;
  }


  .toBasket__width-text {
    margin-left: 0;
  }

  .toBasket__depth-text,
  .toBasket__height-text {
    margin-left: 4px;
  }

  .toBasket__x {
    margin-left: 47px;
  }

  .toBasket__x-svg1,
  .toBasket__x-svg2 {
    width: 5px;
  }

  .toBasket__x-svg1 {
    margin-left: -3px;
  }

  .toBasket__x-svg2 {
    margin-left: 31px;
  }

  .toBasket__num {
    margin-left: 14px;
    font-size: 7px;
  }

  .toBasket__depth-num {
    margin-left: 15px;
  }

  .toBasket__height-num {
    margin-left: 15px;
  }

  .toBascet__add {
    width: 136px;
    margin-left: 3.5px;
  }

  .toBasket {
    padding-bottom: 4px;
  }
}

@media screen and (max-width:335px) {
  .slider__text::after {
    margin-top: 100px;
  }
}