@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Regular.ttf") format('truetype'),
       url("/fonts/RobotoCondensed-Regular.ttf") format('truetype')
}

* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

.display-none {
  display: none;
}

.box_withShadow {
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}

.container {
  width: 1400px;
  margin: 0 auto;
}


.header__sections {
  margin: 10px;
  display: flex;
  height: 38px;
  background-color: #313131;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
}

.header__sections a {
  color: #fff;
  text-decoration: none;
}

.header__sections-main {
  margin-top: 10px;
  margin-left: 140px;
}

.header__sections-about {
  margin-top: 10px;
  margin-left: 30px;
}

.header__sections-contacts {
  margin-top: 10px;
  margin-left: 30px;
}

.header__phone-icon{
  margin-top: 10px;
  margin-left: 652px;
  width: 17px;
  height: 17px;
}

.header__sections-phone {
  margin-top: 10px;
  margin-left: 11px;
}

.header__delivery-icon{
  margin-left: 30px;
  width: 29px;
  height: 16.92px;
  margin-top: 10.46px;
}


.header__sections-delivery {
  margin-top: 10px;
  margin-left: 10px;
}

.header__searchLine{
  display: flex;
}

.header__logo {
  margin-top: 32px;
  margin-left: 140px;
  height: 25px;
  width: 112.96px;
}

.header__searchLine-input {
  position: absolute;
  border: 1px solid #E5E5E5;
  width: 796px;
  height: 50px;
  margin-left: 291.04px;
  margin-top: 20px;
}


input#search {
  background-image: url(/images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 15px 17px;
  text-indent: 35px;
  padding: 0 10px 0 10px;
}

.header__searchLine-wishlist {
  position: relative;
  margin-left: 911px;
  margin-top: 37px;
  width: 19.83px;
  height: 17px;
}

.header__searchLine-bag {
  position: absolute;
  margin-left: 1217px;
  margin-top: 36px;
  width: 15.13px;
  height: 18px;
  background-image: url(/images/bag.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.header__searchLine-alarm1 {
  display: none;
  position: absolute;
  margin-top: 38px;
  margin-left: 1227px;
  z-index: 100;
}

.header__searchLine-alarm2 {
  position: absolute;
  margin-top: 38px;
  margin-left: 1227px;
  z-index: 100;
}

.header__searchLine-profile {
  position: absolute;
  background-image: url("/images/profile-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 1266px;
  margin-top: 36px;
  width: 15.87px;
  height: 19px;
}

.header__menu {
  display: flex;
  width: 1140px;
  height: 70px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  margin-left: 140px;
  margin-top: 20px;
}

.header__menu-cell {
  display: flex;
  text-align: center;
}

.header__menu-cell:hover {
  background-color: #245462;
  color: #fff;
}

.header__menu-kitchen-icon {
  width: 23px;
  height: 23px;
  padding-top: 23px;
  padding-left: 25px;
}

.header__menu-kitchen-text {
  padding-top: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-right: 25px;

}
.header__menu-bedroom-icon {
  width: 28px;
  height: 22.22px;
  padding-left: 25px;
  padding-top: 24px;
}
.header__menu-bedroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-right: 25px;
  padding-top: 25px;
}
.header__menu-livingroom-icon {
  width: 30px;
  height: 22.03px;
  padding-left: 25px;
  padding-top: 24px;
}
.header__menu-livingroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-top: 25px;
  padding-right: 25px;
}
.header__menu-closet-icon {
  width: 21.91px;
  height: 22px;
  padding-left: 25px;
  padding-top: 24px;
}
.header__menu-closet-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10.04px;
  padding-top: 25px;
  padding-right: 25px;
}
.header__menu-office-icon {
  width: 22px;
  height: 22px;
  padding-left: 25px;
  padding-top: 24px;
}
.header__menu-office-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-top: 25px;
  padding-right: 25px;
}
.header__menu-childrensroom-icon {
  width: 22px;
  height: 22px;
  padding-left: 25px;
  padding-top: 24px;
}
.header__menu-childrensroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-top: 25px;
  padding-right: 25px;
}
.header__menu-stock-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  color: #D74444;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
}

.header__menu-stock-text:hover {
  color: #fff;
}


.header__menu-etc-icon {
  width: 4.27px;
  height: 14px;
  padding-left: 25px;
  padding-top: 28px;
  padding-right: 25px;
}

.dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  font-size: 14px;
  line-height: 16px;
  background-color: #fff;
  z-index: 99;
  width: 189px;
  text-align: start;
  padding-left: 15px;
  padding-bottom: 25px;
  margin-top: 70px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}


.kitchen:hover .dropdown__kitchen {
  display: flex;
}

.bedroom:hover .dropdown__bedroom {
  display: flex;
}

.livingroom:hover .dropdown__livingroom {
  display: flex;
}

.closet:hover .dropdown__closet {
  display: flex;
}

.office:hover .dropdown__office {
  display: flex;
}

.menu-stock:hover .dropdown__menu-stock {
  display: flex;
  width: 151px;
  padding-bottom: 25px;;
}

.childrensroom:hover .dropdown__childrensroom {
  display: flex;
}

.dropdown a {
  margin-top: 25px;
  text-decoration: none;
  color: #414141;
}

.slider__box{
  width: 1140px;
  height: 450px;
  position: relative;
  margin-left: 140px;
  margin-top: 30px;
}
/* Картинка масштабируется по отношению к родительскому элементу */
.slider__box .item img {
  object-fit: cover;
  width: 100%;
}
/* Кнопки вперед и назад */
.slider__box .previous, .slider .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.slider__box .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previous {
  background: rgba(157, 157, 157, 0.28);
  color: #fff;
}

.next {
  background: #fff;
  color: #C4C4C4;
}
/* При наведении на кнопки добавляем фон кнопок */
.previous:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.slider__box-img {
  background-size: cover;
  max-height: 450px;
}

.slider__title {
  position: absolute;
  width: 216px;
  height: 106px;
  margin-top: -120px;
  margin-left: 120px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 105.3%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #3C3C3C;
}

.slider__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140.8%;
  letter-spacing: 0.02em;
  color: #343434;
  margin-top: -229px;
  margin-left: 120px;
}

.slider__button {
  Width: 163px;
  Height: 45px;
  background: rgba(255, 255, 255, 1);
  border-radius: 0px;
  margin-left: 120px;
  margin-top: 20px;
}

.slider__button-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #414141;
  text-transform: uppercase;
}

.slider__text-content_1 .slider__title, .slider__text-content_1 .slider__text {
  color: #3C3C3C;
}

.slider__text-content_2 .slider__title, .slider__text-content_2 .slider__text {
  color: #fff;
}

.slider__text-content_3 .slider__title, .slider__text-content_3 .slider__text {
  color: #61ad94
}

.bestsellers__modalWindow-box {
  display: none;
  position: fixed;
  padding-top: 20px;
  height: 40px;
  left: 35%;
  top: 0;
  width: 30%;
  text-align: center;
  background-color: rgb(160, 160, 160);
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  color: black;
  z-index: 999;
}


.bestsellers__head-text {
  margin-left: 140px;
  margin-top: 30px;
}

.bestsellers__discount {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 743px;
  margin-top: 54px;
}

.bestsellers__discount-logo {
  width:17px;
  height: 17px;
}

.bestsellers__discount-num {
  margin-left: 7px;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.bestsellers__box {
  margin-left: 140px;
  padding-top: 35px;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1140px;
  height: 2812px;
}


.bestsellers__box-item {
  width: 263px;
  padding-bottom: 20px;
}


.bestsellers__item-img {
  margin-bottom: 150px;
  margin-left: 32px;
  margin-top: 38px;
}

.bestsellers__item-name {
  margin-left: 20px;
  margin-top: -73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
}

.bestsellers__item-category {
  margin-left: 20px;
  margin-top: 6px;
  font-size: 11px;
  line-height: 13px;
}

.bestsellers__item-price {
  margin-left: 20px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.toBasket {
  position: absolute;
  z-index: 99;
  background-color: #fff;
  width: inherit;
  padding-bottom: 20px;
  box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.07),
             -4px 4px 6px -1px rgba(0, 0, 0, 0.07);
}

.toBasket__sizesLable {
  margin-left: 20px;
  margin-top: 15px;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

.toBasket__sizes {
  display: flex;
  margin-left: 20px;
  margin-top: 8px;
  font-size: 9px;
  line-height: 11px;
  color: #C4C4C4;
}

.toBasket__depth-text {
  margin-left: 37px;
}

.toBasket__height-text {
  margin-left: 37px;
}

.toBasket__x {
  display: flex;
  margin-left: 75px;
  width: 7px;
  height: 14px;
}

.toBasket__x-svg2 {
  margin-left: 72px;
}

.toBasket__num {
  display: flex;
  font-size: 9px;
  line-height: 11px;
  color: #414141;
  margin-left: 20px;
  margin-top: -6px;
}

.toBasket__depth-num {
  margin-left: 50px;
}

.toBasket__height-num {
  margin-left: 52px;
}

.toBascet__add {
  width: 223px;
  height: 40px;
  margin-left: 20px;
  margin-top: 17px;
  background: #245462;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}



.bestsellers__item-loverIcon {
  margin-left: 230px;
  margin-top: 21px;
}

footer {
  margin-top: 40px;
  display: flex;
  position: absolute;
  margin-left: 0;
  margin-right: 0;
  width: 1400px;
  height: 234px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.03);
  justify-content: space-between;
}

.footer__navigation {
  width: 390px;
  height: 148px;
  margin-left: 130px;
  margin-top: 54px;
}

.footer__navigation-item {
  margin-top: 15px;
  display: grid;
  justify-content: space-between;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 0.7fr 1fr 1fr;
  grid-gap: 9px;
}

.footer__navigation-itemText{
  font-size: 14px;
  line-height: 126.69%;
  text-decoration: none;
  color: #3C3C3C;
}

.footer__navigation-item2 {
  display: flex;
  margin-top: 34px;
}

.footer__navigation-stock {

  text-decoration: none;
  font-size: 14px;
  line-height: 126.69%;
  color: #D74444;
}

.footer__navigation-newItems {
  text-decoration: none;
  font-size: 14px;
  line-height: 126.69%;
  margin-left: 30px;
  color: #414141;
}

.footer__navigation-rightSide {
  text-align: right;
}

.footer__contacts-logo {
  width: 60px;
  height: 49px;
  padding-right: 128px;
  padding-top: 49px;
}

.footer__navigation-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 126.69%;
}

.footer__contacts-adres {
  font-size: 14px;
  line-height: 126.69%;
  padding-right: 128px;
  padding-top: 20px;
  color: #414141;
}

.footer__contacts-contacts {
  display: flex;
  justify-content: space-between;
  padding-right: 128px;
  padding-top: 35px;
  align-items: center;
}

.footer__contacts-phoneImg {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.footer__contacts-phoneText {
  font-size: 14px;
  line-height: 126.69%;
  color: #414141;
  margin-right: 30px;
}

.footer__contacts-instagramImg {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.footer__contacts-instagramText {
  font-weight: 400;
  font-size: 12px;
  line-height: 126.69%;
  color: #414141;
  margin-right: 30px;
}

.footer__contacts-mailImg {
  width: 16.33px;
  height: 14px;
  margin-right: 10.67px;
}

.footer__contacts-mailText {
  font-size: 14px;
  line-height: 126.69%;
  color: #414141;
}

@media (max-width:960px) {
  .header__sections {
    display: none;
  }
  .container {
    width: 740px;
    margin: 0 auto;
  }
  .header__searchLine-input {
    position: absolute;
    border: 1px solid #E5E5E5;
    width: 243px;
    height: 50px;
    margin-left: 385px;
    margin-top: 20px;
}

  .header__logo {
    margin-top: 32px;
    margin-left: 210px;
    height: 25px;
    width: 112.96px;
}
  
  .header__menu {
    display: flex;
    width: 959px;
    height: 70px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 7%);
    margin-left: 140px;
    margin-top: 20px;
}
}
