@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Regular.ttf") format('truetype'),
       url("/fonts/RobotoCondensed-Regular.ttf") format('truetype')
}

* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

.display-none {
  display: none;
}

.box_withShadow {
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.header__sections {
  margin: 10px;
  display: flex;
  height: 38px;
  background-color: #313131;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
}

.header__sections a {
  color: #fff;
  text-decoration: none;
}

.header__sections-main {
  margin-top: 11px;
  margin-left: 136px;
}

.header__sections-about {
  margin-top: 11px;
  margin-left: 30px;
}

.header__sections-contacts {
  margin-top: 11px;
  margin-left: 30px;
}

.header__phone-icon{
  margin-top: 10px;
  margin-left: 644px;
  width: 19px;
  height: 19px;
}


.header__sections-phone {
  margin-top: 11px;
  margin-left: 8px;
}

.header__delivery-icon{
  margin-left: 30px;
  width: 29px;
  height: 16.92px;
  margin-top: 10.46px;
}


.header__sections-delivery {
  margin-top: 11px;
  margin-left: 10px;
}

.header__searchLine{
  display: flex;
}

.header__logo-link {
  margin-left: 147px;
  text-decoration: none;
  margin-top: 19px;
}

.header__logo {
  margin-top: 2px;
  height: 25px;
  width: 112.96px;
}

.header__searchLine-input {
  position: absolute;
  border: 1px solid #E5E5E5;
  width: 804px;
  height: 49px;
  margin-left: 296px;
  margin-top: 8px;
}


input#search {
  background-image: url(/images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 15px 17px;
  text-indent: 35px;
  font-size: 15px;
  padding: 0 11px 0px 11px;
}

.header__searchLine-wishlist {
  position: relative;
  margin-left: 900px;
  margin-top: 25px;
  width: 20.83px;
  height: 18px;
}

.header__searchLine-bag {
  position: absolute;
  margin-left: 1209px;
  margin-top: 24px;
  width: 16.13px;
  height: 20px;
  background-image: url(/images/bag.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.header__searchLine-alarm1 {
  display: none;
  position: absolute;
  margin-top: 24.5px;
  margin-left: 1220px;
  z-index: 100;
}

.header__searchLine-alarm2 {
  position: absolute;
  margin-top: 24.5px;
  margin-left: 1220px;
  z-index: 100;
}

.header__searchLine-profile {
  position: absolute;
  background-image: url(/images/profile-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 1256px;
  margin-top: 24px;
  width: 16.87px;
  height: 19px;
}

.header__menu {
  display: flex;
  width: 1125px;
  height: 70px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 7%);
  margin-left: 147px;
  margin-top: 28px;
}

.header__menu-cell {
  display: flex;
  text-align: center;
}

.header__menu-cell:hover {
  background-color: #245462;
  color: #fff;
}

.header__menu-kitchen-icon {
  width: 23px;
  height: 23px;
  padding-top: 23px;
  padding-left: 39px;
}

.header__menu-kitchen-text {
  padding-top: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-right: 25px;

}
.header__menu-bedroom-icon {
  width: 28px;
  height: 22.22px;
  padding-left: 24px;
  padding-top: 25px;
}
.header__menu-bedroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-right: 25px;
  padding-top: 25px;
}
.header__menu-livingroom-icon {
  width: 30px;
  height: 22.03px;
  padding-left: 23px;
  padding-top: 25px;
}
.header__menu-livingroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-top: 25px;
  padding-right: 25px;
}
.header__menu-closet-icon {
  width: 21.91px;
  height: 22px;
  padding-left: 24px;
  padding-top: 24px;
}
.header__menu-closet-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10.04px;
  padding-top: 26px;
  padding-right: 25px;
  margin-left: -1px;
}
.header__menu-office-icon {
  width: 22px;
  height: 22px;
  padding-left: 23px;
  padding-top: 24px;
}
.header__menu-office-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-top: 26px;
  padding-right: 25px;
}
.header__menu-childrensroom-icon {
  width: 22px;
  height: 22px;
  padding-left: 23px;
  padding-top: 24px;
}
.header__menu-childrensroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-top: 26px;
  padding-right: 24px;
}
.header__menu-stock-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  color: #D74444;
  padding-left: 25px;
  padding-top: 26px;
  padding-right: 25px;
}

.header__menu-stock-text:hover {
  color: #fff;
}


.header__menu-etc-icon {
  width: 4.27px;
  height: 17px;
  padding-left: 19px;
  padding-top: 27px;
  padding-right: 25px;
}

.dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  font-size: 14px;
  line-height: 16px;
  background-color: #fff;
  z-index: 99;
  width: 189px;
  text-align: start;
  padding-left: 15px;
  padding-bottom: 25px;
  margin-top: 70px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}


.kitchen:hover .dropdown__kitchen {
  display: flex;
}

.bedroom:hover .dropdown__bedroom {
  display: flex;
}

.livingroom:hover .dropdown__livingroom {
  display: flex;
}

.closet:hover .dropdown__closet {
  display: flex;
}

.office:hover .dropdown__office {
  display: flex;
}

.menu-stock:hover .dropdown__menu-stock {
  display: flex;
  width: 151px;
  padding-bottom: 25px;;
}

.childrensroom:hover .dropdown__childrensroom {
  display: flex;
}

.dropdown a {
  margin-top: 25px;
  text-decoration: none;
  color: #414141;
}

.slider__box{
  width: 1140px;
  height: 450px;
  position: relative;
  margin-left: 140px;
  margin-top: 30px;
}
/* Картинка масштабируется по отношению к родительскому элементу */
.slider__box .item img {
  object-fit: cover;
  width: 98.8%;
}
/* Кнопки вперед и назад */
.slider__box .previous, .slider .next {
  cursor: pointer;
  position: absolute;
  top: 50.5%;
  margin-left: 3%;
  width: auto;
  margin-top: -22px;
  padding: 7px 11px 6px 11px;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
}
.slider__box .next {
  right: 2.9%;
  border-radius: 3px 0 0 3px;
}

.previous {
  background: rgba(157, 157, 157, 0.28);
  color: #fff;
}
.slider__box .previous {
  left: -0.3%;
}

.next {
  background: #fff;
  color: #C4C4C4;
}
/* При наведении на кнопки добавляем фон кнопок */
.previous:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.slider__box-img {
  background-size: cover;
  max-height: 443px;
  margin-left: 7px;
}

.slider__title {
  position: absolute;
  width: 216px;
  height: 106px;
  margin-top: -119px;
  margin-left: 124px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 49.9px;
  line-height: 105.3%;
  text-transform: uppercase;
}

.slider__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.8%;
  letter-spacing: 0.02em;
  color: #343434;
  margin-top: -226px;
  margin-left: 127px;
}

.slider__button {
  Width: 161px;
  Height: 45px;
  background: rgba(255, 255, 255, 1);
  border-radius: 0px;
  margin-left: 125px;
  margin-top: 21px;
}

.slider__button-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  color: #414141;
  text-transform: uppercase;
}

.slider__text-content_1 .slider__title, .slider__text-content_1 .slider__text {
  color: #3C3C3C;
}

.slider__text-content_2 .slider__title, .slider__text-content_2 .slider__text {
  color: #fff;
}

.slider__text-content_3 .slider__title, .slider__text-content_3 .slider__text {
  color: #61ad94
}

.bestsellers__modalWindow-box {
  display: none;
  position: fixed;
  padding-top: 20px;
  height: 40px;
  left: 35%;
  top: 0;
  width: 30%;
  text-align: center;
  background-color: rgb(160, 160, 160);
  font-family: Playfair Display;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  color: black;
  z-index: 999;
}


.bestsellers__head-text {
  margin-left: 146px;
  margin-top: 25px;
}

.bestsellers__discount {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 743px;
  margin-top: 54px;
}

.bestsellers__discount-logo {
  width:17px;
  height: 17px;
}

.bestsellers__discount-num {
  margin-left: 7px;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.bestsellers__box {
  margin-left: 140px;
  padding-top: 35px;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1129px;
  height: 2812px;
}


.bestsellers__box-item {
  width: 263px;
  padding-bottom: 53px;
}


.bestsellers__item-img {
  margin-bottom: 150px;
  margin-left: 36px;
  margin-top: 29px;
}

.bestsellers__item-name {
  margin-left: 26px;
  margin-top: -101px;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
}

.bestsellers__item-category {
  margin-left: 26px;
  margin-top: 5px;
  font-size: 11px;
  line-height: 13px;
}

.bestsellers__item-price {
  margin-left: 27px;
  margin-top: 9px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.toBasket {
  position: absolute;
  z-index: 99;
  background-color: #fff;
  width: inherit;
  padding-bottom: 20px;
  box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.07),
             -4px 4px 6px -1px rgba(0, 0, 0, 0.07);
}

.toBasket__sizesLable {
  margin-left: 26px;
  margin-top: 15px;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

.toBasket__width-text {
  margin-left: 7px;
}

.toBasket__width-num {
  margin-left: 6px;
}

.toBasket__sizes {
  display: flex;
  margin-left: 20px;
  margin-top: 8px;
  font-size: 9px;
  line-height: 11px;
  color: #C4C4C4;
}

.toBasket__depth-text {
  margin-left: 37px;
}

.toBasket__height-text {
  margin-left: 37px;
}

.toBasket__x {
  display: flex;
  margin-left: 75px;
  width: 7px;
  height: 14px;
}

.toBasket__x-svg2 {
  margin-left: 72px;
}

.toBasket__num {
  display: flex;
  font-size: 9px;
  line-height: 11px;
  color: #414141;
  margin-left: 20px;
  margin-top: -6px;
}

.toBasket__depth-num {
  margin-left: 50px;
}

.toBasket__height-num {
  margin-left: 52px;
}

.toBascet__add {
  width: 221px;
  height: 40px;
  margin-left: 27px;
  margin-top: 16px;
  background: #245462;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}



.bestsellers__item-loverIcon {
  margin-left: 230px;
  margin-top: 21px;
}

footer {
  display: flex;
  margin: -78px auto 0 auto;
  width: 1368px;
  height: 234px;
  box-shadow: 0px -4px 10px rgb(0 0 0 / 3%);
  justify-content: space-between;
  font-size: 14px;
}

.footer__navigation {
  width: 390px;
  height: 148px;
  margin-left: 130px;
  margin-top: 54px;
}

.footer__navigation-item {
  margin-top: 11px;
  display: grid;
  justify-content: space-between;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 0.7fr 0.8fr 0.6fr;
  grid-gap: 9px;
}

.footer__navigation-itemText{
  font-size: 14px;
  line-height: 126.69%;
  text-decoration: none;
  color: #3C3C3C;
}

.footer__navigation-item2 {
  display: flex;
  margin-top: 34px;
}

.footer__navigation-stock {

  text-decoration: none;
  font-size: 14px;
  line-height: 126.69%;
  color: #D74444;
}

.footer__navigation-newItems {
  text-decoration: none;
  font-size: 14px;
  line-height: 126.69%;
  margin-left: 30px;
  color: #414141;
}

.footer__navigation-rightSide {
  text-align: right;
}

.footer__contacts-logo {
  width: 55px;
  height: 49px;
  padding-right: 110px;
  padding-top: 48px;
}

.footer__navigation-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 126.69%;
}

.footer__contacts-adres {
  font-size: 14px;
  line-height: 126.69%;
  padding-right: 107px;
  padding-top: 16px;
  color: #414141;
}

.footer__contacts-contacts {
  display: flex;
  justify-content: space-between;
  padding-right: 107px;
  padding-top: 29px;
  align-items: center;
}

.footer__contacts-phoneImg {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.footer__contacts-phoneText {
  font-size: 14px;
  line-height: 126.69%;
  color: #414141;
  margin-right: 29px;

}

.footer__contacts-instagramImg {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.footer__contacts-instagramText {
  font-weight: 400;
  font-size: 12px;
  line-height: 126.69%;
  color: #414141;
  margin-right: 29px;
}

.footer__contacts-mailImg {
  width: 16.33px;
  height: 14px;
  margin-right: 10.67px;
}

.footer__contacts-mailText {
  font-size: 14px;
  line-height: 126.69%;
  color: #414141;
}

.hamburger-menu {
  display: none;
}



@media (max-width:960px) {
  .container {
    margin: 0 32px;
    width: 898px;
  }

  header {
    width: 898px;
  }
  .header__searchLine {
    width: 898px;
  }
  .slider {
    width: 898px;
  }
  .header__sections-main, .header__sections-about, .header__sections-contacts, .header__menu-stock-text {
    display: none;
  }

  .header__sections {
    background-color: #fff;
  }

  .header__phone-icon {
    fill: white
  }

  .header__phone-icon path {
    stroke:  black;
  }

  .header__delivery-icon {
    margin-left: 10px;
  }

  .header__delivery-icon path {
    fill:  black;
  }

  .hamburger-menu {
    display: block;
  }

  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn > .hamburger__topline {
    transform: scaleX(1);
  }
  #menu__toggle:checked ~ .menu__btn > .hamburger__midline {
    transform: scaleX(0.6) translateX(6px);
  }
  #menu__toggle:checked ~ .menu__btn > .hamburger__botline {
    transform: scaleX(0.4) translateX(13px);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    z-index: 99999;
  }

  .menu__btn {
    display: flex;
    margin-left: 0px;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .hamburger__topline,
  .hamburger__midline ,
  .hamburger__botline {
    display: block;
    position: absolute;

    width: 18.33px;
    height: 2px;

    background-color: #616161;

    transition-duration: .25s;
  }

  .hamburger__topline {
    content: '';
    top: 42px;
  }

  .hamburger__midline {
    content: '';
    top: 46px;
  }

  .hamburger__botline {
    content: '';
    top: 50px;
  }

  .menu__box {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: -32px;
    margin-top: -44px;
    visibility: hidden;
    width: 227px;
    list-style: none;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
    transition-duration: .25s;
  }

  .menu__h {
    height: 15px;
    font-size: 13px;
    padding-top: 21px;
    padding-bottom: 22px;
    margin-left: 26px;
  }

  .menu__item {
    display: block;
    margin-left: 26px;
    height: 46px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #414141;
    transition-duration: .25s;

  }

  /* .menu__menu {
    margin-left: 26px;
  } */

  /* .menu__home {
    margin-left: 28px;
  } */

  .menu__home::before {
    content: '';
    background-image: url(/images/title_images/adaptive_960px/Home.svg);
    background-repeat: no-repeat;
    background-position: 0px -2px;
    padding-right: 35px;
  }

  .menu__item:hover {
    background-color: #CFD8DC;
  }

  .header__sections {
    position: absolute;
    margin-top: 27px;
    margin-left: 525px;
    display: flex;
    background-color: #fff;
    z-index: -1;
    font-size: 12px;
    line-height: 14px;
  }

  .header__sections a {
    color: #000000;
    text-decoration: none;
  }

  .header__sections-phone{
    width: 115px;
  }

  .header__phone-icon {
    margin-left: 0px;
  }


  .header__searchLine-input {
    position: absolute;
    border: 1px solid #E5E5E5;
    width: 223px;
    height: 50px;
    margin-left: 212px;
    margin-top: 20px;
}

.header__logo-link {
  margin-left: 0px;
}

.header__logo {
  margin-top: 17px;
  margin-left: 30px;
  height: 25px;
  width: 112.96px;
}

.header__menu {
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 898px;
    height: 70px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 7%);
}

.header__menu-cell h2, .header__menu-cell img {
  padding-left: 13px;
  font-size: 14px;
}

.header__menu-etc-icon {
  padding-left: 0;
}

.header__menu-office-text {
  width: 127px;
}

.header__phone-icon path {
  fill: #000;
}

.header__searchLine-wishlist {
  margin-left: 637.26px;
  margin-top: 37px;
}

.header__searchLine-bag {
  margin-left: 846.13px;
  margin-top: 37px;
}

.header__searchLine-profile {
  margin-left: 880px;
  margin-top: 37px;
}



.slider__box {
  width: 898px;
  height: 337px;
  position: relative;
  margin: 20px auto;
}

.slider__box-img {
  height: 337px;
}

.slider__title {
  display: none;
}


.slider__text {
  visibility: hidden;
  margin-left: 59px;
}

.slider__text::before {
  content:'Современная';
  visibility: visible;
  display: block;
  position: absolute;
  width: 247px;
  height: 68px;
  font-size: 27px;
  line-height: 34px;
  font-style: normal;
  font-weight: bold;
  margin-top: -35px;
}

.slider__text::after {
  content:' и удобная мебель';
  visibility: visible;
  display: block;
  position: absolute;
  width: 247px;
  height: 68px;
  font-size: 27px;
  line-height: 34px;
  font-style: normal;
  font-weight: bold;
  margin-top: -20px;
}

.slider__text-content_1 .slider__text {
  color: #0a0a0a;
}

.slider__button {
  margin-left: 59px;
  margin-top: 44px;
  width: 150px;
  height: 44px;
}

.slider__box .previous, .slider .next {
  margin-top: 58px;
  padding: 6px 12px 6px 12px;
  font-size: 10px;

}


.slider .next {
  right: 3%;
  border-radius: 0 3px 3px 0;
}

.slider__box .previous {
  left: 87.46%;
  border-radius: 3px 0 0 3px;
}

.slider__box .previous, .slider .next {
  margin-top: 114px;
}

element.style {
  display: block;
}
.header__searchLine-alarm1, .header__searchLine-alarm2 {
  margin-left: 856px;
  margin-top: 39px;
}

.bestsellers__box {
  width: 898px;
  margin: 0 auto;
}

.bestsellers__head-text {
  margin-left: 0px;
}

.bestsellers__discount {
    margin-left: 329px;
}

footer {
  margin-top: 1090px;
  width: 898px;
  margin-right: auto;
  margin-left: auto;
}

.footer__navigation {
  margin-left: 0;
}

.footer__contacts-logo, .footer__contacts-logo, .footer__contacts-adres, .footer__contacts-contacts {
  padding-right: 0;
}



}

