@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Regular.ttf") format('truetype'),
       url("fonts/RobotoCondensed-Regular.ttf") format('truetype')
}

* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.mt-10 {
  margin-top: 10px;
}

.header__sections {
  display: flex;
  height: 38px;
  background-color: #313131;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
}

.header__sections a {
  color: #fff;
  text-decoration: none;
}

.header__sections-main {
  margin-left: 140px;
}

.header__sections-about {
  margin-left: 30px;
}

.header__sections-contacts {
  margin-left: 30px;
}

.header__phone-icon{
  margin-left: 652px;
  width: 17px;
  height: 17px;
}

.header__sections-phone {
  margin-left: 11px;
}

.header__delivery-icon{
  margin-left: 30px;
  width: 29px;
  height: 16.92px;
  margin-top: 10.46px;
}


.header__sections-delivery {
  margin-left: 10px;
}

.header__searchLine{
  display: flex;
}

.header__logo {
  margin-top: 32px;
  margin-left: 140px;
  height: 25px;
  width: 112.96px;
}

.header__searchLine-input {
  position: relative;
  border: 1px solid #E5E5E5;
  width: 839px;
  height: 50px;
  margin-left: 30.04px;
  margin-top: 20px;
}

.header__searchLine-icon {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-left: 306px;
  margin-top: 38px;
}

.header__searchLine-text {
  position: absolute;
  margin-left: 340px;
  margin-top: 37px;
}

.header__searchLine-wishlist {
  position: absolute;
  margin-left: 1167px;
  margin-top: 37px;
  width: 19.83px;
  height: 17px;
}

.header__searchLine-bag {
  position: absolute;
  margin-left: 1217px;
  margin-top: 36px;
  width: 15.13px;
  height: 18px;
}

.header__searchLine-profile {
  position: absolute;
  margin-left: 1266px;
  margin-top: 36px;
  width: 12.87px;
  height: 18px;
}

.header__menu {
  display: flex;
  width: 1140px;
  height: 70px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  margin-left: 140px;
  margin-top: 20px;
}

.header__menu-kitchen-icon {
  width: 23px;
  height: 23px;
  padding-left: 40px;
  padding-top: 23px;
}
.header__menu-kitchen-text {
  padding-left: 10px;
  padding-top: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}
.header__menu-bedroom-icon {
  width: 28px;
  height: 22.22px;
  padding-left: 50px;
  padding-top: 24px;
}
.header__menu-bedroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-top: 25px;
}
.header__menu-livingroom-icon {
  width: 30px;
  height: 22.03px;
  padding-left: 50px;
  padding-top: 24px;
}
.header__menu-livingroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-top: 25px;
}
.header__menu-closet-icon {
  width: 21.91px;
  height: 22px;
  padding-left: 50px;
  padding-top: 24px;
}
.header__menu-closet-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10.04px;
  padding-top: 25px;
}
.header__menu-office-icon {
  width: 22px;
  height: 22px;
  padding-left: 50px;
  padding-top: 24px;
}
.header__menu-office-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-top: 25px;
}
.header__menu-childrensroom-icon {
  width: 22px;
  height: 22px;
  padding-left: 50px;
  padding-top: 24px;
}
.header__menu-childrensroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-left: 10px;
  padding-top: 25px;
}
.header__menu-stock-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  color: #D74444;
  padding-left: 50.04px;
  padding-top: 25px;
}

.header__menu-etc-icon {
  width: 4.27px;
  height: 14px;
  padding-left: 47px;
  padding-top: 28px;
}

.slider__box{
  width: 1140px;
  height: 450px;
  position: relative;
  margin-left: 140px;
  margin-top: 30px;
}
/* Картинка масштабируется по отношению к родительскому элементу */
.slider__box .item img {
  object-fit: cover;
  width: 100%;
}
/* Кнопки вперед и назад */
.slider__box .previous, .slider .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.slider__box .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider__box.previous:hover,
.slider__box .next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.slider__box-img {
  background-size: cover;
}

.slider__title {
  position: absolute;
  width: 216px;
  height: 106px;
  margin-top: -350px;
  margin-left: 120px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 105.3%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #3C3C3C;
}

.slider__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140.8%;
  letter-spacing: 0.02em;
  color: #343434;
  margin-top: -229px;
  margin-left: 120px;
}

.slider__button {
  Width: 163px;
  Height: 45px;
  background: rgba(255, 255, 255, 1);
  border-radius: 0px;
  margin-left: 120px;
  margin-top: 20px;
}

.slider__button-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #414141;
  text-transform: uppercase;
}

.bestsellers__head-text {
  margin-left: 140px;
  margin-top: 30px;
}

.bestsellers__box {
  margin-left: 140px;
  padding-top: 35px;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1140px;
  height: 2812px;
}

.bestsellers__box-item {
  width: 263px;
  height: 488px;
}

.bestsellers__item-img {
  margin-bottom: 150px;
  margin-left: 32px;
}

.bestsellers__item-name {
  margin-left: 20px;
  margin-top: -73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
}

.bestsellers__item-category {
  margin-left: 20px;
  margin-top: 6px;
  font-size: 11px;
  line-height: 13px;
}

.bestsellers__item-price {
  margin-left: 20px;
  margin-top: 9px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}



.bestsellers__item-loverIcon {
  margin-left: 230px;
  margin-top: 21px;
}

footer {
  display: flex;
  position: absolute;
  margin-left: 0;
  margin-right: 0;
  width: 1400px;
  height: 234px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.03);
  margin-top: 500px;
  justify-content: space-between;
}

.footer__navigation {
  width: 390px;
  height: 148px;
  margin-left: 130px;
  margin-top: 54px;
}

.footer__navigation-item {
  margin-top: 15px;
  display: grid;
  justify-content: space-between;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 0.7fr 1fr 1fr;
  grid-gap: 9px;
}

.footer__navigation-itemText{
  font-size: 14px;
  line-height: 126.69%;
  text-decoration: none;
  color: #3C3C3C;
}

.footer__navigation-item2 {
  display: flex;
  margin-top: 34px;
}

.footer__navigation-stock {

  text-decoration: none;
  font-size: 14px;
  line-height: 126.69%;
  color: #D74444;
}

.footer__navigation-newItems {
  text-decoration: none;
  font-size: 14px;
  line-height: 126.69%;
  margin-left: 30px;
}

.footer__navigation-rightSide {
  text-align: right;
}

.footer__contacts-logo {
  width: 60px;
  height: 49px;
  padding-right: 128px;
  padding-top: 49px;
}

.footer__navigation-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 126.69%;
}

.footer__contacts-adres {
  font-size: 14px;
  line-height: 126.69%;
  padding-right: 128px;
  padding-top: 20px;
  color: #414141;
}

.footer__contacts-contacts {
  display: flex;
  justify-content: space-between;
  padding-right: 128px;
  padding-top: 35px;
  align-items: center;
}

.footer__contacts-phoneImg {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.footer__contacts-phoneText {
  font-size: 14px;
  line-height: 126.69%;
  color: #414141;
  margin-right: 30px;
}

.footer__contacts-instagramImg {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.footer__contacts-instagramText {
  font-weight: 400;
  font-size: 12px;
  line-height: 126.69%;
  color: #414141;
  margin-right: 30px;
}

.footer__contacts-mailImg {
  width: 16.33px;
  height: 14px;
  margin-right: 10.67px;
}

.footer__contacts-mailText {
  font-size: 14px;
  line-height: 126.69%;
  color: #414141;
}