@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Regular.ttf") format('truetype'),
    url("/fonts/RobotoCondensed-Regular.ttf") format('truetype')
}

body,
html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.display-none {
  display: none;
}

.box_withShadow {
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}

.container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.wrap_1 {
  flex: 1 0 auto;
}

.wrap_2 {
  flex: 0 0 auto;
}

.hamburger-menu {
  display: none;
}

.header__blackBack {
  position: relative;
  margin: 0 auto;
  height: 38px;
  max-width: 1400px;
  background-color: black;
  z-index: -1;
}

.header__sections {
  margin-top: -38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  z-index: 1;
}


.header__rightSide {
  display: flex;
}

.header__sections a {
  color: #fff;
  text-decoration: none;
}

.header__sections-main {
  margin-top: 11px;
}

.header__sections-about {
  margin-top: 11px;
  margin-left: 30px;
}

.header__sections-contacts {
  margin-top: 11px;
  margin-left: 30px;
}

.header__phone-icon {
  margin-top: -2px;
  width: 19px;
  height: 19px;
  background-image: url('/images/title_page/phone-black.svg');
  background-repeat: no-repeat;
}

.header__sections-phone {
  margin-left: 8px;
}

.header__delivery-icon {
  margin-left: 30px;
  width: 29px;
  height: 16.92px;
  background-image: url('/images/title_page/delivery-icon-white.svg');
  background-repeat: no-repeat;
}

.header__sections-delivery {
  margin-left: 10px;
}

.header__searchLine {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.header__searchLine-leftSide {
  display: flex;
  width: 88%;
}


.header__logo-link {
  text-decoration: none;
  margin-top: 19px;
}

.header__logo {
  margin-top: 2px;
  height: 25px;
  width: 112.96px;
}

.header__searchLine-input {
  border: 1px solid #E5E5E5;
  width: 83%;
  height: 49px;
  margin-left: 35px;
  margin-top: 8px;
}


input#search {
  background-image: url(/images/title_page/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 15px 17px;
  text-indent: 35px;
  font-size: 15px;
  padding: 0 11px 0px 11px;
}

.header__searchLine-icons {
  display: flex;
  margin-left: 37px;
}

.header__searchLine-wishlist {
  margin-top: 26px;
  width: 20.83px;
  height: 18px;
}

.header__searchLine-bag {
  margin-left: 29px;
  margin-top: 25px;
  width: 16.13px;
  height: 20px;
  background-image: url(/images/title_page/bag.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.header__searchLine-alarm1 {
  display: none;
}

.header__searchLine-alarm1,
.header__searchLine-alarm2 {
  position: absolute;
  margin-top: 28px;
  margin-left: 60px;
  z-index: 100;
}

.header__searchLine-profile {
  background-image: url(/images/title_page/profile-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 32px;
  margin-top: 25px;
  width: 16.87px;
  height: 20px;
}


/* header carousel start */
.header__menu {
  display: flex;
  width: 1125px;
  height: 70px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 7%);
  margin-top: 20px;
}

.header__menu-cell {
  display: flex;
  text-align: center;
}

.header__menu-cell:hover {
  background-color: #245462;
  color: #fff;
}

.header__menu-cell:hover .header__menu-kitchen-icon {
  background-image: url(/images/title_page/kitchen-icon-white.svg);
  background-size: 23px 23px;
}

.header__menu-cell:hover .header__menu-bedroom-icon {
  background-image: url(/images/title_page/bedroom-icon-white.svg);
  background-size: 28px 22.22px;
}

.header__menu-cell:hover .header__menu-livingroom-icon {
  background-image: url(/images/title_page/livingroom-icon-white.svg);
  background-size: 30px 30.03px;
  background-position: 20px 20px;
}

.header__menu-cell:hover .header__menu-closet-icon {
  background-image: url(/images/title_page/closet-icon-white.svg);
  background-size: 21.91px 22px;
}

.header__menu-cell:hover .header__menu-office-icon {
  background-image: url(/images/title_page/office-icon-white.svg);
  background-size: 22px 22px;
}

.header__menu-cell:hover .header__menu-childrensroom-icon {
  background-image: url(/images/title_page/childrensroom-icon-white.svg);
  background-size: 22px 22px;
}

.carousel_icon {
  background-repeat: no-repeat;
  background-position: 20px 23px;
  padding-left: 26px;
}

.header__menu-text {
  padding-left: 5px;
  padding-right: 25px;
}

.header__menu-kitchen-icon {
  background-image: url(/images/title_page/kitchen-icon.svg);
  width: 23px !important;
  height: 23px;
  padding-top: 23px;
}

.header__menu-kitchen-text {
  padding-top: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}

.header__menu-bedroom-icon {
  background-image: url(/images/title_page/bedroom-icon.svg);
  width: 28px !important;
  height: 22.22px;
  padding-top: 25px;
}

.header__menu-bedroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-top: 25px;
}

.header__menu-livingroom-icon {
  background-image: url(/images/title_page/livingroom-icon.svg);
  width: 30px !important;
  height: 22.03px;
  padding-top: 25px;
}

.header__menu-livingroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-top: 25px;
}

.header__menu-closet-icon {
  background-image: url(/images/title_page/closet-icon.svg);
  width: 21.91px !important;
  height: 22px;
  padding-top: 24px;
}

.header__menu-closet-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-top: 26px;
}

.header__menu-office-icon {
  background-image: url(/images/title_page/office-icon.svg);
  width: 22px !important;
  height: 22px;
  padding-top: 24px;
}

.header__menu-office-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-top: 26px;
}

.header__menu-childrensroom-icon {
  background-image: url(/images/title_page/childrensroom-icon.svg);
  width: 22px !important;
  height: 22px;
  padding-top: 24px;
}

.header__menu-childrensroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-top: 26px;
}

.header__menu-stock-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  color: #D74444;
  padding-left: 25px;
  padding-top: 26px;
  padding-right: 25px;
}

.header__menu-stock-text:hover {
  color: #fff;
}

/* owl carousel start */
.slide {
  height: 70px;
  margin-left: 1px;
  margin-right: 1px;
}

.owl-item:hover {
  color: #fff;
  height: 1000px;
}

.owl-carousel,
.owl-stage {
  width: 1140px !important;
}

.header__menu-etc-icon {
  position: absolute;
  width: 4.27px;
  height: 17px;
  margin-top: 80px;
  margin-left: 1072px;
  padding-left: 19px;
  padding-top: 39px;
}

/* owl carousel end */
/* header carousel end */

.dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  font-size: 14px;
  line-height: 16px;
  background-color: #fff;
  z-index: 99;
  min-width: 139px;
  text-align: start;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  margin-top: 70px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}

.kitchen:hover .dropdown__kitchen {
  display: flex;
}

.bedroom:hover .dropdown__bedroom {
  display: flex;
}

.livingroom:hover .dropdown__livingroom {
  display: flex;
}

.closet:hover .dropdown__closet {
  display: flex;
}

.office:hover .dropdown__office {
  display: flex;
}

.menu-stock:hover .dropdown__menu-stock {
  display: flex;
  width: 151px;
  padding-bottom: 25px;
  ;
}

.childrensroom:hover .dropdown__childrensroom {
  display: flex;
}

.dropdown a {
  margin-top: 25px;
  text-decoration: none;
  color: #414141;
}

.slider__box {
  width: 1140px;
  height: 450px;
  position: relative;
  margin-top: 30px;
}

/* Картинка масштабируется по отношению к родительскому элементу */
.slider__box .item img {
  object-fit: cover;
  width: 100%;
}

/* Кнопки вперед и назад */
.slider__box .previous,
.slider .next {
  cursor: pointer;
  position: absolute;
  top: 50.5%;
  margin-left: 3%;
  width: auto;
  margin-top: -22px;
  padding: 7px 11px 6px 11px;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
}

.slider__box .next {
  right: 2.9%;
  border-radius: 3px 0 0 3px;
}

.previous {
  background: rgba(157, 157, 157, 0.28);
  color: #fff;
}

.slider__box .previous {
  left: -0.3%;
}

.next {
  background: #fff;
  color: #C4C4C4;
}

/* При наведении на кнопки добавляем фон кнопок */
.previous:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.slider__box-img {
  background-size: cover;
  height: 443px;
}

.slider__title {
  position: absolute;
  width: 216px;
  height: 106px;
  margin-top: -119px;
  margin-left: 124px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 49.9px;
  line-height: 105.3%;
  text-transform: uppercase;
}

.slider__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.8%;
  letter-spacing: 0.02em;
  color: #343434;
  margin-top: -226px;
  margin-left: 127px;
}

.slider__button {
  Width: 161px;
  Height: 45px;
  background: rgba(255, 255, 255, 1);
  border-radius: 0px;
  margin-left: 125px;
  margin-top: 21px;
}

.slider__button-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  color: #414141;
  text-transform: uppercase;
}

.slider__text-content_1 .slider__title,
.slider__text-content_1 .slider__text {
  color: #3C3C3C;
}

.slider__text-content_2 .slider__title,
.slider__text-content_2 .slider__text {
  color: #fff;
}

.slider__text-content_3 .slider__title,
.slider__text-content_3 .slider__text {
  color: #61ad94
}

.bestsellers__modalWindow-box {
  display: none;
  position: fixed;
  padding-top: 20px;
  height: 40px;
  left: 40%;
  top: 1%;
  width: 23%;
  text-align: center;
  background-color: rgb(160, 160, 160);
  font-family: Playfair Display;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  color: black;
  z-index: 999;
  border-radius: 100px / 80px;
}


.bestsellers__head-text {
  margin-top: 25px;
}

.bestsellers__discount {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 589px;
  margin-top: 54px;
}

.bestsellers__discount-logo {
  width: 17px;
  height: 17px;
}

.bestsellers__discount-num {
  margin-left: 7px;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.bestsellers__box {
  padding-top: 35px;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1140px;
}


.bestsellers__box-item {
  width: 263px;
  padding-bottom: 53px;
}


.bestsellers__item-img {
  margin-bottom: 150px;
  margin-left: 36px;
  margin-top: 29px;
}

.bestsellers__item-name {
  margin-left: 20px;
  margin-top: -101px;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
}

.bestsellers__item-category {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 11px;
  line-height: 13px;
}

.bestsellers__item-price {
  margin-left: 20px;
  margin-top: 9px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.toBasket {
  position: absolute;
  z-index: 99;
  background-color: #fff;
  width: inherit;
  padding-bottom: 20px;
  box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.07),
    -4px 4px 6px -1px rgba(0, 0, 0, 0.07);
}

.toBasket__sizesLable {
  margin-left: 20px;
  margin-top: 15px;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

.toBasket__sizes {
  display: flex;
  margin-left: 20px;
  margin-top: 8px;
  font-size: 9px;
  line-height: 11px;
  color: #C4C4C4;
}

.toBasket__depth-text {
  margin-left: 37px;
}

.toBasket__height-text {
  margin-left: 37px;
}

.toBasket__x {
  display: flex;
  margin-left: 75px;
  width: 7px;
  height: 14px;
}

.toBasket__x-svg2 {
  margin-left: 72px;
}

.toBasket__num {
  display: flex;
  font-size: 9px;
  line-height: 11px;
  color: #414141;
  margin-left: 20px;
  margin-top: -6px;
}

.toBasket__depth-num {
  margin-left: 50px;
}

.toBasket__height-num {
  margin-left: 52px;
}

.toBascet__add {
  width: 223px;
  height: 40px;
  margin-left: 20px;
  margin-top: 16px;
  background: #245462;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

.bestsellers__item-loverIcon {
  margin-left: 230px;
  margin-top: 21px;
}

footer {
  max-width: 1400px;
  margin: 0 auto;
  height: 234px;
  box-shadow: 0px -4px 10px rgb(0 0 0 / 3%);
  font-size: 14px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.footer__navigation {
  width: 390px;
  height: 148px;
  margin-top: 54px;
}

.footer__navigation-item {
  margin-top: 11px;
  display: grid;
  justify-content: space-between;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 0.7fr 0.8fr 0.6fr;
  grid-gap: 9px;
}

.footer__navigation-itemText {
  font-size: 14px;
  line-height: 126.69%;
  text-decoration: none;
  color: #3C3C3C;
}

.footer__navigation-item2 {
  display: flex;
  margin-top: 34px;
}

.footer__navigation-stock {

  text-decoration: none;
  font-size: 14px;
  line-height: 126.69%;
  color: #D74444;
}

.footer__navigation-newItems {
  text-decoration: none;
  font-size: 14px;
  line-height: 126.69%;
  margin-left: 30px;
  color: #414141;
}

.footer__navigation-rightSide {
  text-align: right;
}

.footer__contacts-logo {
  width: 55px;
  height: 49px;
  padding-top: 48px;
}

.footer__navigation-title {
  font-weight: 500;
  font-size: 14px;
  font-weight: bold;
  line-height: 126.69%;
}

.footer__contacts-adres {
  font-size: 14px;
  line-height: 126.69%;
  padding-top: 16px;
  color: #414141;
}

.footer__contacts-contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
  align-items: center;
}

.footer__contacts-phoneImg {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.footer__contacts-phoneText {
  font-size: 14px;
  line-height: 126.69%;
  color: #414141;
  margin-right: 29px;

}

.footer__contacts-instagramImg {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.footer__contacts-instagramText {
  font-weight: 400;
  font-size: 12px;
  line-height: 126.69%;
  color: #414141;
  margin-right: 29px;
}

.footer__contacts-mailImg {
  width: 16.33px;
  height: 14px;
  margin-right: 10.67px;
}

.footer__contacts-mailText {
  font-size: 14px;
  line-height: 126.69%;
  color: #414141;
}

@media screen and (max-width:1240px) {
  .container {
    width: 1100px;
  }

  .bestsellers__modalWindow-box {
    width: 26%;
  }

  .header__searchLine-input {
    width: 80%;
  }

  .header__menu,
  .owl-carousel,
  .owl-stage {
    width: 1100px !important;
  }

  .header__menu-etc-icon {
    margin-left: 1050px;
  }

  .slider__box {
    width: 1100px;
    height: 450px;
    position: relative;
    margin-top: 30px;
  }

  .slider__box .item img {
    width: 100%;
  }

  .bestsellers__box {
    width: 1100px;
  }

  .bestsellers__discount {
    margin-left: 576px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 221px;
    margin-top: 21px;
  }

}

@media screen and (max-width:1180px) {
  .container {
    width: 1040px;
  }

  .header__menu,
  .owl-carousel {
    width: 1040px !important;
  }

  .owl-stage {
    width: 1050px !important;
  }

  .carousel_icon {
    padding-left: 22px;
  }

  .header__menu-text {
    padding-right: 21px;
  }

  .header__menu-etc-icon {
    margin-left: 998px;
  }

  .slider__box {
    width: 1040px;
  }

  .bestsellers__box {
    width: 1040px;
  }

  .bestsellers__box-item {
    width: 257px;
  }

  .bestsellers__item-img {
    margin-left: 28.5px;
  }

  .bestsellers__discount {
    margin-left: 541px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 217px;
  }

  .toBascet__add {
    width: 217px;
  }

}

@media screen and (max-width:1120px) {
  .container {
    width: 1020px;
  }

  .header__menu,
  .owl-carousel,
  .owl-stage {
    width: 1020px !important;
  }

  .carousel_icon {
    padding-left: 20px;
  }

  .header__menu-text {
    padding-right: 19px;
  }

  .header__menu-etc-icon {
    margin-left: 976px;
  }

  .slider__box {
    width: 1020px;
  }

  .bestsellers__box {
    width: 1020px;
  }

  .bestsellers__box-item {
    width: 252px;
  }

  .bestsellers__item-img {
    margin-left: 26px;
  }

  .toBascet__add {
    width: 212px;
  }

  .bestsellers__discount {
    margin-left: 527px;
  }
}


@media screen and (max-width:1080px) {
  .container {
    width: 980px;
  }

  .header__menu,
  .owl-carousel {
    width: 980px !important;
  }

  .owl-stage {
    width: 1000px;
  }

  .carousel_icon {
    padding-left: 18px;
    background-position: 17px 23px;
  }


  .header__menu-text {
    padding-right: 15px;
  }

  .header__menu-etc-icon {
    margin-left: 938px;
  }

  .slider__box {
    width: 980px;
  }

  .bestsellers__box {
    width: 980px;
  }

  .bestsellers__box-item {
    width: 242px;
  }

  .bestsellers__item-img {
    margin-left: 21px;
  }

  .toBascet__add {
    width: 202px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 204px;
  }

  .bestsellers__discount {
    margin-left: 509px;
  }
}


@media screen and (max-width:1024px) {
  .container {
    margin: 0 auto;
    width: 960px;
  }

  .bestsellers__modalWindow-box {
    width: 27%;
    font-size: 13px;
  }

  .header__blackBack {
    display: none;
  }

  .header__searchLine {
    align-items: center;
    width: 960px;
    height: 115px;
    margin-top: 0;
  }

  .header__searchLine * {
    margin-top: 0;
  }

  .header__searchLine-leftSide {
    align-items: center;
  }


  input#search {
    background-position: 15px 18px;
    text-indent: 35px;
    font-size: 15px;
    padding: 1px 11px 0px 11px;
  }

  .header__sections-main,
  .header__sections-about,
  .header__sections-contacts {
    display: none;
  }

  .header__sections {
    position: absolute;
    margin-top: 33px;
    margin-left: 525px;
    display: flex;
    background-color: #fff;
    font-size: 12px;
    line-height: 14px;
  }

  .no-js .owl-carousel,
  .owl-carousel.owl-loaded {
    width: 960px !important;
    margin: 10px auto;
  }

  .owl-stage-outer {
    width: 927px;
  }

  .hamburger-menu {
    display: block;
    margin-left: 6px;
  }

  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked~.menu__btn>.hamburger__topline {
    transform: scaleX(1);
  }

  #menu__toggle:checked~.menu__btn>.hamburger__midline {
    transform: scaleX(0.6) translateX(6px);
  }

  #menu__toggle:checked~.menu__btn>.hamburger__botline {
    transform: scaleX(0.4) translateX(13px);
  }

  .menu__btn {
    display: flex;
    margin-left: 0px;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .hamburger__topline,
  .hamburger__midline,
  .hamburger__botline {
    display: block;
    position: absolute;

    width: 18.33px;
    height: 2px;

    background-color: #616161;

    transition-duration: .25s;
  }

  .hamburger__topline {
    content: '';
    top: 54px;
  }

  .hamburger__midline {
    content: '';
    top: 59px;
  }

  .hamburger__botline {
    content: '';
    top: 64px;
  }

  .menu__box {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: -32px;
    margin-top: -44px;
    visibility: hidden;
    width: 227px;
    list-style: none;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
    transition-duration: .25s;
    z-index: 9999;
  }

  .menu__box a {
    text-decoration: none;
    color: #414141;
  }

  .menu__closeBtn {
    position: absolute;
    margin-left: 194px;
    margin-top: 22px;
    width: 20px;
    height: 20px;
    background-image: url('/images/title_page/adaptive_960px/x.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .menu__h {
    height: 15px;
    font-size: 13px;
    padding-top: 23px;
    padding-bottom: 15px;
    margin-left: 26px;
  }

  .menu__category {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .menu__item {
    display: block;
    margin-left: 26px;
    height: 31px;
    padding-top: 15px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #414141;
    transition-duration: .25s;

  }

  .menu__item:hover {
    background-color: #61ad94;
  }

  .menu__about::before {
    content: '';
    background-image: url(/images/title_page/adaptive_960px/Vector.svg);
    background-repeat: no-repeat;
    background-position: 0px 1px;
    background-size: 10px 11px;
    padding-right: 35px;
  }

  .menu__home::before {
    content: '';
    background-image: url(/images/title_page/adaptive_960px/Home.svg);
    background-repeat: no-repeat;
    background-position: 0px -2px;
    padding-right: 35px;
  }

  .menu__contacts::before {
    content: '';
    background-image: url(/images/title_page/adaptive_960px/@.svg);
    background-repeat: no-repeat;
    background-position: 0px 1px;
    background-size: 13px 13px;
    padding-right: 35px;
  }

  .menu__kitchen::before {
    content: '';
    background-image: url(/images/title_page/adaptive_960px/kitchen-icon.svg);
    background-repeat: no-repeat;
    background-position: 0px 1px;
    background-size: 13px 13px;
    padding-right: 35px;
  }

  .menu__bedroom::before {
    content: '';
    background-image: url(/images/title_page/adaptive_960px/bedroom-icon.svg);
    background-repeat: no-repeat;
    background-position: 0px 1px;
    background-size: 17px 13px;
    padding-right: 35px;
  }

  .menu__livingroom::before {
    content: '';
    background-image: url(/images/title_page/adaptive_960px/livingroom-icon.svg);
    background-repeat: no-repeat;
    background-size: 17px 13px;
    padding-right: 35px;
  }

  .menu__hallways::before {
    content: '';
    background-image: url(/images/title_page/adaptive_960px/closet-icon.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    padding-right: 35px;
  }

  .menu__office::before {
    content: '';
    background-image: url(/images/title_page/adaptive_960px/office-icon.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    padding-right: 35px;
  }

  .menu__childrensroom::before {
    content: '';
    background-image: url(/images/title_page/adaptive_960px/childrensroom-icon.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    padding-right: 35px;
  }

  .menu__stock a {
    color: #E92D2D;
  }

  .menu__stock::before {
    content: '';
    background-image: url(/images/title_page/adaptive_960px/stock.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    padding-right: 35px;
  }

  .menu__novelty::before {
    content: '';
    background-image: url(/images/title_page/adaptive_960px/novelty.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    padding-right: 35px;
  }

  .menu__mattress::before {
    content: '';
    background-image: url(/images/title_page/adaptive_960px/mattress.svg);
    background-repeat: no-repeat;
    background-size: 19px 14px;
    padding-right: 35px;
  }

  .menu__softFurniture::before {
    content: '';
    background-image: url(/images/title_page/adaptive_960px/armchair.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    padding-right: 35px;
  }

  .menu__cupboard::before {
    content: '';
    background-image: url(/images/title_page/adaptive_960px/cupboard.svg);
    background-repeat: no-repeat;
    background-size: 12px 14px;
    padding-right: 35px;
  }

  .menu__item:hover {
    background-color: #CFD8DC;
  }

  .header__sections a {
    color: #000000;
    text-decoration: none;
  }

  .header__sections-phone {
    width: 115px;
    margin-top: 18px;
    margin-left: 11px;
    font-size: 13px;
  }

  .header__phone-icon {
    margin-left: -53px;
    margin-top: 15px;
    background-image: url('/images/title_page/phone-white.svg');
  }

  .header__delivery-icon {
    margin-left: 18px;
    margin-top: 16.46px;
    width: 29px;
    height: 19.92px;
    background-image: url('/images/title_page/delivery-icon-black.svg');
    background-repeat: no-repeat;
  }

  .header__sections-delivery {
    margin-top: 18px;
    font-size: 13px;
    margin-left: 12px;
  }

  .header__searchLine-input {
    position: absolute;
    border: 1px solid #E5E5E5;
    width: 223px;
    height: 50px;
    margin-left: 199.5px;
  }

  .header__logo-link {
    margin-left: 0px;
  }

  .header__logo {
    margin-left: 15px;
    margin-top: 12px;
    height: 25px;
    width: 112.96px;
  }

  .header__menu {
    display: flex;
    width: 960px;
    height: 70px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 7%);
  }

  .slide {
    height: 70px;
    margin-left: 0px;
    margin-right: 2px;
  }

  .header__menu-cell h2 {
    padding-left: 6px;
    font-size: 14px;
    padding-right: 26px;
  }

  .header__menu-etc-icon {
    margin-top: 114px;
    margin-left: 929px;
    padding-left: 0;
  }

  .header__searchLine-wishlist {
    margin-left: 648px;
    width: 22.83px;
    height: 19px;
  }

  .header__searchLine-bag {
    margin-left: 29px;
    width: 17.13px;
    height: 20px;
  }

  .header__searchLine-profile {
    margin-left: 29px;
    width: 16.87px;
    height: 21px;
  }

  .carousel_icon {
    padding-left: 26px;
    background-position: 24px 23px;
  }

  .slider {
    width: 960px;
  }

  .slider__box {
    width: 960px;
    height: 337px;
    position: relative;
    margin: 20px auto;
  }

  .slider__box .item img {
    width: 100%;
  }

  .slider__box-img {
    height: 337px;
    margin-left: 0;
  }

  .slider__title {
    display: none;
  }

  .slider__text {
    visibility: hidden;
    margin-left: 59px;
  }

  .slider__text::before {
    content: 'Современная';
    visibility: visible;
    display: block;
    position: absolute;
    width: 247px;
    height: 68px;
    font-size: 27px;
    line-height: 34px;
    font-style: normal;
    font-weight: bold;
    margin-top: -35px;
  }

  .slider__text::after {
    content: ' и удобная мебель';
    visibility: visible;
    display: block;
    position: absolute;
    width: 247px;
    height: 68px;
    font-size: 27px;
    line-height: 34px;
    font-style: normal;
    font-weight: bold;
    margin-top: -20px;
  }

  .slider__text-content_1 .slider__text {
    color: #0a0a0a;
  }

  .slider__button {
    margin-left: 59px;
    margin-top: 44px;
    width: 150px;
    height: 44px;
  }

  .slider__box .previous,
  .slider .next {
    margin-top: 58px;
    padding: 6px 12px 6px 12px;
    font-size: 10px;
  }

  .slider .next {
    right: 3%;
    border-radius: 0 3px 3px 0;
  }

  .slider__box .previous {
    left: 87.46%;
    border-radius: 3px 0 0 3px;
  }

  .slider__box .previous,
  .slider .next {
    margin-top: 114px;
  }

  .header__searchLine-alarm1,
  .header__searchLine-alarm2 {
    margin-left: 711px;
    margin-top: 3px;
  }

  .bestsellers__box {
    width: 960px;
    margin: 0 auto;
  }

  .bestsellers__box-item {
    width: 300px;
  }

  .bestsellers__item-img {
    margin-bottom: 150px;
    margin-left: 50px;
    margin-top: 29px;
  }

  .bestsellers__head-text {
    margin-left: 0px;
  }

  .bestsellers__discount {
    margin-left: 348px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 258px;
  }

  .bestsellers__item-name,
  .bestsellers__item-category,
  .bestsellers__item-price,
  .toBasket__sizesLable,
  .toBasket__sizes,
  .toBasket__num,
  .toBascet__add {
    margin-left: 30px;
  }

  .toBascet__add {
    width: 240px;
  }

  .toBasket__x {
    margin-left: 84px;
  }

  .footer__contacts-instagramText {
    margin-right: 19px;
  }

  .footer__contacts-phoneText {
    margin-right: 19px;
  }

  .footer__navigation {
    margin-left: 0;
  }

  .footer__contacts-logo,
  .footer__contacts-logo,
  .footer__contacts-adres,
  .footer__contacts-contacts {
    padding-right: 0;
  }

}

@media screen and (max-width:980px) {
  .container {
    width: 900px;
  }

  .header__searchLine {
    width: 900px;
  }

  .header__searchLine-wishlist {
    margin-left: 588px;
  }

  .header__searchLine-alarm1, .header__searchLine-alarm2 {
    margin-left: 651px;
    margin-top: 3px;
  }

  .no-js .owl-carousel, .owl-carousel.owl-loaded {
    width: 900px !important;
  }

  .owl-stage-outer {
    width: 875px;
  }

  .carousel_icon {
    padding-left: 22px;
    background-position: 22px 23px;
  }

  .header__menu-cell h2 {
    padding-right: 21px;
  }

  .header__menu-etc-icon {
    margin-left: 873px;
  }

  .slider, .slider__box {
    width: 900px;
  }

  .bestsellers__box {
    width: 900px;
  }

  .bestsellers__box-item {
    width: 296px;
  }

  .bestsellers__item-img {
    margin-left: 48px;
  }

  .bestsellers__discount {
    margin-left: 317px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 257px;
  }

  .toBascet__add {
    width: 236px;
  }

}

@media screen and (max-width:920px) {
  .container, .header__searchLine {
    width: 860px;
  }

  .header__searchLine-input {
    margin-left: 187.5px;
  }

  .header__sections {
    margin-left: 512px;
  }

  .header__searchLine-wishlist {
    margin-left: 548px;
  }

  .header__searchLine-alarm1, .header__searchLine-alarm2 {
    margin-left: 611px;
  }

  .no-js .owl-carousel, .owl-carousel.owl-loaded {
    width: 860px !important;
  }

  .owl-stage-outer {
    width: 850px;
  }

  .carousel_icon {
    background-position: 19px 23px;
  }

  .header__menu-cell h2 {
    padding-right: 19px;
  }

  .slide {
    margin-right: 0;
  }

  .header__menu-etc-icon {
    margin-left: 841px;
  }

  .slider, .slider__box {
    width: 860px;
  }

  .bestsellers__box {
    width: 860px;
  }

  .bestsellers__box-item {
    width: 285px;
  }

  .bestsellers__discount {
    margin-left: 304px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 243px;
  }

  .bestsellers__item-img {
    margin-left: 42.5px;
  }

  .bestsellers__modalWindow-box {
    width: 30%;
  }

  .toBascet__add {
    width: 225px;
  }
}

@media screen and (max-width:880px) {
  .container, .header__searchLine {
    width: 820px;
  }

  .header__searchLine-alarm1, .header__searchLine-alarm2 {
    margin-left: 579px;
  }

  .header__logo {
    margin-left: 12px;
  }

  .header__searchLine-input {
    margin-left: 181.5px;
  }

  .header__sections {
    margin-left: 500px;
  }

  .header__sections-phone, .header__sections-delivery {
    margin-left: 7px;
  }

  .header__delivery-icon {
    margin-left: 8px;
  }

  .header__searchLine-wishlist {
    margin-left: 525px;
  }

  .header__searchLine-bag, .header__searchLine-profile {
    margin-left: 20px;
  }

  .no-js .owl-carousel, .owl-carousel.owl-loaded {
    width: 820px !important;
  }

  .owl-stage-outer {
    width: 820px;
  }

  .carousel_icon {
    background-position: 15px 23px;
  }

  .header__menu-cell h2 {
    padding-right: 15px;
  }

  .header__menu-etc-icon {
    margin-left: 809px;
  }

  .slider, .slider__box {
    width: 820px;
  }

  .slider__box .previous {
    left: 86.8%;
  }

  .bestsellers__box {
    width: 820px;
  }

  .bestsellers__box-item {
    width: 268px;
  }

  .bestsellers__discount {
    margin-left: 295px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 230px;
  }

  .bestsellers__item-img {
    margin-left: 34px;
  }

  .toBascet__add {
    width: 208px;
  }

}

@media screen and (max-width:840px) {
  .container {
    margin: 0 auto;
    width: 720px;
  }

  .header__searchLine-alarm1, .header__searchLine-alarm2 {
    margin-left: 198px;
  }

  .header__searchLine {
    width: 720px;
    margin: 0;
  }

  .header__sections {
    position: absolute;
    margin-top: 34px;
    margin-left: 448px;
  }

  .hamburger-menu {
    margin-top: 0;
    margin-left: 0;
  }


  .hamburger__topline {
    width: 20px;
    top: 53px;
  }

  .hamburger__midline {
    width: 20px;
    top: 59px;
  }

  .hamburger__botline {
    width: 20px;
    top: 65px;
  }

  input#search {
    padding: 4px 11px 4px 11px;
    background-position: 15px 11px;
  }

  .header__searchLine-input {
    position: static;
    width: 219px;
    height: 30px;
    margin-left: 40px;
  }

  .header__phone-icon {
    display: none;
  }

  .header__sections-phone {
    display: none;
  }

  .header__delivery-icon {
    margin-left: 20px;
    margin-top: 15.46px;
    width: 29px;
    height: 17px;
  }

  .header__sections-delivery {
    margin-top: 17px;
    margin-left: 13px;
  }

  .header__searchLine-wishlist {
    margin-left: 145px;
    width: 21.83px;
    height: 19px;
  }

  .header__searchLine-bag {
    width: 18.13px;
    height: 20px;
  }

  .header__searchLine-profile {
    margin-left: 28px;
    width: 15.87px;
    height: 20px;
  }

  .header__menu-cell h2 {
    padding-left: 5px;
    font-size: 14px;
    padding-right: 20px;
  }

  .header__menu-etc-icon {
    margin-left: 703px;
    padding-left: 0;
  }

  .slide {
    height: 70px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .carousel_icon {
    padding-left: 20px;
  }

  .owl-stage-outer {
    width: 708px !important;
  }

  .no-js .owl-carousel,
  .owl-carousel.owl-loaded {
    width: 720px !important;
    margin-left: 0;
  }

  .slider__box .item img {
    margin-left: 0;
    object-fit: cover;
    width: 720px;
    height: 253px;
  }

  .slider,
  .slider__box {
    width: 720px;
    height: 253px;
  }

  .slider__text::before {
    margin-top: 32px;
    font-size: 24px;
    line-height: 28px;
  }

  .slider__text::after {
    margin-top: 39px;
    font-size: 24px;
    line-height: 28px;
  }

  .slider__button {
    margin-top: 87px;
    width: 130px;
    height: 40px;
  }

  .slider__button-text {
    font-size: 10px;
    text-transform: none;
  }

  .slider__box .previous,
  .slider .next {
    margin-top: 84px;
  }

  .slider__box .previous {
    left: 87%;
  }

  .slider .next {
    right: 1.7%;
  }

  .bestsellers__box {
    width: 720px;
    margin: 0 auto;
  }

  .bestsellers__box-item {
    width: 230px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 189px;
  }

  .bestsellers__item-price,
  .bestsellers__item-category,
  .bestsellers__item-name,
  .bestsellers__item-img,
  .toBasket__sizesLable,
  .toBasket__sizes,
  .toBasket__num {
    margin-left: 35px;
  }

  .bestsellers__item-img {
    width: 160px;
    height: 120px;
  }

  .bestsellers__item-price,
  .bestsellers__item-name {
    font-size: 14px;
  }

  .bestsellers__discount {
    margin-left: 262px;
  }

  .bestsellers__head-text {
    margin-top: 42px;
  }

  .toBasket__depth-text,
  .toBasket__height-text {
    margin-left: 15px;
  }

  .toBasket__num {
    margin-left: 36px;
    margin-top: 0px;
  }

  .toBasket__depth-num {
    margin-left: 29px;
  }

  .toBasket__height-num {
    margin-left: 29px;
  }

  .toBasket__x {
    margin-left: 80px;
  }

  .toBasket__x-svg2 {
    margin-left: 50px;
  }

  .toBascet__add {
    width: 176px;
    margin-left: 27px;
  }

  .bestsellers__modalWindow-box {
    width: 35%;
    left: 35%;
  }

  .footer__contacts-contacts {
    margin-left: -288px;
    position: absolute;
  }
}

/* @media screen and (max-width:768px) {

  .container {
    margin: 0 24px;
    width: 720px;
  }

  header {
    width: 720px;
  }

  .header__searchLine {
    width: 720px;
    margin: 0;
  }

  .header__sections {
    position: absolute;
    margin-top: 34px;
    margin-left: 448px;
  }

  .hamburger-menu {
    margin-top: 0;
    margin-left: 0;
  }


  .hamburger__topline {
    width: 20px;
    top: 53px;
  }

  .hamburger__midline {
    width: 20px;
    top: 59px;
  }

  .hamburger__botline {
    width: 20px;
    top: 65px;
  }

  input#search {
    padding: 4px 11px 4px 11px;
    background-position: 15px 11px;
  }

  .header__searchLine-input {
    position: static;
    width: 219px;
    height: 30px;
    margin-left: 40px;
  }

  .header__phone-icon {
    display: none;
  }

  .header__sections-phone {
    display: none;
  }

  .header__delivery-icon {
    margin-left: 20px;
    margin-top: 15.46px;
    width: 29px;
    height: 17px;
  }

  .header__sections-delivery {
    margin-top: 17px;
    margin-left: 13px;
  }

  .header__searchLine-wishlist {
    margin-left: 169.26px;
    width: 21.83px;
    height: 19px;
  }

  .header__searchLine-bag {
    width: 18.13px;
    height: 20px;
  }

  .header__searchLine-profile {
    margin-left: 28px;
    width: 15.87px;
    height: 20px;
  }

  .header__menu-cell h2 {
    padding-left: 5px;
    font-size: 14px;
    padding-right: 20px;
  }

  .header__menu-etc-icon {
    margin-left: 703px;
    padding-left: 0;
  }

  .slide {
    height: 70px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .carousel_icon {
    padding-left: 20px;
  }

  .owl-stage-outer {
    width: 714px !important;
  }

  .no-js .owl-carousel,
  .owl-carousel.owl-loaded {
    width: 720px !important;
    margin-left: 0;
  }

  .slider__box .item img {
    margin-left: 0;
    object-fit: cover;
    width: 720px;
    height: 253px;
  }

  .slider,
  .slider__box {
    width: 720px;
    height: 253px;
  }

  .slider__text::before {
    margin-top: 32px;
    font-size: 24px;
    line-height: 28px;
  }

  .slider__text::after {
    margin-top: 39px;
    font-size: 24px;
    line-height: 28px;
  }

  .slider__button {
    margin-top: 87px;
    width: 130px;
    height: 40px;
  }

  .slider__button-text {
    font-size: 10px;
    text-transform: none;
  }

  .slider__box .previous,
  .slider .next {
    margin-top: 84px;
  }

  .slider__box .previous {
    left: 87%;
  }

  .slider .next {
    right: 1.7%;
  }

  .bestsellers__box {
    width: 720px;
    margin: 0 auto;
  }

  .bestsellers__box-item {
    width: 240px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 210px;
  }

  .bestsellers__item-price,
  .bestsellers__item-category,
  .bestsellers__item-name,
  .bestsellers__item-img {
    margin-left: 42px;
  }

  .bestsellers__item-img {
    width: 160px;
    height: 120px;
  }

  .bestsellers__item-price,
  .bestsellers__item-name {
    font-size: 14px;
  }

  .bestsellers__discount {
    margin-left: 249px;
  }

  .bestsellers__head-text {
    margin-top: 42px;
  }

  .toBasket__sizesLable {
    margin-left: 41px;
  }

  .toBasket__width-text {
    margin-left: 21px;
  }

  .toBasket__depth-text,
  .toBasket__height-text {
    margin-left: 15px;
  }

  .toBasket__num {
    margin-left: 36px;
    margin-top: 0px;
  }

  .toBasket__depth-num {
    margin-left: 29px;
  }

  .toBasket__height-num {
    margin-left: 29px;
  }

  .toBasket__x {
    margin-left: 84px;
  }

  .toBasket__x-svg2 {
    margin-left: 50px;
  }

  .toBascet__add {
    width: 186px;
    margin-left: 27px;
  }

  .bestsellers__modalWindow-box {
    width: 35%;
    left: 35%;
  }

  footer {
    width: 690px;
    padding: 0 15px;
  }

  .footer__contacts-phoneImg {
    position: absolute;
    margin-top: -1px;
    margin-left: -154px;
  }

  .footer__contacts-phoneText {
    margin-left: -132px;
    position: absolute;
  }

} */

@media screen and (max-width:320px) {

  .container {
    width: 290px;
    margin: 0 15px;
  }

  .header,
  .header__searchLine {
    width: 290px;
  }

  .header__sections {
    display: none;
  }

  input#search {
    position: absolute;
    margin-left: 0;
    margin-top: 90px;
    width: 266px;
  }

  .header__logo {
    margin-left: 15px;
    height: 22px;
    width: 100px;
  }

  .hamburger__topline {
    top: 48px;
  }

  .hamburger__midline {
    top: 54px;
  }

  .hamburger__botline {
    top: 60px;
  }

  .header__searchLine-wishlist {
    margin-left: 53px;
  }

  .header__searchLine-bag {
    margin-left: 20px;
  }

  .header__searchLine-profile {
    margin-left: 20px;
  }

  .header__menu {
    box-shadow: none;
  }

  .header__menu-cell {
    flex-direction: column;
    margin-left: 10px;
    width: 50px;
  }

  .carousel_icon {
    padding: 0;
    background-position: center;
    width: 50px !important;
    height: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  }

  .header__menu-cell h2 {
    padding: 0;
    margin: 0 auto;
    font-size: 9px;
  }

  .office {
    height: 87px;
  }

  .no-js .owl-carousel,
  .owl-carousel.owl-loaded {
    width: 290px !important;
    margin-top: 25px;
  }

  .kitchen {
    margin-left: 0;
  }

  .owl-stage-outer {
    width: 305px !important;
  }

  .slider,
  .slider__box {
    width: 290px;
  }

  .slider__box .item img {
    width: 290px;
  }

  .slider__text::before {
    margin-top: 32px;
    font-size: 16px;
  }

  .slider__text::after {
    width: 140px;
    margin-top: 17px;
    font-size: 16px;
  }

  .header__menu-stock-text {
    font-size: 9px;
    color: black;
    padding-left: 0;
    padding-top: 50px;
    padding-right: 0;
  }

  .header__menu-stock-text::before {
    position: absolute;
    content: url("/images/title_page/adaptive_320px/stock.svg");
    width: 17px;
    height: 17px;
    margin-top: -32px;
    margin-left: 4px;
  }

  .menu-stock:hover .header__menu-stock-text::before {
    content: url("/images/title_page/adaptive_320px/iconfinder-icon.svg");
  }

  .menu-stock:hover .header__menu-stock-text {
    background-color: #245462;
  }

  .menu-stock {
    box-shadow: 0px 2px 4px rgb(0 0 0 / 7%);
    height: 50px;
  }

  .header__menu-etc-icon {
    display: none;
  }

  .bestsellers__box {
    width: 290px;
  }

  .bestsellers__box-item {
    width: 145px;
  }

  .bestsellers__item-img {
    width: 132px;
    height: auto;
    margin-left: 8px;
  }

  .bestsellers__item-price,
  .bestsellers__item-category,
  .bestsellers__item-name,
  .toBasket__sizesLable {
    margin-left: 4px;
  }

  .bestsellers__item-loverIcon {
    margin-left: 114px;
    margin-top: 10px;
  }

  .bestsellers__discount {
    margin-left: 154px;
    margin-top: 45px;
  }

  .bestsellers__discount-num {
    margin-left: 5px;
  }

  .toBasket__sizes {
    margin-left: 4px;
  }

  .toBasket__width-text {
    margin-left: 0;
  }

  .toBasket__depth-text,
  .toBasket__height-text {
    margin-left: 10px;
  }

  .toBasket__x,
  .toBasket__x-svg2 {
    margin-left: 45px;
  }

  .toBasket__num {
    margin-left: 0;
  }

  .toBasket__height-num {
    margin-left: 27px;
  }

  .toBascet__add {
    width: 136px;
    margin-left: 4px;
  }

  .toBasket {
    padding-bottom: 4px;
  }

  .footer {
    display: none;
  }

}