.header__menu {
  display: flex;
  width: 1125px;
  height: 70px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 7%);
  margin-top: 20px;
}

.header__menu-cell {
  display: flex;
  text-align: center;
}

.header__menu-cell:hover {
  background-color: #245462;
  color: #fff;
}

.header__menu-cell:hover .header__menu-kitchen-icon {
  background-image: url(/images/title_page/kitchen-icon-white.svg);
  background-size: 23px 23px;
  box-shadow: none;
}

.header__menu-cell:hover .header__menu-bedroom-icon {
  background-image: url(/images/title_page/bedroom-icon-white.svg);
  background-size: 28px 28.22px;
  background-position: 20px 21px;
}

.header__menu-cell:hover .header__menu-livingroom-icon {
  background-image: url(/images/title_page/livingroom-icon-white.svg);
  background-size: 30px 30.03px;
  background-position: 20px 20px;
  box-shadow: none;
}

.header__menu-cell:hover .header__menu-closet-icon {
  background-image: url(/images/title_page/closet-icon-white.svg);
  background-size: 21.91px 22px;
  box-shadow: none;
}

.header__menu-cell:hover .header__menu-office-icon {
  background-image: url(/images/title_page/office-icon-white.svg);
  background-size: 22px 22px;
  box-shadow: none;
}

.header__menu-cell:hover .header__menu-childrensroom-icon {
  background-image: url(/images/title_page/childrensroom-icon-white.svg);
  background-size: 22px 22px;
  box-shadow: none;
}

.carousel_icon {
  background-repeat: no-repeat;
  background-position: 20px 23px;
  padding-left: 26px;
}

.header__menu-text {
  padding-left: 5px;
  padding-right: 25px;
}

.header__menu-kitchen-icon {
  background-image: url(/images/title_page/kitchen-icon.svg);
  width: 23px !important;
  height: 23px;
  padding-top: 23px;
}

.header__menu-kitchen-text {
  padding-top: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}

.header__menu-bedroom-icon {
  background-image: url(/images/title_page/bedroom-icon.svg);
  width: 28px !important;
  height: 22.22px;
  padding-top: 25px;
}

.header__menu-bedroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-top: 25px;
}

.header__menu-livingroom-icon {
  background-image: url(/images/title_page/livingroom-icon.svg);
  width: 30px !important;
  height: 22.03px;
  padding-top: 25px;
}

.header__menu-livingroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-top: 25px;
}

.header__menu-closet-icon {
  background-image: url(/images/title_page/closet-icon.svg);
  width: 21.91px !important;
  height: 22px;
  padding-top: 24px;
}

.header__menu-closet-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-top: 26px;
}

.header__menu-office-icon {
  background-image: url(/images/title_page/office-icon.svg);
  width: 22px !important;
  height: 22px;
  padding-top: 24px;
}

.header__menu-office-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.5px;
  padding-top: 26px;
}

.header__menu-childrensroom-icon {
  background-image: url(/images/title_page/childrensroom-icon.svg);
  width: 22px !important;
  height: 22px;
  padding-top: 24px;
}

.header__menu-childrensroom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding-top: 26px;
}

.header__menu-stock-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  color: #D74444;
  padding-left: 25px;
  padding-top: 26px;
  padding-right: 25px;
}

.header__menu-stock-text:hover {
  color: #fff;
}

.slide {
  height: 70px;
  margin-left: 1px;
  margin-right: 1px;
}

.owl-item:hover {
  color: #fff;
  height: 1000px;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  width: 100% !important;
}

.owl-stage {
  width: 1200px !important;
}

.owl-stage-outer {
  width: 96% !important;
}

.header__menu-etc-icon {
  position: absolute;
  width: 4.27px;
  height: 17px;
  margin-left: 1072px;
  margin-top: -81px;
  padding-left: 19px;
  padding-top: 39px;
}

.dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  font-size: 14px;
  line-height: 16px;
  background-color: #fff;
  z-index: 99;
  min-width: 139px;
  max-width: 200px;
  text-align: start;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  margin-top: 70px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}

.kitchen:hover .dropdown__kitchen {
  display: flex;
}

.bedroom:hover .dropdown__bedroom {
  display: flex;
}

.livingroom:hover .dropdown__livingroom {
  display: flex;
}

.closet:hover .dropdown__closet {
  display: flex;
}

.office:hover .dropdown__office {
  display: flex;
}

.menu-stock:hover .dropdown__menu-stock {
  display: flex;
  width: 151px;
  padding-bottom: 25px;
  align-items: flex-end;
  margin-left: -105px;
}

.childrensroom:hover .dropdown__childrensroom {
  display: flex;
}

.dropdown a {
  margin-top: 25px;
  text-decoration: none;
  color: #414141;
}

@media screen and (max-width:1240px) {
  .header__menu-etc-icon {
    margin-left: 1053px;
  }
}

@media screen and (max-width:1180px) {

  .carousel_icon {
    padding-left: 22px;
  }

  .header__menu-text {
    padding-right: 21px;
  }

  .header__menu-etc-icon {
    margin-left: 998px;
  }

}

@media screen and (max-width:1120px) {
  .carousel_icon {
    padding-left: 20px;
  }

  .header__menu-text {
    padding-right: 19px;
  }

  .header__menu-etc-icon {
    margin-left: 976px;
  }

}


@media screen and (max-width:1080px) {

  .carousel_icon {
    padding-left: 18px;
    background-position: 17px 23px;
  }

  .header__menu-text {
    padding-right: 15px;
  }

  .header__menu-etc-icon {
    margin-left: 938px;
  }

}


@media screen and (max-width:1024px) {

  .header__sections-main,
  .header__sections-about,
  .header__sections-contacts {
    display: none;
  }

  .header__menu {
    margin-top: 10px;
  }

  .header__sections a {
    color: #000000;
    text-decoration: none;
  }

  .header__logo-link {
    margin-left: 0px;
  }

  .header__menu {
    display: flex;
    width: 960px;
    height: 70px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 7%);
  }

  .slide {
    height: 70px;
    margin-left: 0px;
    margin-right: 2px;
  }

  .header__menu-cell h2 {
    padding-left: 6px;
    font-size: 14px;
    padding-right: 26px;
  }

  .header__menu-etc-icon {
    margin-left: 929px;
    padding-left: 0;
  }

  .carousel_icon {
    padding-left: 26px;
    background-position: 24px 23px;
  }

  .childrensroom:hover .dropdown__childrensroom {
    display: flex;
    margin-left: -56px;
  }

}

@media screen and (max-width:980px) {

  .carousel_icon {
    padding-left: 22px;
    background-position: 22px 23px;
  }

  .header__menu-cell h2 {
    padding-right: 21px;
  }

  .childrensroom:hover .dropdown__childrensroom {
    display: flex;
    margin-left: -64px;
  }

  .header__menu-etc-icon {
    margin-left: 873px;
  }

}

@media screen and (max-width:920px) {

  .carousel_icon {
    background-position: 19px 23px;
  }

  .header__menu-cell h2 {
    padding-right: 19px;
  }

  .slide {
    margin-right: 0;
  }

  .header__menu-etc-icon {
    margin-left: 841px;
  }

}

@media screen and (max-width:880px) {

  .carousel_icon {
    padding-left: 18px;
    background-position: 15px 23px;
  }

  .header__menu-cell h2 {
    padding-right: 15px;
  }

  .childrensroom:hover .dropdown__childrensroom {
    display: flex;
    margin-left: -74px;
  }

  .header__menu-cell:hover .header__menu-bedroom-icon {
    background-image: url(/images/title_page/bedroom-icon-white.svg);
    background-size: 28px 28.22px;
    background-position: 17px 21px;
  }

  .header__menu-cell:hover .header__menu-livingroom-icon {
    background-image: url(/images/title_page/livingroom-icon-white.svg);
    background-size: 30px 30.03px;
    background-position: 17px 20px;
    box-shadow: none;
  }

  .header__menu-etc-icon {
    margin-left: 797px;
  }
}

@media screen and (max-width:840px) {

  .header__menu-cell h2 {
    padding-left: 5px;
    font-size: 14px;
    padding-right: 20px;
  }

  .header__menu-etc-icon {
    margin-left: 703px;
    padding-left: 0;
  }

  .slide {
    height: 70px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .carousel_icon {
    padding-left: 20px;
  }

}

@media screen and (max-width:740px) {

  .carousel_icon {
    background-position: 13px 23px;
    padding-left: 19px;
  }

  .office:hover .dropdown__office {
    display: flex;
    margin-left: -85px;
  }

  .childrensroom:hover .dropdown__childrensroom {
    display: flex;
    margin-left: -79px;
  }

  .header__menu-cell h2 {
    padding-left: 1px;
    padding-right: 13px;
  }

  .header__menu-etc-icon {
    margin-left: 645px;
  }
}

@media screen and (max-width:680px) {

  .carousel_icon {
    background-position: 25px 23px;
    padding-left: 29px;
  }

  .header__menu-cell h2 {
    padding-right: 27px;
  }

  .closet:hover .dropdown__closet {
    display: flex;
    margin-left: -44px;
  }

  .office:hover .dropdown__office {
    display: flex;
    margin-left: -61px;
  }

  .childrensroom:hover .dropdown__childrensroom {
    display: flex;
    margin-left: -56px;
  }

  .header__menu-etc-icon {
    margin-left: 580px;
  }
}

@media screen and (max-width:630px) {

  .carousel_icon {
    background-position: 19px 23px;
  }

  .header__menu-cell h2 {
    padding-right: 17px;
  }

  .closet:hover .dropdown__closet {
    display: flex;
    margin-left: -53px;
  }

  .childrensroom:hover .dropdown__childrensroom {
    display: flex;
    margin-left: -66px;
  }

  .header__menu-etc-icon {
    margin-left: 527px;
  }
}

@media screen and (max-width:560px) {

  .header__menu {
    box-shadow: none;
    margin-top: 30px;
  }

  .header__menu-cell {
    flex-direction: column;
    margin-left: 10px;
    width: 50px;
  }

  .header__menu-cell:hover .header__menu-bedroom-icon {
    background-position: 11px 12px;
  }

  .owl-stage-outer {
    width: 100% !important;
  }

  .carousel_icon {
    padding: 0;
    background-position: center;
    width: 50px !important;
    height: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  }

  .header__menu-cell h2 {
    padding: 0;
    margin: 0 auto;
    font-size: 9px;
  }

  .office {
    height: 87px;
  }

  .office:hover .dropdown__office {
    margin-left: -69px;
    margin-top: 87px;
  }

  .header__menu-cell {
    flex-direction: column;
    margin-left: 10px;
    width: 50px;
    margin-left: 21.5px;
  }

  .header__menu-cell:hover .carousel_icon {
    box-shadow: none;
  }

  .kitchen {
    margin-left: 0;
  }

  .closet:hover .dropdown__closet {
    margin-left: -69px;
  }

  .childrensroom:hover .dropdown__childrensroom {
    margin-left: -64px;
  }

  .menu-stock:hover .dropdown__menu-stock {
    margin-left: -151px;
  }

  .header__menu-stock-text {
    font-size: 9px;
    color: black;
    padding-left: 0;
    padding-top: 50px;
    padding-right: 0;
  }

  .header__menu-stock-text::before {
    position: absolute;
    content: url("/images/title_page/adaptive_320px/stock.svg");
    width: 17px;
    height: 17px;
    margin-top: -32px;
    margin-left: 4px;
  }

  .menu-stock:hover .header__menu-stock-text::before {
    content: url("/images/title_page/adaptive_320px/iconfinder-icon.svg");
  }

  .menu-stock:hover .header__menu-stock-text {
    background-color: #245462;
  }

  .header__menu-cell:hover .header__menu-livingroom-icon {
    background-position: center;
  }

  .menu-stock {
    box-shadow: 0px 2px 4px rgb(0 0 0 / 7%);
    height: 50px;
  }

  .dropdown {
    font-size: 13px;
  }

  .header__menu-etc-icon {
    display: none;
  }


}

@media screen and (max-width:500px) {

  .header__menu-cell {
    margin-left: 7px;
  }

  .childrensroom:hover .dropdown__childrensroom {
    margin-left: -81px;
  }

  .closet:hover .dropdown__closet, .office:hover .dropdown__office {
    margin-left: -100%;
  }

  .childrensroom:hover .dropdown__childrensroom {
    margin-left: -190%;
  }

  .menu-stock:hover .dropdown__menu-stock {
    margin-left: -190%;
    width: 108px;
  }

  .dropdown {
    font-size: 12px;
    min-width: 108px;
    max-width: 150px;
  }

}


@media screen and (max-width:420px) {

  .kitchen {
    margin-left: 0;
  }

}

@media screen and (max-width:340px) {

  .header__menu {
    box-shadow: none;
  }

  .header__menu-cell {
    flex-direction: column;
    margin-left: 10px;
    width: 50px;
  }

  .carousel_icon {
    padding: 0;
    background-position: center;
    width: 50px !important;
    height: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  }

  .header__menu-cell h2 {
    padding: 0;
    margin: 0 auto;
    font-size: 9px;
  }

  .kitchen {
    margin-left: 0;
  }

  .office {
    height: 87px;
  }

  .childrensroom:hover .dropdown__childrensroom {
    margin-left: -180%;
  }

  .menu-stock:hover .dropdown__menu-stock {
    margin-left: -180%;
  }

  .header__menu-stock-text {
    font-size: 9px;
    color: black;
    padding-left: 0;
    padding-top: 50px;
    padding-right: 0;
  }

  .header__menu-stock-text::before {
    position: absolute;
    content: url("/images/title_page/adaptive_320px/stock.svg");
    width: 17px;
    height: 17px;
    margin-top: -32px;
    margin-left: 4px;
  }

  .menu-stock:hover .header__menu-stock-text::before {
    content: url("/images/title_page/adaptive_320px/iconfinder-icon.svg");
  }

  .menu-stock:hover .header__menu-stock-text {
    background-color: #245462;
  }

  .menu-stock {
    box-shadow: 0px 2px 4px rgb(0 0 0 / 7%);
    height: 50px;
  }

  .header__menu-etc-icon {
    display: none;
  }
}

@media screen and (max-width:335px) {
  .slider__text::after {
    margin-top: 100px;
  }
}