@import url(/site_pages/contacts_page/style.css);



.header__searchLine-alarm {
  position: absolute;
  margin-top: -248px;
  margin-left: 1237px;
}

.shopping__list {
  display: flex;
  flex-direction: column;
}

.shoping__item {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "img a a a b b b b b h"
    "img c d r i x f z g h";
  width: 1140px;
  height: 120px;
  margin-left: 25px;
  margin-top: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}

.shoping__img {
  margin-left: 10px;
  width: 100px;
  height: 75px;
}

.shoping__img {
  grid-area: img;
  justify-self: center;
  align-self: center;
}

.item_title {
  grid-area: a;
  padding-top: 25px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.item_price {
  grid-area: b;
  justify-self: end;
  padding-top: 25px;
  margin-right: -35px;
  font-weight: bold;
}

.item_textQuantity {
  grid-area: c;
  justify-self: end;
  font-size: 12px;
  line-height: 14px;
  padding-left: 130px;
}

.item_quantity {
  grid-area: d;
  font-size: 12px;
  line-height: 14px;
  margin-left: 10px;
}

.item_width {
  grid-area: i;
  margin-left: -73px;
  margin-top: 1px;
  font-size: 12px;
  line-height: 14px;
  font-size: 12px;
  line-height: 14px;
  color: #9E9E9E;
}

.item_depth {
  grid-area: f;
  margin-left: -226px;
  margin-top: 1px;
  font-size: 12px;
  line-height: 14px;
  font-size: 12px;
  line-height: 14px;
  color: #9E9E9E;
}

.item_height {
  grid-area: g;
  margin-left: -376px;
  margin-top: 1px;
  font-size: 12px;
  line-height: 14px;
  font-size: 12px;
  line-height: 14px;
  color: #9E9E9E;
}

.item_size {
  grid-area: r;
  margin-left: -70px;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

.item_x {
  grid-area: x;
  margin-left: -135px;
  margin-top: 5px;
  background-image: url('/images/basket_page/×.svg');
  background-repeat: no-repeat;
}

.item_x2 {
  grid-area: z;
  background-image: url('/images/basket_page/×.svg');
  background-repeat: no-repeat;
  margin-left: -286px;
  margin-top: 5px;
}

.item_delete {
  grid-area: h;
  justify-self: end;
  background-image: url('/images/basket_page/Vector.svg');
  background-repeat: no-repeat;
  background-color: #F9F9F9;
  background-position: center;
  width: 57px;
  height: 120px;
}

.in-check {
  margin: 10px auto;
}

.totalSumBox {
  display: flex;
}

.totalSumBox__text {
  margin-left: 835px;
  margin-top: 53px;
  font-size: 14px;
  line-height: 16px;
  color: #414141;
}

.totalSumBox__totalSum {
  margin-left: 15px;
  margin-top: 51px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.totalSumBox__checkout {
  margin-left: 25px;
  margin-top: 40px;
  background-color: #245462;
  width: 202px;
  height: 40px;
  color: #fff;
  font-size: 13px;
  line-height: 15px;
}

.totalQuantity {
  margin-left: 130px;
  width: 1180px;
  position: absolute;
  margin-top: -20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
  font-weight: bold;
}

.totalQuantity__text {
  margin-left: 10px;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.totalQuantity__num {
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.in-checkz {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  min-height: 200px;
}

footer {
  margin-top: 70px;
  display: flex;
  position: relative;
  width: 1400px;
  height: 234px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.03);

}

input#search {
  background-image: url(/images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 15px 11px;
  text-indent: 35px;
  padding: 0 10px 0 10px;
}

.header__searchLine-profile {
  background-image: url("/images/profile-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 15.87px;
  height: 20px;
}

.header__menu a {
  color: #414141;
}

.bestsellers__head-text {
  margin-left: 140px;
  margin-top: 30px;
}

.bestsellers__discount {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 743px;
  margin-top: 54px;
}

.bestsellers__discount-logo {
  width:17px;
  height: 17px;
}

.bestsellers__discount-num {
  margin-left: 7px;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.random4items__header {
  margin-left: 140px;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.random4items__box {
  margin-left: 140px;
  padding-top: 35px;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1140px;
}


.bestsellers__box-item {
  width: 263px;
  padding-bottom: 20px;
}


.bestsellers__item-img {
  margin-bottom: 150px;
  margin-left: 32px;
  margin-top: 38px;
}

.bestsellers__item-name {
  margin-left: 20px;
  margin-top: -73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
}

.bestsellers__item-category {
  margin-left: 20px;
  margin-top: 6px;
  font-size: 11px;
  line-height: 13px;
}

.bestsellers__item-price {
  margin-left: 20px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.toBasket {
  position: absolute;
  z-index: 99999;
  background-color: #fff;
  width: inherit;
  padding-bottom: 20px;
  box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.07),
             -4px 4px 6px -1px rgba(0, 0, 0, 0.07);
}

.toBasket__sizesLable {
  margin-left: 20px;
  margin-top: 15px;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

.toBasket__sizes {
  display: flex;
  margin-left: 20px;
  margin-top: 8px;
  font-size: 9px;
  line-height: 11px;
  color: #C4C4C4;
}

.toBasket__depth-text {
  margin-left: 37px;
}

.toBasket__height-text {
  margin-left: 37px;
}

.toBasket__x {
  display: flex;
  margin-left: 75px;
  width: 7px;
  height: 14px;
}

.toBasket__x-svg2 {
  margin-left: 72px;
}

.toBasket__num {
  display: flex;
  font-size: 9px;
  line-height: 11px;
  color: #414141;
  margin-left: 20px;
  margin-top: -6px;
}

.toBasket__depth-num {
  margin-left: 50px;
}

.toBasket__height-num {
  margin-left: 52px;
}

.toBascet__add {
  width: 223px;
  height: 40px;
  margin-left: 20px;
  margin-top: 17px;
  background: #245462;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}



.bestsellers__item-loverIcon {
  margin-left: 230px;
  margin-top: 21px;
}

.display-none {
  display: none;
}

.box_withShadow {
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);
}