@import url(/site_pages/contacts_page/style.css);

.header__searchLine-alarm {
  position: absolute;
  margin-top: -249px;
}

.shopping__list {
  display: flex;
  flex-direction: column;
}

.shoping__item {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "img a a b b b h"
    "img c d i f g h";
  width: 1140px;
  height: 120px;
  margin-left: 25px;
  margin-top: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}

.shoping__img {
  width: 100px;
  height: 75px;
}

.shoping__img {
  grid-area: img;
  justify-self: center;
  align-self: center;
}

.item_title {
  grid-area: a;
  padding-top: 25px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.item_price {
  grid-area: b;
  justify-self: end;
  padding-top: 25px;
  margin-right: -100px;
  font-weight: bold;
}

.item_textQuantity {
  grid-area: c;
  justify-self: end;
  font-size: 12px;
  line-height: 14px;
  padding-left: 130px;
}

.item_quantity {
  grid-area: d;
  font-size: 12px;
  line-height: 14px;
  margin-left: 10px;
}

.item_width {
  grid-area: i;
  font-size: 12px;
  line-height: 14px;
}

.item_depth {
  grid-area: f;
  font-size: 12px;
  line-height: 14px;
}

.item_height {
  grid-area: g;
  font-size: 12px;
  line-height: 14px;
}

.item_delete {
  grid-area: h;
  justify-self: end;
  background-image: url('/images/basket_page/Vector.svg');
  background-repeat: no-repeat;
  background-color: #F9F9F9;
  background-position: center;
  width: 57px;
  height: 120px;
}

.in-check {
  margin: 10px auto;

}

.totalSumBox {
  display: flex;
}

.totalSumBox__text {
  margin-left: 835px;
  margin-top: 53px;
  font-size: 14px;
  line-height: 16px;
  color: #414141;
}

.totalSumBox__totalSum {
  margin-left: 15px;
  margin-top: 51px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.totalSumBox__checkout {
  margin-left: 25px;
  margin-top: 40px;
  background-color: #245462;
  width: 202px;
  height: 40px;
  color: #fff;
  font-size: 13px;
  line-height: 15px;
}

.totalQuantity {
  margin-left: 130px;
  width: 1180px;
  position: absolute;
  margin-top: -20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
  font-weight: bold;
}

.totalQuantity__text {
  margin-left: 10px;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.totalQuantity__num {
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.in-checkz {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  min-height: 800px;
}

footer {
  display: flex;
  position: relative;
  width: 1400px;
  height: 234px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.03);

}