@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Regular.ttf") format('truetype'),
    url("/fonts/RobotoCondensed-Regular.ttf") format('truetype')
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrap_1 {
  flex: 1 0 auto;
}

.wrap_2 {
  flex: 0 0 auto;
}

.header__searchLine-alarm {
  position: absolute;
  width: 8px;
  height: 8px;
  margin-top: -248px;
  margin-left: 1087px;
}

.header__searchLine-bag {
  background-image: url(/images/basket_page/bag.svg) !important;
}

.navigation {
  display: flex;
  margin-top: 30px;
}

.navigation__start {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
}

.navigation__simbol {
  font-size: 12px;
  line-height: 14px;
  color: #575757;
  margin-left: 10px;
}

.navigation__end {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
  margin-left: 10px;
}

.shopping__list {
  display: flex;
  flex-direction: column;
}

.shoping__item_price-box {
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 7%;
  top: 18%;
}

.shoping__item {
  position: relative;
  display: grid;
  grid-template-columns: 135px 115px 100px;
  grid-template-rows: 50% 50%;
  grid-template-areas: "img a a a h"
    "img c r i h";
  width: 100%;
  height: 123px;
  margin-top: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}

.shoping__item-discount {
  display: flex;
  align-items: center;
}


.shoping__item-discount-logo {
  width: 17px;
  height: 17px;
}

.shoping__item-discount-num {
  margin-left: 7px;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.shoping__item_withoutDiscount {
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: line-through;
  color: #CCCCCC;
}

.shoping__img {
  max-width: 100px;
  max-height: 75px;
  grid-area: img;
  justify-self: center;
  align-self: center;
}

.item_title {
  grid-area: a;
  padding-top: 27px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.item_price {
  grid-area: b;
  justify-self: end;
  font-weight: bold;
}

.item_quantityBox {
  display: flex;
  grid-area: c;
}

.item_quantityText {
  font-size: 12px;
  line-height: 27px;
}

.item_quantity {
  font-size: 12px;
  line-height: 14px;
  margin-left: 11px;
  margin-top: 7px;
}

.item_size {
  grid-area: r;
  font-size: 12px;
  line-height: 27px;
  color: #414141;
}

.item__size-numBox {
  grid-area: i;
  display: flex;
  flex-direction: row;
}

.item_width {
  margin-top: 7px;
  font-size: 12px;
  line-height: 14px;
  font-size: 12px;
  line-height: 14px;
  color: #9E9E9E;
}

.item_depth {
  margin-top: 7px;
  margin-left: 4px;
  font-size: 12px;
  line-height: 14px;
  font-size: 12px;
  line-height: 14px;
  color: #9E9E9E;
}

.item_height {
  margin-top: 7px;
  margin-left: 4px;
  font-size: 12px;
  line-height: 14px;
  font-size: 12px;
  line-height: 14px;
  color: #9E9E9E;
}

.item_x {
  margin-left: 4px;
  margin-top: 9.5px;
  width: 7px;
  height: 7px;
}

.item_x2 {
  margin-left: 4px;
  margin-top: 9.5px;
  width: 7px;
  height: 7px;
}

.item_delete {
  grid-area: h;
  justify-self: end;
  background-image: url('/images/basket_page/Vector.svg');
  background-repeat: no-repeat;
  background-color: #F9F9F9;
  background-position: center;
  width: 17.57%;
  height: 100%;
  border: none;
}

.in-check-box {
  position: relative;
  display: flex;
  margin-top: 50px;
  flex-direction: column;
}

.in-check {
  margin-top: 10px;
}

.totalSumBox {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  width: 100%;
}

.totalSumBox__text {
  margin-top: 55px;
  font-size: 14px;
  line-height: 16px;
  color: #414141;
}

.totalSumBox__totalSum {
  margin-left: 20px;
  margin-top: 53px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.totalSumBox__checkout {
  margin-left: 26px;
  margin-top: 42px;
  background-color: #245462;
  width: 206px;
  height: 40px;
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 15px;
}

.totalQuantity {
  position: absolute;
  margin-top: -18px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.totalQuantity__text {
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.totalQuantity__num {
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.bestsellers__head-text {
  margin-left: 140px;
  margin-top: 30px;
}


.random4items__header {
  margin-top: 70px;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.random4items__box {
  padding-top: 24px;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.bestsellers__box-item {
  position: relative;
  width: 24%;
  margin-bottom: 53px;
}

.bestsellers__discount {
  position: absolute;
  top: 5%;
  left: 6%;
  display: flex;
  align-items: center;
}

.bestsellers__item-loverIcon {
  position: absolute;
  top: 5%;
  right: 6%;
}

.bestsellers__discount-logo {
  width: 17px;
  height: 17px;
}

.bestsellers__discount-num {
  margin-left: 3px;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.bestsellers__item-imgBox {
  display: flex;
  align-items: center;
  width: 200px;
  height: 150px;
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 62px;
}

.bestsellers__item-img {
  align-self: center;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.bestsellers__item-name {
  width: 84%;
  margin-left: 8%;
  margin-top: -101px;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
}

.bestsellers__item-category {
  margin-left: 8%;
  margin-top: 6px;
  font-size: 11px;
  line-height: 13px;
}

.bestsellers__item-priceBox {
  margin-left: 8%;
  width: 50%;
  display: flex;
  align-items: center;
  margin-top: 9px;
}

.bestsellers__item-price {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.bestsellers__fullPrice {
  margin-left: 6px;
  font-size: 12px;
  text-decoration-line: line-through;
  color: #CCCCCC;
}


.toBasket {
  position: absolute;
  background-color: #fff;
  width: 100%;
  padding-bottom: 20px;
  box-shadow: 4px 5px 6px -1px rgb(0 0 0 / 9%),
    -4px 5px 6px -1px rgb(0 0 0 / 9%);
}

.toBasket__sizesLable {
  margin-left: 8%;
  margin-top: 15px;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

.toBasket__sizes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8%;
  margin-top: 8px;
  width: 68%;
}

.toBasket__widthBox,
.toBasket__depthBox,
.toBasket__heightBox {
  display: flex;
  flex-direction: column;
  font-size: 9px;
}

.toBasket__width-text,
.toBasket__depth-text,
.toBasket__height-text {
  color: #C4C4C4;
}

.toBascet__add {
  width: 84%;
  height: 40px;
  margin-left: 8%;
  margin-top: 17px;
  background: #245462;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

.display-none {
  display: none;
}

.box_withShadow {
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);
}

.bestsellers__modalWindow-box {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  padding-top: 20px;
  height: 40px;
  width: 100%;
  text-align: center;
  background-color: rgb(160, 160, 160);
  font-family: Playfair Display;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  color: black;
  z-index: 999;
  opacity: 0.8;
}

@media screen and (max-width:1240px) {
  .container {
    width: 1100px;
  }

  .header__searchLine-alarm {
    margin-left: 1047px;
  }
}

@media screen and (max-width:1180px) {
  .container {
    width: 1040px;
  }

  .header__searchLine-alarm {
    margin-left: 991px;
  }

  .bestsellers__box-item {
    position: relative;
    width: 24%;
  }

  .toBasket {
    width: 100%;
  }

  .bestsellers__item-price {
    margin-left: 0;
  }

}

@media screen and (max-width:1120px) {
  .container {
    width: 1020px;
  }

  .header__searchLine-alarm {
    margin-left: 974px;
  }

  .bestsellers__item-loverIcon {
    right: 7%;
  }
}


@media screen and (max-width:1080px) {
  .container {
    width: 980px;
  }

  .header__searchLine-alarm {
    margin-left: 926px;
  }

}

@media screen and (max-width:1024px) {

  .container {
    width: 960px;
  }

  .header__searchLine-alarm {
    margin-top: -238px;
    margin-left: 908px;
  }

  .header__sections-main,
  .header__sections-about,
  .header__sections-contacts {
    display: none;
  }

  .navigation {
    margin-bottom: 50px;
  }
}

@media screen and (max-width:980px) {
  .container {
    width: 900px;
  }

  .header__searchLine-alarm {
    margin-left: 848px;
  }

}

@media screen and (max-width:920px) {
  .container {
    width: 860px;
  }

  .header__searchLine-alarm {
    margin-left: 808px;
  }
}

@media screen and (max-width:880px) {
  .container {
    width: 820px;
  }

  .header__searchLine-alarm {
    margin-left: 777px;
  }
}

@media screen and (max-width:840px) {
  .container {
    width: 720px;
  }

  .header__searchLine-alarm {
    margin-left: 677px;
  }

  .item_delete {
    width: 30%;
  }

  .shoping__item_price-box {
    width: 170px;
  }

  .bestsellers__item-imgBox {
    width: 80%;
    height: 95px;
  }
}

@media screen and (max-width:768px) {
  .container {
    width: 720px;
  }
}

@media screen and (max-width:740px) {
  .container {
    width: 660px;
  }

  .header__searchLine-alarm {
    margin-left: 614px;
  }

  .toBasket__width-text,
  .toBasket__depth-text,
  .toBasket__height-text,
  .toBasket__width-num,
  .toBasket__depth-num,
  .toBasket__height-num {
    font-size: 8px;
  }

  .toBasket__sizes {
    width: 75%;
  }

  .toBascet__add {
    font-size: 12px;
  }

  .bestsellers__item-name {
    font-size: 14px;
  }

  .toBasket__sizesLable {
    font-size: 11px;
  }
}

@media screen and (max-width:680px) {
  .container {
    width: 600px;
  }

  .header__searchLine-alarm {
    margin-left: 555px;
  }

  .item_delete {
    width: 60%;
  }
}

@media screen and (max-width:630px) {
  .container {
    width: 540px;
  }

  .header__searchLine-alarm {
    margin-left: 496px;
  }

  .shoping__item {
    grid-template-columns: 135px 98px 100px;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: "img a a a h"
      "img c c c h"
      "img r i i h";
  }

  .shoping__item-discount-num {
    margin-left: 2px;
  }

  .shoping__item_price-box {
    width: 160px;
  }

  .shoping__item_price-box {
    top: 23%;
    right: 8%;
  }

  .item_title {
    width: 55%;
    font-size: 15px;
  }

  .item_price {
    font-size: 15px;
  }

  .item_delete {
    width: 40%;
  }

  .item_quantityBox {
    display: flex;
    grid-area: c;
    margin-top: 23px;
  }

  .bestsellers__box-item:last-of-type {
    display: none;
  }

  .bestsellers__box-item {
    width: 32.6%;
  }

  .bestsellers__item-imgBox {
    margin-bottom: 130px;
    margin-top: 45px;
  }

}

@media screen and (max-width:560px) {
  .container {
    width: 480px;
  }

  .header__searchLine-alarm {
    margin-left: 437px;
    margin-top: -258px;
  }

  .shoping__item_price-box {
    width: 140px;
  }

  .shoping__item-discount-logo {
    width: 13px;
    height: 13px;
  }

  .shoping__item-discount-num,
  .shoping__item_withoutDiscount {
    font-size: 11px;
  }

  .item_price {
    font-size: 13px;
  }

  .totalQuantity__text,
  .totalQuantity__num,
  .random4items__header {
    font-size: 15px;
  }

  .toBasket__x-svg1,
  .toBasket__x-svg2 {
    width: 5px;
    height: 5px;
  }

  .totalSumBox {
    justify-content: start;
  }
}

@media screen and (max-width:500px) {
  .container {
    width: 400px;
  }

  .header__searchLine-alarm {
    margin-left: 357px;
    margin-top: -258px;
  }

  .shoping__item_price-box {
    width: 105px;
    flex-wrap: wrap;
    align-items: end;
    position: absolute;
    justify-content: end;
    right: 9%;
    top: 22%;
  }

  .shoping__item {
    grid-template-columns: 135px 81px 100px;
  }


  .totalQuantity__text,
  .totalQuantity__num,
  .random4items__header {
    font-size: 13px;
  }

  .item_title {
    font-size: 13px;
  }

  .item_price {
    font-size: 13px;
    order: -1;
    flex-basis: 100%;
    text-align: end;
  }

  .item_delete {
    width: 80%;
  }

  .shoping__item-discount {
    justify-content: end;
  }

  .shoping__item_withoutDiscount {
    text-align: end;
    margin-left: 5px;
  }

  .item_size,
  .item__size-numBox *,
  .item_quantityBox * {
    font-size: 10px;
  }

  .item_x {
    margin-top: 11px;
    width: 5px;
    height: 5px;
  }

  .totalSumBox {
    justify-content: start;
    align-self: center;
    width: 71%;
  }

  .totalSumBox__text {
    flex-basis: 50%;
    margin-top: 40px;
  }

  .totalSumBox__totalSum {
    margin-left: 0;
    text-align: end;
    flex-basis: 50%;
    margin-top: 40px;
  }

  .totalSumBox__checkout {
    flex-basis: 100%;
    margin-left: 0;
    margin-top: 30px;
    width: 206px;
  }

  .bestsellers__item-imgBox {
    margin-bottom: 130px;
    margin-top: 50px;
  }

  .bestsellers__box-item {
    width: 49%;
  }

  .bestsellers__box-item:nth-last-child(-n+2) {
    display: none;
  }

}

@media screen and (max-width:420px) {
  .container {
    width: 360px;
  }

  .header__searchLine-alarm {
    margin-left: 317px;
  }


  .item_title {
    width: 90%;
    font-size: 13px;
    line-height: 15px;
  }

  .item_quantityBox {
    margin-top: 0;
  }

  .item_quantityText {
    display: none;
  }

  .item_price {
    order: -1;
    flex-basis: auto;
    text-align: start;
  }

  .item_quantity {
    margin-left: 0;
    margin-top: 21px;
    text-align: center;
    line-height: 18px;
    border: 1px solid #E6E6E6;
    width: 27px;
    height: 20px;
    box-sizing: border-box;
    border-radius: 7px;
  }

  .item__size-numBox {
    margin-left: -33px;
    margin-top: 2px;
  }

  .item_size {
    margin-left: 17px;
    margin-top: 2px;
  }

  .item_delete {
    width: 100%;
  }

  .shoping__item {
    grid-template-columns: 135px 98px 100px;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas:
      "img a a h"
      "img c c h"
      "r i i h";
  }

  .shoping__item_price-box {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    right: 23%;
    top: 51%;
  }

  .shoping__item_price-box * {
    font-size: 12px;
  }

  .shoping__item-discount {
    display: none;
  }

  .shoping__item_withoutDiscount {
    text-align: start;
    margin-left: 5px;
  }

  .totalSumBox__text {
    flex-basis: 60%;
  }

  .totalSumBox__totalSum {
    flex-basis: 40%;
  }

}

@media screen and (max-width:380px) {
  .container {
    width: 330px;
  }

  .header__searchLine-alarm {
    margin-left: 287px;
  }

  .shoping__item_price-box {
    right: 17%;
  }

  .shoping__item {
    grid-template-columns: 135px 158px 37px;
    grid-template-areas:
      "img a h"
      "img c h"
      "r i h";
  }
}

@media screen and (max-width:340px) {
  .container {
    width: 290px;
  }

  .header__searchLine-alarm {
    margin-left: 246px;
  }

  .shoping__img {
    max-width: 67px;
    max-height: 50px;
  }

  .shoping__item {
    grid-template-columns: 90px 167px 33px;
  }


  .shoping__item_price-box {
    right: 21%;
  }

  .item__size-numBox {
    margin-left: 7px;
  }

  .totalSumBox {
    width: 88%;
  }

  .totalSumBox__text {
    flex-basis: 68%;
  }

  .totalSumBox__totalSum {
    flex-basis: 32%;
  }

  .toBascet__add {
    font-size: 11px;
  }

}