@import url(/site_pages/contacts_page/style.css);

.container {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrap_1 {
  flex: 1 0 auto;
}

.wrap_2 {
  margin-top: 103px;
  flex: 0 0 auto;
}

.header__searchLine-alarm {
  position: absolute;
  width: 8px;
  height: 8px;
  margin-top: -252px;
  margin-left: 1109px;
}

.header__searchLine-bag {
  background-image: url(/images/basket_page/bag.svg);
}

.shopping__list {
  display: flex;
  flex-direction: column;
}

.shoping__item {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 50% 50%;
  grid-template-areas: "img a a a b b b b b h"
  "img c d r i x f z g h";
  width: 1140px;
  height: 123px;
  margin-top: 10px;
  margin-left: 11px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}

.shoping__img {
  margin-left: 10px;
  width: 100px;
  height: 75px;
}

.shoping__img {
  grid-area: img;
  justify-self: center;
  align-self: center;
}

.item_title {
  grid-area: a;
  padding-left: 42px;
  padding-top: 27px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.item_price {
  grid-area: b;
  justify-self: end;
  padding-top: 28px;
  margin-right: -28px;
  font-weight: bold;
}

.item_textQuantity {
  grid-area: c;
  justify-self: end;
  font-size: 12px;
  line-height: 27px;
  padding-left: 192px;
}

.item_quantity {
  grid-area: d;
  font-size: 12px;
  line-height: 14px;
  margin-left: 11px;
  margin-top: 6px;
}

.item_width {
  grid-area: i;
  margin-left: -45px;
  margin-top: 6px;
  font-size: 12px;
  line-height: 14px;
  font-size: 12px;
  line-height: 14px;
  color: #9E9E9E;
}

.item_depth {
  grid-area: f;
  margin-left: -183px;
  margin-top: 6px;
  font-size: 12px;
  line-height: 14px;
  font-size: 12px;
  line-height: 14px;
  color: #9E9E9E;
}

.item_height {
  grid-area: g;
  margin-left: -322px;
  margin-top: 6px;
  font-size: 12px;
  line-height: 14px;
  font-size: 12px;
  line-height: 14px;
  color: #9E9E9E;
}

.item_size {
  grid-area: r;
  margin-left: -61px;
  font-size: 12px;
  line-height: 27px;
  color: #414141;
}

.item_x {
  grid-area: x;
  margin-left: -100px;
  margin-top: 11px;
  background-image: url('/images/basket_page/×.svg');
  background-repeat: no-repeat;
}

.item_x2 {
  grid-area: z;
  background-image: url('/images/basket_page/×.svg');
  background-repeat: no-repeat;
  margin-left: -239px;
  margin-top: 10px;
}

.item_delete {
  grid-area: h;
  justify-self: end;
  background-image: url('/images/basket_page/Vector.svg');
  background-repeat: no-repeat;
  background-color: #F9F9F9;
  background-position: center;
  width: 57px;
  height: 120px;
}

.in-check {
  margin-top: 10px;
}

.totalSumBox {
  display: flex;
  flex-wrap: wrap;
}

.totalSumBox__text {
  margin-left: 712px;
  margin-top: 55px;
  font-size: 14px;
  line-height: 16px;
  color: #414141;
}

.totalSumBox__totalSum {
  margin-left: 20px;
  margin-top: 53px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.totalSumBox__checkout {
  margin-left: 26px;
  margin-top: 42px;
  background-color: #245462;
  width: 206px;
  height: 40px;
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 15px;
}

.totalQuantity {
  width: 1163px;
  position: absolute;
  margin-top: -18px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
  font-weight: bold;
}

.totalQuantity__text {
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.totalQuantity__num {
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.in-check-box {
  display: flex;
  margin-top: 60px;
  margin-left: 140px;
  flex-direction: column;
}

footer {
  margin-top: 70px;
  display: flex;
  position: relative;
  width: 1400px;
  height: 234px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.03);

}

.bestsellers__head-text {
  margin-left: 140px;
  margin-top: 30px;
}

.bestsellers__discount {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 743px;
  margin-top: 54px;
}

.bestsellers__discount-logo {
  width:17px;
  height: 17px;
}

.bestsellers__discount-num {
  margin-left: 7px;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.random4items__header {
  margin-left: 140px;
  font-size: 16px;
  line-height: 19px;
  color: #414141;
}

.random4items__box {
  margin-left: 140px;
  padding-top: 24px;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1140px;
}


.bestsellers__box-item {
  width: 263px;
  padding-bottom: 20px;
}


.bestsellers__item-img {
  margin-bottom: 150px;
  margin-left: 32px;
  margin-top: 38px;
}

.bestsellers__item-name {
  margin-left: 20px;
  margin-top: -99px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
}

.bestsellers__item-category {
  margin-left: 20px;
  margin-top: 6px;
  font-size: 11px;
  line-height: 13px;
}

.bestsellers__item-price {
  margin-left: 20px;
  margin-top: 9px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.toBasket {
  position: absolute;
  z-index: 99999;
  background-color: #fff;
  width: inherit;
  padding-bottom: 20px;
  box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.07),
             -4px 4px 6px -1px rgba(0, 0, 0, 0.07);
}

.toBasket__sizesLable {
  margin-left: 20px;
  margin-top: 15px;
  font-size: 12px;
  line-height: 14px;
  color: #414141;
}

.toBasket__sizes {
  display: flex;
  margin-left: 20px;
  margin-top: 8px;
  font-size: 9px;
  line-height: 11px;
  color: #C4C4C4;
}

.toBasket__depth-text {
  margin-left: 37px;
}

.toBasket__height-text {
  margin-left: 37px;
}

.toBasket__x {
  display: flex;
  margin-left: 75px;
  width: 7px;
  height: 14px;
}

.toBasket__x-svg2 {
  margin-left: 72px;
}

.toBasket__num {
  display: flex;
  font-size: 9px;
  line-height: 11px;
  color: #414141;
  margin-left: 20px;
  margin-top: -6px;
}

.toBasket__depth-num {
  margin-left: 50px;
}

.toBasket__height-num {
  margin-left: 52px;
}

.toBascet__add {
  width: 223px;
  height: 40px;
  margin-left: 20px;
  margin-top: 17px;
  background: #245462;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

.bestsellers__item-loverIcon {
  margin-left: 234px;
  margin-top: 21px;
}

.display-none {
  display: none;
}

.box_withShadow {
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);
}

.bestsellers__modalWindow-box {
  display: none;
  position: fixed;
  padding-top: 20px;
  height: 40px;
  left: 35%;
  top: 0;
  width: 30%;
  text-align: center;
  background-color: rgb(160, 160, 160);
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  color: black;
  z-index: 999;
}

/* owl carousel start */
.slide {
  height: 70px;
  margin-left: 0;
  margin-right: 0;
}

.owl-item:hover {
  color: #fff;
  height: 1000px;
}


.header__menu, .owl-carousel, .owl-loaded, .owl-drag, .owl-stage, .owl-stage-outer {
  width: 1125px !important;
}


/* owl carousel end */

@media (max-width:1024px) {

  .container {
    width: 960px;
  }

  .header__searchLine-alarm {
    margin-top: -248px;
    margin-left: 913px;
  }

  .slider {
    width: 959px;
  }
  .header__sections-main, .header__sections-about, .header__sections-contacts {
    display: none;
  }
  
  .no-js .owl-carousel, .owl-carousel.owl-loaded{
      width: 947px !important;
      margin: 10px auto;
  }

  .owl-stage-outer {
    width: 897px !important;
  }

  .header__menu {
    margin-left: -3px !important;
  }

  .header__menu-etc-icon {
    margin-top: -80px;
    margin-left: 918px;
    padding-left: 0;
  }

  .header__menu-kitchen-icon {
    padding-left: 39px !important;
  }

  .in-check-box {
    width: 959px;
    margin-left: 0;
  }

  .totalQuantity {
    margin-left: 0;
    width: 950px;
  }
  .in-check, .shoping__item {
    width: 959px;
  }
  .shoping__item {
    margin-top: 10px;
    margin-left: 0;
  }
  .item_size {
    margin-left: -57px;
  }
  .item_width {
    margin-left: -35px;
  }
  .item_x {
    grid-area: x;
    margin-left: -77px;
  }
  .item_depth {
    margin-left: -147px;
  }
  .item_x2 {
    margin-left: -188px;
  }
  .item_height {
    margin-left: -258px;
  }
  .totalSumBox__text {
    margin-left: 519px;
  }
  .random4items__box {
    width: 959px;
    margin-left: 0;
    justify-content: start
  }
  .bestsellers__box-item {
    width: 239px;
  }
  .toBascet__add {
    width: 197px;
  }
  .random4items__header {
    margin-left: 0;
  }
  footer {
    width: 959px;
  }
}